	<footer>
		<section class="footerTop">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
						<div class="footerTopCounter locationsCounter">
							<h2><span>2886</span></h2>
							<h3>Locations</h3>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
						<div class="footerTopCounter moviesCounter">
							<h2><span>558</span></h2>
							<h3>Movies</h3>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
						<div class="footerTopCounter scenesCounter">
							<h2><span>5545</span></h2>
							<h3>Scenes</h3>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="footerBottom">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<div class="footerBottomIn">
							<ul>
								<li><a href="scenes.html">Scenes</a></li>
								<li><a href="locations.html">Locations</a></li>
								<li><a href="movies.html">Movies</a></li>
								<li><a href="map.html">Map</a></li>
								<li><a href="trips.html">Trips</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="footerBottomIn">
							<ul>
								<li><a href="ourstaff.html">Our staff</a></li>
								<li><a href="policy.html">Privacy Policy</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="footerBottomIn">
							<div class="footerSocial">
								<ul>
									<li><a href="https://www.facebook.com/MovieTripApp" target="_blank"><i class="fnicon-facebook-f"></i></a></li>
									<li><a href="https://www.twitter.com/MovieTripApp" target="_blank"><i class="fnicon-twitter"></i></a></li>
									<li><a href="https://www.instagram.com/movietripapp/" target="_blank"><i class="fnicon-instagram"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</footer>
	<!-- Add Movie Modal -->
	<% include modals/_add-movie %>
	<!-- Add Movie Modal End -->
	<!-- Add Location Modal -->
	<% include modals/_add-location %>
	<!-- Add Location Modal End -->
	<script type="text/javascript" src="js/vendor/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/vendor/swiper-3.4.1.jquery.min.js"></script>
	<script type="text/javascript" src="js/vendor/markerclusterer.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.adaptive-backgrounds.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>