<body class="page-<%= pageId %>" itemscope itemtype="http://schema.org/WebPage">
	<!-- Header -->
	<header>
		<div class="container">
			<div class="row">
				<div class="headerCenter col-xs-12">
					<div class="headerLeft">
						<!-- Header Logo -->
						<div class="headerLogo">
							<a href="index.html">
								<figure>
									<img src="img/movietrip-logo.png" alt="MovieTrip" title="MovieTrip" />
								</figure>
							</a>
						</div>
						<!-- Header Logo End -->
					</div>
					<div class="headerRight">
						<div class="headerRightIn">
							<!-- Header Menu -->
							<div class="headerMenu dropdown">
								<a class="dropdown-toggle hidden-sm hidden-md hidden-lg" href="#" id="headerMenuDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span></span>
									<span></span>
									<span></span>
								</a>
								<ul class="dropdown-menu" aria-labelledby="headerMenuDrop">
									<li><a href="scenes.html">Scenes</a></li>
									<li><a href="locations.html">Locations</a></li>
									<li><a href="movies.html">Movies</a></li>
									<li><a href="map.html">Map</a></li>
									<li><a href="trips.html">Trips</a></li>
									<li><a href="blog.html">Blog</a></li>
									<li><a class="selected" href="my.html">My</a></li>
								</ul>
							</div>
							<!-- Header Menu end -->
							<!-- Header User -->
							<div class="headerUserBlock dropdown">
								<a href="#" class="headerMenuUser" id="headerMenuLoginDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
								<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="headerMenuLoginDrop">
									<li>
										<div class="headerLogin tab-content">
											<div role="tabpanel" class="tab-pane active" id="headerLogin">
												<form action="">
													<div class="headerLoginTitle">
														<h2>Welcome Benjamin!</h2>
													</div>
													<div class="headerLoginBtns">
														<div class="headerLoginBtnsIn">
															<div class="headerLoginBtnsBottom">
																<a href="#">Sign Out</a>
															</div>
														</div>
													</div>
												</form>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<!-- Header User End -->
							<!-- Header Search -->
							<div class="headerSearch">
								<form method="get" action="">
									<div class="headerSearchInner">
										<label for="mtSearchInput"></label>
										<input id="mtSearchInput" type="search" placeholder="Type your search here" value="" name="search" />
									</div>
									<button type="submit" id="mtSearchSubmit"><i class="fnicon-search"></i></button>
								</form>
							</div>
							<!-- Header Search End -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header end -->