<body class="page-<%= pageId %>" itemscope itemtype="http://schema.org/WebPage">
	<!-- Header -->
	<header>
		<div class="container">
			<div class="row">
				<div class="headerCenter col-xs-12">
					<div class="headerLeft">
						<!-- Header Logo -->
						<div class="headerLogo">
							<a href="index.html">
								<figure>
									<img src="img/movietrip-logo.png" alt="MovieTrip" title="MovieTrip" />
								</figure>
							</a>
						</div>
						<!-- Header Logo End -->
					</div>
					<div class="headerRight">
						<div class="headerRightIn">
							<!-- Header Menu -->
							<div class="headerMenu dropdown">
								<a class="dropdown-toggle hidden-sm hidden-md hidden-lg" href="#" id="headerMenuDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span></span>
									<span></span>
									<span></span>
								</a>
								<ul class="dropdown-menu" aria-labelledby="headerMenuDrop">
									<li><a href="scenes.html">Scenes</a></li>
									<li><a href="locations.html">Locations</a></li>
									<li><a href="movies.html">Movies</a></li>
									<li><a href="map.html">Map</a></li>
									<li><a href="trips.html">Trips</a></li>
									<li><a href="blog.html">Blog</a></li>
								</ul>
							</div>
							<!-- Header Menu end -->
							<!-- Header User -->
							<div class="headerUserBlock dropdown">
								<a href="#" class="headerMenuUser" id="headerMenuLoginDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
								<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="headerMenuLoginDrop">
									<li>
										<div class="headerLogin tab-content">
											<div role="tabpanel" class="tab-pane active" id="headerLogin">
												<form action="">
													<div class="headerLoginTitle">
														<h2>Login to <strong>MovieTrip</strong></h2>
													</div>
													<div class="headerLoginForms">
														<label>
															<input type="email" placeholder="Email" id="loginEmail" name="loginEmail" required="">
														</label>
														<label>
															<input type="password" placeholder="Password" id="loginPass" name="loginPass" required="">
														</label>
														<div class="headerLoginToolbar">
															<div class="styledCheckbox">
																<label>
																	<input type="checkbox" id="loginRemember" name="loginRemember">
																	<!--span>Remember me</span-->
																</label>
															</div>
															<div class="loginProblemsLink">
																<!--a href="#">Login Problems</a-->
															</div>
														</div>
													</div>
													<div class="headerLoginBtns">
														<div class="headerLoginBtnsIn">
															<div class="headerLoginBtnsTop">
																<a href="/socauth/index/provider/facebook/"><i class="fnicon-facebook"></i></a>
																<input type="submit" value="Sign In">
															</div>
															<div class="headerLoginBtnsBottom">
																<a href="#headerRegister" aria-controls="headerRegister" role="tab" data-toggle="tab">Sign Up</a>
															</div>
														</div>
													</div>
												</form>
											</div>
											<div role="tabpanel" class="tab-pane" id="headerRegister">
												<form action="">
													<div class="headerLoginTitle">
														<h2>Registration on <strong>MovieTrip</strong></h2>
													</div>
													<div class="headerLoginForms">
														<label>
															<input type="email" placeholder="Email" id="regEmail" name="regEmail" required="required" />
														</label>
														<label>
															<input type="text" placeholder="Username" id="regUsername" name="regUsername" required="required" />
														</label>
														<label>
															<input type="password" placeholder="Password" id="regPass" name="regPass" required="required" />
														</label>
														<label>
															<input type="password" placeholder="Confirm Password" id="regConfirmPass" name="regConfirmPass" required="required" />
														</label>
														<div class="headerLoginToolbar">
															<div class="styledCheckbox">
																<label>
																	<input type="checkbox" id="loginRemember" name="loginRemember">
																	<!--span>Remember me</span-->
																</label>
															</div>
															<div class="loginProblemsLink">
																<!--a href="#">Login Problems</a-->
															</div>
														</div>
													</div>
													<div class="headerLoginBtns">
														<div class="headerLoginBtnsIn">
															<div class="headerLoginBtnsTop">
																<a href="/socauth/index/provider/facebook/"><i class="fnicon-facebook"></i></a>
																<input type="submit" value="Register">
															</div>
															<div class="headerLoginBtnsBottom">
																<a href="#headerLogin" aria-controls="headerLogin" role="tab" data-toggle="tab">Sign In</a>
															</div>
														</div>
													</div>
												</form>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<!-- Header User End -->
							<!-- Header Search -->
							<div class="headerSearch">
								<form method="get" action="">
									<div class="headerSearchInner">
										<label for="mtSearchInput"></label>
										<input id="mtSearchInput" type="search" placeholder="Type your search here" value="" name="search" />
									</div>
									<button type="submit" id="mtSearchSubmit"><i class="fnicon-search"></i></button>
								</form>
							</div>
							<!-- Header Search End -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header end -->