<div class="modal fade mtModal" id="addLocationModal" tabindex="-1" role="dialog" aria-labelledby="addLocationModalToggle">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fnicon-close"></i></span></button>
				<h4 class="modal-title" id="addLocationModalLabel">Add Location</h4>
			</div>
			<div class="modal-body">
				<section class="addForm">
					<form action="">
						<div class="row">
							<div class="col-xs-12">
								<h3>1. Insert first step information</h3>
							</div>
							<div class="col-xs-12 col-md-6">
								<div class="form-group">
									<label for="addLocationModalName">Name</label>
									<input type="text" id="addLocationModalName" class="mtInput" />
								</div>
							</div>
							<div class="col-xs-12 col-md-6">
								<div class="form-group">
									<label for="addLocationModalType">Type</label>
									<div class="mtSelect dropdown">
										<button class="dropdown-toggle" type="button" id="addLocationModalTypeDrop" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
											Select type
										</button>
										<ul class="dropdown-menu" aria-labelledby="addLocationModalTypeDrop">
											<li><a class="selected" href="#">Action</a></li>
											<li><button type="button">Drama</button></li>
											<li><a href="#">Crime</a></li>
											<li><a href="#">Historical</a></li>
											<li><a href="#">Horror</a></li>
											<li><a href="#">Musical</a></li>
											<li><a href="#">Sci-Fi</a></li>
											<li><a href="#">War</a></li>
											<li><a href="#">Western</a></li>
											<li><a href="#">Animation</a></li>
											<li><a href="#">Biographical</a></li>
											<li><a href="#">Noir</a></li>
											<li><a href="#">Thriller</a></li>
											<li><a href="#">Fantasy</a></li>
											<li><a href="#">Melodrama</a></li>
											<li><a href="#">Suspense</a></li>
											<li><a href="#">Mystery</a></li>
											<li><a href="#">Romance</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-md-6">
								<div class="form-group">
									<label for="addLocationModalCountry">Country</label>
									<div class="mtSelect dropdown">
										<button class="dropdown-toggle" type="button" id="addLocationModalCountryDrop" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
											Select country
										</button>
										<ul class="dropdown-menu" aria-labelledby="addLocationModalCountryDrop">
											<li><a class="selected" href="#">Action</a></li>
											<li><button type="button">Drama</button></li>
											<li><a href="#">Crime</a></li>
											<li><a href="#">Historical</a></li>
											<li><a href="#">Horror</a></li>
											<li><a href="#">Musical</a></li>
											<li><a href="#">Sci-Fi</a></li>
											<li><a href="#">War</a></li>
											<li><a href="#">Western</a></li>
											<li><a href="#">Animation</a></li>
											<li><a href="#">Biographical</a></li>
											<li><a href="#">Noir</a></li>
											<li><a href="#">Thriller</a></li>
											<li><a href="#">Fantasy</a></li>
											<li><a href="#">Melodrama</a></li>
											<li><a href="#">Suspense</a></li>
											<li><a href="#">Mystery</a></li>
											<li><a href="#">Romance</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-md-6">
								<div class="form-group">
									<label for="addLocationModalCity">City</label>
									<input type="text" id="addLocationModalCity" class="mtInput" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<h3>2. Insert second step information</h3>
							</div>
							<div class="col-xs-12">
								<div class="form-group">
									<label for="addLocationModalAddress">Address</label>
									<input type="text" id="addLocationModalAddress" class="mtInput" />
								</div>
							</div>
							<div class="col-xs-12">
								<div class="form-group">
									<div class="mapWrap">
										<div id="map_canvas">
											Here will be the map
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-12">
								<div class="form-group">
									<label for="addLocationModalImage">Image</label>
									<div class="mtImage">
										<input type="file" id="addLocationModalImage" class="hidden" hidden>
										<div class="mtImageLeft">
											<div class="mtImageLeftIn">
												<div class="mtImageLeftInside">
													<h2>No image</h2>
													<figure>
														<img src="img/frontend/img-3.png" alt="" />
													</figure>
												</div>
											</div>
										</div>
										<div class="mtImageRight">
											<div class="mtImageRightIn">
												<div class="mtImageRightInside">
													<label for="addLocationModalImage">
														<span>Upload image</span>
													</label>
													<span>or select from <a href="#">existing</a></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</section>
			</div>
			<div class="modal-footer">
				<div class="mtModalFooterBtns">
					<div class="pageNext">
						<button type="button" data-dismiss="modal">Send for approval</button>
						<button type="button" data-dismiss="modal" class="closeModal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>