<div class="modal fade mtModal" id="addMovieModal" tabindex="-1" role="dialog" aria-labelledby="addMovieModalToggle">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fnicon-close"></i></span></button>
				<h4 class="modal-title" id="addMovieModalLabel">Add Movie</h4>
			</div>
			<div class="modal-body">
				<section class="addForm">
					<form action="">
						<div class="row">
							<div class="col-xs-12">
								<h3>1. Insert first step information</h3>
							</div>
							<div class="col-xs-12">
								<div class="form-group">
									<label for="addMovieModalName">Name</label>
									<input type="text" id="addMovieModalName" class="mtInput" />
								</div>
							</div>
							<div class="col-xs-12">
								<div class="form-group">
									<label for="addMovieModalGenre">Genre(s)</label>
									<div class="mtTags dropdown">
										<h2>
											<span>Action</span>
											<a href="#"><i class="fnicon-close"></i></a>
										</h2>
										<h2>
											<span>Adventure</span>
											<a href="#"><i class="fnicon-close"></i></a>
										</h2>
										<h2>
											<span>Comedy</span>
											<a href="#"><i class="fnicon-close"></i></a>
										</h2>
										<button class="dropdown-toggle" type="button" id="addMovieModalGenreDrop" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
											Add Genre
										</button>
										<ul class="dropdown-menu" aria-labelledby="addMovieModalGenreDrop">
											<li><a class="selected" href="#">Action</a></li>
											<li><a class="selected" href="#">Adventure</a></li>
											<li><a class="selected" href="#">Comedy</a></li>
											<li><button type="button">Drama</button></li>
											<li><a href="#">Crime</a></li>
											<li><a href="#">Historical</a></li>
											<li><a href="#">Horror</a></li>
											<li><a href="#">Musical</a></li>
											<li><a href="#">Sci-Fi</a></li>
											<li><a href="#">War</a></li>
											<li><a href="#">Western</a></li>
											<li><a href="#">Animation</a></li>
											<li><a href="#">Biographical</a></li>
											<li><a href="#">Noir</a></li>
											<li><a href="#">Thriller</a></li>
											<li><a href="#">Fantasy</a></li>
											<li><a href="#">Melodrama</a></li>
											<li><a href="#">Suspense</a></li>
											<li><a href="#">Mystery</a></li>
											<li><a href="#">Romance</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-xs-12">
								<div class="form-group">
									<label for="addMovieModalDirectors">Director(s)</label>
									<div class="mtTags">
										<h2>
											<span>Vagharshak Haroyan</span>
											<a href="#"><i class="fnicon-close"></i></a>
										</h2>
										<h2>
											<span>Heriqnaz Stepanyan</span>
											<a href="#"><i class="fnicon-close"></i></a>
										</h2>
										<h2>
											<span>Roberto Carlos</span>
											<a href="#"><i class="fnicon-close"></i></a>
										</h2>
										<label>
											<input type="text" placeholder="Add Director" name="addMovieModalDirectors" id="addMovieModalDirectors" />
											<button type="button"><span>+</span></button>
										</label>
									</div>
								</div>
							</div>
							<div class="col-xs-12">
								<div class="form-group">
									<label for="addMovieModalActors">Actors</label>
									<div class="mtTags">
										<h2>
											<span>Vagharshak Haroyan</span>
											<a href="#"><i class="fnicon-close"></i></a>
										</h2>
										<h2>
											<span>Heriqnaz Stepanyan</span>
											<a href="#"><i class="fnicon-close"></i></a>
										</h2>
										<h2>
											<span>Roberto Carlos</span>
											<a href="#"><i class="fnicon-close"></i></a>
										</h2>
										<label>
											<input type="text" placeholder="Add Actor" name="addMovieModalActors" id="addMovieModalActors" />
											<button type="button"><span>+</span></button>
										</label>
									</div>
								</div>
							</div>
							<div class="col-xs-12">
								<div class="form-group">
									<label for="addMovieModalDescription">Description</label>
									<textarea name="addMovieModalDescription" id="addMovieModalDescription" class="mtInput" cols="" rows="6"></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<h3>2. Insert second step information</h3>
							</div>
							<div class="col-xs-12">
								<div class="form-group">
									<label for="addMovieModalCountry">Country</label>
									<div class="mtTags dropdown">
										<h2>
											<span>Aruba</span>
											<a href="#"><i class="fnicon-close"></i></a>
										</h2>
										<h2>
											<span>Antigua and Barbuda</span>
											<a href="#"><i class="fnicon-close"></i></a>
										</h2>
										<h2>
											<span>United Arab Emirates</span>
											<a href="#"><i class="fnicon-close"></i></a>
										</h2>
										<button class="dropdown-toggle" type="button" id="addMovieModalCountryDrop" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
											Add Country
										</button>
										<ul class="dropdown-menu" aria-labelledby="addMovieModalCountryDrop">
											<li><a class="selected" href="#">Aruba</a></li>
											<li><a class="selected" href="#">Antigua and Barbuda</a></li>
											<li><a class="selected" href="#">United Arab Emirates</a></li>
											<li><a href="#">Afghanistan</a></li>
											<li><a href="#">Algeria</a></li>
											<li><a href="#">Azerbaijan</a></li>
											<li><a href="#">Albania</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-md-2">
								<div class="form-group">
									<label for="addMovieModalYear">Year</label>
									<input type="number" id="addMovieModalYear" class="mtInput" min="1896" max="2017" placeholder="2017" />
								</div>
							</div>
							<div class="col-xs-12 col-md-10">
								<div class="form-group">
									<label for="addMovieModalTags">Tags</label>
									<div class="mtTags">
										<h2>
											<span>Tag 1</span>
											<a href="#"><i class="fnicon-close"></i></a>
										</h2>
										<h2>
											<span>Tag 3</span>
											<a href="#"><i class="fnicon-close"></i></a>
										</h2>
										<h2>
											<span>Al Pacino</span>
											<a href="#"><i class="fnicon-close"></i></a>
										</h2>
										<label>
											<input type="text" placeholder="Add Tag" name="addMovieModalTags" id="addMovieModalTags" />
											<button type="button"><span>+</span></button>
										</label>
									</div>
								</div>
							</div>
							<div class="col-xs-12">
								<div class="form-group">
									<label for="addMovieModalImage">Image</label>
									<div class="mtImage mtMovieImage">
										<input type="file" id="addMovieModalImage" class="hidden" hidden>
										<div class="mtImageLeft">
											<div class="mtImageLeftIn">
												<div class="mtImageLeftInside">
													<h2>No image</h2>
													<figure>
														<img src="img/frontend/movie-1.jpg" alt="" />
													</figure>
												</div>
											</div>
										</div>
										<div class="mtImageRight">
											<div class="mtImageRightIn">
												<div class="mtImageRightInside">
													<label for="addMovieModalImage">
														<span>Upload image</span>
													</label>
													<span>or select from <a href="#">existing</a></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</section>
			</div>
			<div class="modal-footer">
				<div class="mtModalFooterBtns">
					<div class="pageNext">
						<button type="button" data-dismiss="modal">Send for approval</button>
						<button type="button" data-dismiss="modal" class="closeModal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>