$item-badge-color: #4a5055;

$color-body-bg: #ffffff;

$color-header-bg: #1f222b;

.headerBG {
	background: -moz-linear-gradient(45deg, rgba(0,167,157,1) 0%, rgba(39,170,225,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,167,157,1)), color-stop(100%, rgba(39,170,225,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(45deg, rgba(0,167,157,1) 0%, rgba(39,170,225,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(45deg, rgba(0,167,157,1) 0%, rgba(39,170,225,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(0,167,157,1) 0%, rgba(39,170,225,1) 100%); /* ie10+ */
	background: linear-gradient(45deg, rgba(0,167,157,1) 0%, rgba(39,170,225,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27AAE1', endColorstr='#00A79D',GradientType=1 ); /* ie6-9 */
}

$color-header-menu: #ffffff;
$color-header-menu-hover: #1B2D31;
$color-header-menu-focus: #1B2D31;

$color-header-menu-user-hover: #588065;
$color-header-menu-user-hover-bg: $color-header-menu;

$color-home-week-trip-cover-overlay: rgba(255, 255, 255, 0.35);
$color-home-week-trip-title: #1f222b;

$color-home-popular-promo: #1f222b;
$color-home-popular-promo-hover: #990303;
$color-home-popular-promo-border: #1f222b;

$color-promo-block-top-link: #000000;
$color-promo-block-top-link-bg: #ffeca8;
$color-promo-block-top-link-border: #ffeca8;
$color-promo-block-top-link-hover: #ffffff;

$color-promo-block-info: #ffffff;

$color-promo-location-block-bg: #05306a;
$color-promo-scene-block-bg: #990303;
$color-promo-blog-block-bg: #1b2d31;
$color-promo-blog-block-bg-light: rgba(#1b2d31, 0.5);
$color-promo-movie-block-bg: #559ede;

$color-quote-block: #ffffff;

$color-cousine-bg: #ae2d18;

$color-home-movies-bg: #000000;

$color-special-location-caption: #ffffff;
$color-special-location-caption-bg: #1f222b;

$color-visit-block: #cbb473;
$color-visit-block-border: #cbb473;
$color-visit-block-hover: #b89930;
$color-visit-block-title: #b89930;

$color-location-inside-top: #ffffff;
$color-location-inside-top-title-bg: rgba(5, 48, 106, 0.5);
$color-location-inside-top-bg: #eff4ff;
$color-location-inside-top-info: #1f222b;
$color-location-inside-top-info-border: #1f222b;
$color-location-inside-top-info-social-border: #000000;

$color-scene-inside-top: #ffffff;
$color-scene-inside-top-title-bg: rgba(153, 3, 3, 0.5);
$color-scene-inside-top-bg: #decfcf;
$color-scene-inside-top-info: #1f222b;
$color-scene-inside-top-info-border: #1f222b;
$color-scene-inside-top-info-social-border: #000000;

$color-related-title: #1f222b;

$color-create-block: #1f222b;
$color-create-block-border: #000000;
$color-create-block-bg: #ffffff;

$color-register: $color-header-bg;
$color-register-border: $color-header-bg;
$color-register-bg: #ffffff;

$color-register-submit: #fff8f1;
$color-register-submit-bg: #1f222b;
$color-register-submit-bg-hover: #8ecfa4;

$color-register-fb: #3a5795;
$color-register-fb-bg: #ffffff;
$color-register-fb-border: #3a5795;
$color-register-fb-hover: $color-register;
$color-register-fb-border-hover: $color-register-border;

$color-profile-top-bg: #eff4ff;
$color-profile-pic-link-bg: #ef4130;

$color-profile-title-primary: #ffffff;
$color-profile-title-edit-link-bg: #ef4130;
$color-profile-title-secondary: #ffffff;
$color-profile-title-text: #ffffff;

$color-profile-menu: #ffffff;
$color-profile-menu-selected: #f15343;
$color-profile-menu-border: #ffffff;
$color-profile-menu-border-secondary: #ef4130;

$color-profile-in-empty: #1f222b;
$color-profile-in-empty-border: #000000;
$color-profile-movies-empty-bg: #c8e4fd;
$color-profile-scenes-empty-bg: #fde3c8;
$color-profile-locations-empty-bg: #ffbc79;

$color-movie-inside-top-bg: #010615;
$color-movie-inside-top-info: #ffffff;
$color-movie-inside-top-info-border: #ffffff;
$color-movie-inside-top-info-social-border: #ffffff;
$color-movie-inside-top-img-right: #ffffff;

$color-movies-inside-top: #1f222b;
$color-movies-inside-top-bg: rgba(255, 255, 255, 0.7);

$color-styled-checkbox: #588065;
$color-styled-checkbox-bg: #588065;
$color-styled-checkbox-border: #588065;

$color-map-filter: #1f222b;
$color-map-filter-bg: $color-body-bg;
$color-map-filter-bg-hover: #ffc20e;
$color-map-filter-border: #e0e0e0;

$color-create-top-bg: #8ecfa4;
$color-create-top-in-bg: #82ca9c;
$color-create-top-in-input: #82ca9c;

$color-create-bottom-bg: #f15343;
$color-create-bottom-in-bg: #ef4130;
$color-create-bottom-in-input: #ef4130;

$color-create-title: #ffffff;
$color-create-title-border: #ffffff;
$color-create-input-bg: #ffffff;
$color-create-input-border: #ffffff;

$color-create-upload-input: #ffffff;
$color-create-upload-input-bg: #82ca9c;

$color-create-upload-bottom: #fdfdfd;

$color-create-submit: #ffffff;
$color-create-submit-border: #ffffff;