$mticon-airport: "\e900";
$mticon-airport-color: "\e901";
$mticon-apartment: "\e902";
$mticon-apartment-color: "\e903";
$mticon-arch: "\e904";
$mticon-arch-color: "\e905";
$mticon-bakery: "\e906";
$mticon-bakery-color: "\e907";
$mticon-bank: "\e908";
$mticon-bank-color: "\e909";
$mticon-bar: "\e90a";
$mticon-bar-color: "\e90b";
$mticon-bridge: "\e90c";
$mticon-bridge-color: "\e90d";
$mticon-building: "\e90e";
$mticon-building-color: "\e90f";
$mticon-cafe: "\e910";
$mticon-cafe-color: "\e911";
$mticon-casino: "\e912";
$mticon-casino-color: "\e913";
$mticon-castle: "\e942";
$mticon-castle-color: "\e943";
$mticon-cemetery: "\e914";
$mticon-cemetery-color: "\e915";
$mticon-church: "\e916";
$mticon-church-color: "\e917";
$mticon-cinema: "\e918";
$mticon-cinema-color: "\e919";
$mticon-club: "\e91a";
$mticon-club-color: "\e91b";
$mticon-crossroad: "\e91c";
$mticon-crossroad-color: "\e91d";
$mticon-fountain: "\e91e";
$mticon-fountain-color: "\e91f";
$mticon-hospital: "\e944";
$mticon-hospital-color: "\e945";
$mticon-hotel: "\e920";
$mticon-hotel-color: "\e921";
$mticon-jail: "\e922";
$mticon-jail-color: "\e923";
$mticon-metro: "\e924";
$mticon-metro-color: "\e925";
$mticon-monument: "\e926";
$mticon-monument-color: "\e927";
$mticon-museum: "\e928";
$mticon-museum-color: "\e929";
$mticon-nature: "\e92a";
$mticon-nature-color: "\e92b";
$mticon-park: "\e92c";
$mticon-park-color: "\e92d";
$mticon-restaurant: "\e92e";
$mticon-restaurant-color: "\e92f";
$mticon-shop: "\e930";
$mticon-shop-color: "\e931";
$mticon-sport: "\e932";
$mticon-sport-color: "\e933";
$mticon-square: "\e934";
$mticon-square-color: "\e935";
$mticon-street: "\e936";
$mticon-street-color: "\e937";
$mticon-theatre: "\e938";
$mticon-theatre-color: "\e939";
$mticon-tower: "\e93a";
$mticon-tower-color: "\e93b";
$mticon-train: "\e93c";
$mticon-train-color: "\e93d";
$mticon-education: "\e93e";
$mticon-university: "\e93e";
$mticon-school: "\e93e";
$mticon-education-color: "\e93f";
$mticon-university-color: "\e93f";
$mticon-school-color: "\e93f";
$mticon-other: "\e940";
$mticon-other-color: "\e941";

$fnicon-arrow-down: "\e914";
$fnicon-arrow-left: "\e915";
$fnicon-arrow-right: "\e916";
$fnicon-arrow-up: "\e917";
$fnicon-chevron-down: "\e918";
$fnicon-chevron-left: "\e919";
$fnicon-chevron-right: "\e91a";
$fnicon-chevron-up: "\e91b";
$fnicon-close: "\e900";
$fnicon-delete: "\e900";
$fnicon-x: "\e900";
$fnicon-edit: "\e901";
$fnicon-pencil: "\e901";
$fnicon-editors-choice: "\e907";
$fnicon-editors-choice-color: "\e908";
$fnicon-facebook: "\e909";
$fnicon-facebook-f: "\e90a";
$fnicon-google: "\e90b";
$fnicon-gplus: "\e90c";
$fnicon-instagram: "\e90d";
$fnicon-location: "\e903";
$fnicon-movie: "\e904";
$fnicon-photo: "\e905";
$fnicon-camera: "\e905";
$fnicon-pinterest: "\e90e";
$fnicon-pinterest-outline: "\e90f";
$fnicon-profile: "\e906";
$fnicon-user: "\e906";
$fnicon-search: "\e910";
$fnicon-share: "\e913";
$fnicon-spinner: "\e902";
$fnicon-loader: "\e902";
$fnicon-twitter: "\e911";
$fnicon-warning: "\e91c";
$fnicon-warning-outline: "\e91d";
$fnicon-youtube: "\e912";