@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,900,900i);
@import "font-variables";

$font-base: 18px;
$fontSansPro: "Roboto", sans-serif;

//@font-face {
//  font-family: "movietrip";
//  src: url("../fonts/movietrip.eot?6n84wq");
//  src: url("../fonts/movietrip.eot?6n84wq#iefix") format("embedded-opentype"),
//  url("../fonts/movietrip.ttf?6n84wq") format("truetype"),
//  url("../fonts/movietrip.woff?6n84wq") format("woff"),
//  url("../fonts/movietrip.svg?6n84wq#movietrip") format("svg");
//  font-weight: normal;
//  font-style: normal;
//}

$font-path: "../fonts";

@font-face {
	font-family: "movietrip";
	src: url("#{$font-path}/movietrip.ttf?t2fnm9") format("truetype"), url("#{$font-path}/movietrip.woff?t2fnm9") format("woff"), url("#{$font-path}/movietrip.svg?t2fnm9#movietrip") format("svg");
	font-weight: normal;
	font-style: normal;
}

.mticon {
	font-family: "movietrip" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="mticon-"], [class*=" mticon-"] {
	font-family: "movietrip" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&:before {
		z-index: 2;
	}
	&:after {
		z-index: 1;
	}
}

.mticon-airport {
	&:before {
		content: $mticon-airport;
	}
	&:after {
		content: $mticon-airport-color;
	}
}

.mticon-airport-color {
	&:before {
		content: $mticon-airport-color;
	}
}

.mticon-apartment {
	&:before {
		content: $mticon-apartment;
	}
	&:after {
		content: $mticon-apartment-color;
	}
}

.mticon-apartment-color {
	&:before {
		content: $mticon-apartment-color;
	}
}

.mticon-arch {
	&:before {
		content: $mticon-arch;
	}
	&:after {
		content: $mticon-arch-color;
	}
}

.mticon-arch-color {
	&:before {
		content: $mticon-arch-color;
	}
}

.mticon-bakery {
	&:before {
		content: $mticon-bakery;
	}
	&:after {
		content: $mticon-bakery-color;
	}
}

.mticon-bakery-color {
	&:before {
		content: $mticon-bakery-color;
	}
}

.mticon-bank {
	&:before {
		content: $mticon-bank;
	}
	&:after {
		content: $mticon-bank-color;
	}
}

.mticon-bank-color {
	&:before {
		content: $mticon-bank-color;
	}
}

.mticon-bar {
	&:before {
		content: $mticon-bar;
	}
	&:after {
		content: $mticon-bar-color;
	}
}

.mticon-bar-color {
	&:before {
		content: $mticon-bar-color;
	}
}

.mticon-bridge {
	&:before {
		content: $mticon-bridge;
	}
	&:after {
		content: $mticon-bridge-color;
	}
}

.mticon-bridge-color {
	&:before {
		content: $mticon-bridge-color;
	}
}

.mticon-building {
	&:before {
		content: $mticon-building;
	}
	&:after {
		content: $mticon-building-color;
	}
}

.mticon-building-color {
	&:before {
		content: $mticon-building-color;
	}
}

.mticon-cafe {
	&:before {
		content: $mticon-cafe;
	}
	&:after {
		content: $mticon-cafe-color;
	}
}

.mticon-cafe-color {
	&:before {
		content: $mticon-cafe-color;
	}
}

.mticon-casino {
	&:before {
		content: $mticon-casino;
	}
	&:after {
		content: $mticon-casino-color;
	}
}

.mticon-casino-color {
	&:before {
		content: $mticon-casino-color;
	}
}

.mticon-castle {
	&:before {
		content: $mticon-castle;
	}
	&:after {
		content: $mticon-castle-color;
	}
}

.mticon-castle-color {
	&:before {
		content: $mticon-castle-color;
	}
}

.mticon-cemetery {
	&:before {
		content: $mticon-cemetery;
	}
	&:after {
		content: $mticon-cemetery-color;
	}
}

.mticon-cemetery-color {
	&:before {
		content: $mticon-cemetery-color;
	}
}

.mticon-church {
	&:before {
		content: $mticon-church;
	}
	&:after {
		content: $mticon-church-color;
	}
}

.mticon-church-color {
	&:before {
		content: $mticon-church-color;
	}
}

.mticon-cinema {
	&:before {
		content: $mticon-cinema;
	}
}

.mticon-cinema-color {
	&:before {
		content: $mticon-cinema-color;
	}
}

.mticon-club {
	&:before {
		content: $mticon-club;
	}
}

.mticon-club-color {
	&:before {
		content: $mticon-club-color;
	}
}

.mticon-crossroad {
	&:before {
		content: $mticon-crossroad;
	}
	&:after {
		content: $mticon-crossroad-color;
	}
}

.mticon-crossroad-color {
	&:before {
		content: $mticon-crossroad-color;
	}
}

.mticon-fountain {
	&:before {
		content: $mticon-fountain;
	}
	&:after {
		content: $mticon-fountain-color;
	}
}

.mticon-fountain-color {
	&:before {
		content: $mticon-fountain-color;
	}
}

.mticon-hospital {
	&:before {
		content: $mticon-hospital;
	}
	&:after {
		content: $mticon-hospital-color;
	}
}

.mticon-hospital-color {
	&:before {
		content: $mticon-hospital-color;
	}
}

.mticon-hotel {
	&:before {
		content: $mticon-hotel;
	}
	&:after {
		content: $mticon-hotel-color;
	}
}

.mticon-hotel-color {
	&:before {
		content: $mticon-hotel-color;
	}
}

.mticon-jail {
	&:before {
		content: $mticon-jail;
	}
	&:after {
		content: $mticon-jail-color;
	}
}

.mticon-jail-color {
	&:before {
		content: $mticon-jail-color;
	}
}

.mticon-metro {
	&:before {
		content: $mticon-metro;
	}
	&:after {
		content: $mticon-metro-color;
	}
}

.mticon-metro-color {
	&:before {
		content: $mticon-metro-color;
	}
}

.mticon-monument {
	&:before {
		content: $mticon-monument;
	}
	&:after {
		content: $mticon-monument-color;
	}
}

.mticon-monument-color {
	&:before {
		content: $mticon-monument-color;
	}
}

.mticon-museum {
	&:before {
		content: $mticon-museum;
	}
	&:after {
		content: $mticon-museum-color;
	}
}

.mticon-museum-color {
	&:before {
		content: $mticon-museum-color;
	}
}

.mticon-nature {
	&:before {
		content: $mticon-nature;
	}
	&:after {
		content: $mticon-nature-color;
	}
}

.mticon-nature-color {
	&:before {
		content: $mticon-nature-color;
	}
}

.mticon-park {
	&:before {
		content: $mticon-park;
	}
	&:after {
		content: $mticon-park-color;
	}
}

.mticon-park-color {
	&:before {
		content: $mticon-park-color;
	}
}

.mticon-restaurant {
	&:before {
		content: $mticon-restaurant;
	}
	&:after {
		content: $mticon-restaurant-color;
	}
}

.mticon-restaurant-color {
	&:before {
		content: $mticon-restaurant-color;
	}
}

.mticon-shop {
	&:before {
		content: $mticon-shop;
	}
	&:after {
		content: $mticon-shop-color;
	}
}

.mticon-shop-color {
	&:before {
		content: $mticon-shop-color;
	}
}

.mticon-sport {
	&:before {
		content: $mticon-sport;
	}
	&:after {
		content: $mticon-sport-color;
	}
}

.mticon-sport-color {
	&:before {
		content: $mticon-sport-color;
	}
}

.mticon-square {
	&:before {
		content: $mticon-square;
	}
	&:after {
		content: $mticon-square-color;
	}
}

.mticon-square-color {
	&:before {
		content: $mticon-square-color;
	}
}

.mticon-street {
	&:before {
		content: $mticon-street;
	}
	&:after {
		content: $mticon-street-color;
	}
}

.mticon-street-color {
	&:before {
		content: $mticon-street-color;
	}
}

.mticon-theatre {
	&:before {
		content: $mticon-theatre;
	}
	&:after {
		content: $mticon-theatre-color;
	}
}

.mticon-theatre-color {
	&:before {
		content: $mticon-theatre-color;
	}
}

.mticon-tower {
	&:before {
		content: $mticon-tower;
	}
	&:after {
		content: $mticon-tower-color;
	}
}

.mticon-tower-color {
	&:before {
		content: $mticon-tower-color;
	}
}

.mticon-train {
	&:before {
		content: $mticon-train;
	}
	&:after {
		content: $mticon-train-color;
	}
}

.mticon-train-color {
	&:before {
		content: $mticon-train-color;
	}
}

.mticon-education {
	&:before {
		content: $mticon-education;
	}
	&:after {
		content: $mticon-education-color;
	}
}

.mticon-education-color {
	&:before {
		content: $mticon-education-color;
	}
}

.mticon-university {
	&:before {
		content: $mticon-university;
	}
	&:after {
		content: $mticon-university-color;
	}
}

.mticon-university-color {
	&:before {
		content: $mticon-university-color;
	}
}

.mticon-school {
	&:before {
		content: $mticon-school;
	}
	&:after {
		content: $mticon-school-color;
	}
}

.mticon-school-color {
	&:before {
		content: $mticon-school-color;
	}
}

.mticon-other {
	&:before {
		content: $mticon-other;
	}
	&:after {
		content: $mticon-other-color;
	}
}

.mticon-other-color {
	&:before {
		content: $mticon-other-color;
	}
}

@font-face {
	font-family: "movietripfunc";
	src: url("#{$font-path}/movietripfunc.ttf?5y90us") format("truetype"), url("#{$font-path}/movietripfunc.woff?5y90us") format("woff"), url("#{$font-path}/movietripfunc.svg?5y90us#movietripfunc") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="fnicon-"], [class*=" fnicon-"] {
	font-family: "movietripfunc" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&:before {
		z-index: 2;
	}
	&:after {
		z-index: 1;
	}
}

.fnicon {
	font-family: "movietripfunc" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&:before {
		z-index: 2;
	}
	&:after {
		z-index: 1;
	}
}

.fnicon-arrow-down {
	&:before {
		content: $fnicon-arrow-down;
	}
}
.fnicon-arrow-left {
	&:before {
		content: $fnicon-arrow-left;
	}
}
.fnicon-arrow-right {
	&:before {
		content: $fnicon-arrow-right;
	}
}
.fnicon-arrow-up {
	&:before {
		content: $fnicon-arrow-up;
	}
}
.fnicon-chevron-down {
	&:before {
		content: $fnicon-chevron-down;
	}
}
.fnicon-chevron-left {
	&:before {
		content: $fnicon-chevron-left;
	}
}
.fnicon-chevron-right {
	&:before {
		content: $fnicon-chevron-right;
	}
}
.fnicon-chevron-up {
	&:before {
		content: $fnicon-chevron-up;
	}
}
.fnicon-close {
	&:before {
		content: $fnicon-close;
	}
}
.fnicon-delete {
	&:before {
		content: $fnicon-delete;
	}
}
.fnicon-x {
	&:before {
		content: $fnicon-x;
	}
}
.fnicon-edit {
	&:before {
		content: $fnicon-edit;
	}
}
.fnicon-pencil {
	&:before {
		content: $fnicon-pencil;
	}
}
.fnicon-editors-choice {
	&:before {
		content: $fnicon-editors-choice;
	}
}
.fnicon-editors-choice-color {
	&:before {
		content: $fnicon-editors-choice-color;
	}
}
.fnicon-facebook {
	&:before {
		content: $fnicon-facebook;
	}
}
.fnicon-facebook-f {
	&:before {
		content: $fnicon-facebook-f;
	}
}
.fnicon-google {
	&:before {
		content: $fnicon-google;
	}
}
.fnicon-gplus {
	&:before {
		content: $fnicon-gplus;
	}
}
.fnicon-instagram {
	&:before {
		content: $fnicon-instagram;
	}
}
.fnicon-location {
	&:before {
		content: $fnicon-location;
	}
}
.fnicon-movie {
	&:before {
		content: $fnicon-movie;
	}
}
.fnicon-photo {
	&:before {
		content: $fnicon-photo;
	}
}
.fnicon-camera {
	&:before {
		content: $fnicon-camera;
	}
}
.fnicon-pinterest {
	&:before {
		content: $fnicon-pinterest;
	}
}
.fnicon-pinterest-outline {
	&:before {
		content: $fnicon-pinterest-outline;
	}
}
.fnicon-profile {
	&:before {
		content: $fnicon-profile;
	}
}
.fnicon-user {
	&:before {
		content: $fnicon-user;
	}
}
.fnicon-search {
	&:before {
		content: $fnicon-search;
	}
}
.fnicon-share {
	&:before {
		content: $fnicon-share;
	}
}
.fnicon-spinner {
	&:before {
		content: $fnicon-spinner;
	}
}
.fnicon-loader {
	&:before {
		content: $fnicon-loader;
	}
}
.fnicon-twitter {
	&:before {
		content: $fnicon-twitter;
	}
}
.fnicon-warning {
	&:before {
		content: $fnicon-warning;
	}
}
.fnicon-warning-outline {
	&:before {
		content: $fnicon-warning-outline;
	}
}
.fnicon-youtube {
	&:before {
		content: $fnicon-youtube;
	}
}