// media queries
$xs: "(max-width: 767px)";
$sm: "(min-width: 768px) and (max-width: 1024px)";
$smPortrait: "(min-width: 768px) and (max-height: 1024px) and (orientation: portrait)";
$md: "(min-width: 1025px) and  (max-width: 1199px)";
$lg: "(min-width: 1200px)";
//end  media queries

// border radius mixin 
@mixin br($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
//end border radius mixin 