$color-footer-top-bg: #000000;

$color-footer-top-locations-counter: #76d7ff;
$color-footer-top-movies-counter: #b9aca5;
$color-footer-top-scenes-counter: #cabe85;

$color-footer-top-counter-title: #76d7ff;

$color-footer-bottom: #ffffff;
$color-footer-bottom-bg: #27AAE1;

.footerTop {
	width: 100%;
	padding: 175px 0;
	background: $color-footer-top-bg;
	.footerTopCounter {
		width: 270px;
		margin: 0 auto;
		@include clearfix();
		&.locationsCounter {
			h2 {
				color: $color-footer-top-locations-counter;
				&:before {
					border-color: $color-footer-top-locations-counter;
				}
			}
		}
		&.moviesCounter {
			h2 {
				color: $color-footer-top-movies-counter;
				&:before {
					border-color: $color-footer-top-movies-counter;
				}
			}
		}
		&.scenesCounter {
			h2 {
				color: $color-footer-top-scenes-counter;
				&:before {
					border-color: $color-footer-top-scenes-counter;
				}
			}
		}
		h2 {
			display: block;
			width: 100%;
			height: 270px;
			margin: 0;
			padding: 0;
			font-size: 4.333em;
			line-height: 1;
			font-weight: 300;
			position: relative;
			&:before {
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				border-width: 2px;
				border-style: solid;
				z-index: 1;
				@include br(50%);
			}
			span {
				display: block;
				color: inherit;
				position: absolute;
				left: 50%;
				top: 50%;
				z-index: 2;
				@include translate3d(-50%, -50%, 0);
			}
		}
		h3 {
			display: block;
			width: 100%;
			margin: 0;
			padding: 30px 0 0 0;
			text-align: center;
			text-transform: uppercase;
			font-size: 1.667em;
			line-height: 1;
			color: $color-footer-top-counter-title;
		}
	}
}

.footerBottom {
	width: 100%;
	padding: 70px 0 100px 0;
	background: -moz-linear-gradient(45deg, rgba(0, 167, 157, 1) 0%, rgba(39, 170, 225, 1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0, 167, 157, 1)), color-stop(100%, rgba(39, 170, 225, 1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(45deg, rgba(0, 167, 157, 1) 0%, rgba(39, 170, 225, 1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(45deg, rgba(0, 167, 157, 1) 0%, rgba(39, 170, 225, 1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(0, 167, 157, 1) 0%, rgba(39, 170, 225, 1) 100%); /* ie10+ */
	background: linear-gradient(45deg, rgba(0, 167, 157, 1) 0%, rgba(39, 170, 225, 1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#27AAE1', endColorstr='#00A79D', GradientType=1); /* ie6-9 */
	.footerBottomIn {
		width: 100%;
		padding: 10px 0 0 0;
		@include clearfix();
		h2 {
			display: block;
			width: 100%;
			margin: 0;
			padding: 0 0 12px 0;
			font-size: 1.222em;
			font-weight: 900;
			text-transform: uppercase;
			color: $color-footer-bottom;
			border-bottom: 2px solid $color-footer-bottom;
		}
		> ul {
			display: block;
			width: 100%;
			margin: 0;
			padding: 17px 0 0 0;
			list-style: none;
			border-top: 2px solid $color-footer-bottom;
			@include clearfix();
			> li {
				display: block;
				width: 100%;
				margin: 0;
				padding: 0;
				> a {
					display: block;
					width: 100%;
					font-size: 0.778em;
					font-weight: 300;
					color: $color-footer-bottom;
					line-height: 24px;
					text-decoration: none;
					text-transform: uppercase;
					&.selected {
						cursor: default;
						pointer-events: none;
						font-weight: 700;
					}
				}
			}
			+ .footerSocial {
				padding: 40px 0 0 0;
			}
		}
		.footerSocial {
			width: 100%;
			> ul {
				display: block;
				width: 100%;
				margin: 0 0 0 -15px;
				padding: 0;
				list-style: none;
				@include clearfix();
				> li {
					float: left;
					display: block;
					margin: 0;
					padding: 0 0 0 15px;
					> a {
						position: relative;
						display: block;
						width: 40px;
						height: 40px;
						line-height: 40px;
						font-size: 20px;
						color: $color-footer-bottom;
						text-align: center;
						text-decoration: none;
						@include transition(all 0.3s);
						i {
							display: block;
							line-height: inherit;
						}
						&:before {
							content: "";
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							border: 1px solid $color-footer-bottom;
							@include transition(all 0.3s);
						}
						&:hover {
							color: $color-footer-bottom-bg;
							background: $color-footer-bottom;
						}
					}
				}
			}
		}
	}
}

@media #{$md} {
	.footerTop {
		.footerTopCounter {
			width: 200px;
			h2 {
				width: 200px;
				height: 200px;
				font-size: 3em;
			}
			h3 {
				font-size: 1.333em;
			}
		}
	}
}

@media #{$sm} {
	.footerTop {
		.footerTopCounter {
			width: 170px;
			h2 {
				width: 170px;
				height: 170px;
				font-size: 2em;
			}
			h3 {
				font-size: 1.111em;
			}
		}
	}
}

@media #{$xs} {
	.footerTop {
		padding: 20px 0;
		.footerTopCounter {
			width: 170px;
			padding: 20px 0;
			h2 {
				width: 170px;
				height: 170px;
				font-size: 2em;
			}
			h3 {
				font-size: 1.111em;
			}
		}
	}
}