$color-login-title: $color-header-bg;
$color-login-input: $color-header-bg;
$color-login-input-border: $color-header-bg;
$color-login-problems: #588065;

$color-alert-success: #ffffff;
$color-alert-success-bg: #82ca9c;

header {
	width: 100%;
	height: 76px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	@extend .headerBG;
	.container {
		height: 100%;
		.row {
			height: 100%;
			.headerCenter {
				height: 100%;
				position: relative;
				@include clearfix();
				.headerLeft {
					float: left;
					//width: 218px;
					height: 100%;
					.headerLogo {
						height: 100%;
						a {
							display: block;
							width: 100%;
							height: 100%;
							padding: 12px 0;
							figure {
								height: 100%;
								img {
									display: block;
									width: auto;
									max-width: 100%;
									height: 100%;
								}
							}
						}
					}
				}
				.headerRight {
					float: right;
					height: 100%;
					//padding: 0 15px 0 0;
					//position: absolute;
					//left: 232px;
					//right: 0;
					//z-index: 1000;
					//background: $color-header-bg;
					@include clearfix();
					.headerRightIn {
						float: right;
						height: 100%;
						.headerMenu {
							float: left;
							height: 100%;
							&.open {
								> a {
									background: $color-header-menu;
									span {
										background: $color-header-bg;
									}
									&:hover {
										span {
											background: $color-header-bg;
										}
									}
								}
							}
							> a {
								display: block;
								width: 50px;
								height: 50px;
								position: relative;
								@include transition(all 0.3s);
								&:hover {
									span {
										background: $color-header-menu-hover;
									}
								}
								span {
									position: absolute;
									left: 10px;
									display: block;
									width: 30px;
									height: 2px;
									background: $color-header-menu;
									@include transition(background 0.3s);
									&:first-child {
										top: 16px;
										+ span {
											top: 24px;
											+ span {
												top: 32px;
											}
										}
									}
								}
							}
							> .dropdown-menu {
								height: 100%;
								position: relative;
								top: auto;
								left: auto;
								float: none;
								min-width: 0;
								padding: 0;
								margin: 0;
								list-style: none;
								font-size: 1em;
								text-align: left;
								background-color: transparent;
								border: none;
								@include br(0);
								@include bs(none);
								@include clearfix();
								> li {
									float: left;
									display: block;
									height: 100%;
									margin: 0 0 0 20px;
									letter-spacing: -4px;
									* {
										letter-spacing: 0;
									}
									&:before {
										content: "";
										display: inline-block;
										vertical-align: middle;
										height: 100%;
									}
									> a {
										display: inline-block;
										vertical-align: middle;
										padding: 0;
										clear: none;
										white-space: normal;
										text-decoration: none;
										text-transform: uppercase;
										height: 30px;
										line-height: 30px;
										font-size: inherit;
										font-weight: 700;
										color: $color-header-menu;
										@include transition(all 0.2s);
										&:hover {
											color: $color-header-menu-hover;
											background-color: transparent;
										}
										&.selected, &:focus {
											font-weight: 700;
											color: $color-header-menu-focus;
											background-color: transparent;
										}
									}
								}
							}
						}
						.headerUserBlock {
							float: left;
							height: 100%;
							margin-left: 20px;
							> a {
								position: relative;
								display: block;
								width: 70px;
								height: 100%;
								line-height: 76px;
								text-align: center;
								text-decoration: none;
								text-transform: uppercase;
								font-weight: 300;
								color: $color-header-menu;
								@include transition(all 0.3s);
								&:before {
									content: "";
									position: absolute;
									left: 0;
									right: 0;
									top: 0;
									bottom: 0;
									border-left: 2px solid $color-header-bg;
									border-right: 2px solid $color-header-bg;
									@include opacity(0);
								}
								&:after {
									display: block;
									content: $fnicon-profile;
									line-height: inherit;
									font-size: 52px;
									@extend .fnicon;
								}
								&:hover, &.selected {
									color: $color-header-menu-user-hover;
									background-color: $color-header-menu-user-hover-bg;
								}
								&:hover {
									color: $color-header-menu-hover;
									background-color: transparent;
								}
								&.selected {
									font-weight: 700;
									color: $color-header-menu-focus;
									background-color: transparent;
								}
							}
							&.open {
								background: $color-header-menu-user-hover-bg;
								> a {
									color: $color-header-bg;
									background-color: $color-header-menu-user-hover-bg;
									&:before {
										@include opacity(1);
									}
								}
							}
							> .dropdown-menu {
								float: none;
								min-width: 0;
								padding: 0 20px 20px 20px;
								margin: 0;
								list-style: none;
								font-size: 1em;
								text-align: left;
								background-color: $color-body-bg;
								border: 2px solid $color-header-bg;
								z-index: 1;
								@include br(0);
								@include bs(none);
								@include clearfix();
								&:before {
									content: "";
									width: 66px;
									height: 2px;
									position: absolute;
									right: 0;
									top: -2px;
									background: $color-body-bg;
								}
								&.headerLogoutMenu {
									padding: 30px;
									> li {
										width: auto;
										input {
											display: block;
											width: 100%;
											height: 36px;
											line-height: 36px;
											font-size: 1em;
											margin: 0;
											padding: 0 20px;
											text-align: center;
											text-transform: uppercase;
											border: none;
											background: #1f222b;
											color: #ffffff;
										}
									}
								}
								> li {
									display: block;
									width: 410px;
									@include clearfix();
									form {
										display: block;
										width: 100%;
										@include clearfix();
										.headerLoginTitle {
											width: 100%;
											padding: 35px 0;
											h2 {
												display: block;
												width: 100%;
												margin: 0;
												padding: 0;
												font-size: 1.556em;
												line-height: 1;
												font-weight: 400;
												text-align: center;
												text-transform: uppercase;
												color: $color-login-title;
												strong {
													font-weight: 900;
												}
											}
											+ .headerLoginBtns {
												.headerLoginBtnsBottom {
													padding: 0;
												}
											}
										}
										.headerLoginForms {
											width: 100%;
											@include clearfix();
											> label {
												display: block;
												width: 100%;
												margin: 20px 0 0 0;
												&:first-child {
													margin: 0;
												}
												input {
													display: block;
													width: 100%;
													height: 36px;
													line-height: 26px;
													padding: 5px 10px;
													font-size: 1em;
													font-weight: 400;
													background: $color-register-bg;
													border: 1px solid $color-register-border;
													color: $color-register;
												}
												input::-webkit-input-placeholder {
													color: $color-register;
													text-transform: uppercase;
												}
												input:-moz-placeholder {
													color: $color-register;
													text-transform: uppercase;
												}
												input::-moz-placeholder {
													color: $color-register;
													text-transform: uppercase;
												}
												input:-ms-input-placeholder {
													color: $color-register;
													text-transform: uppercase;
												}
											}
											.headerLoginToolbar {
												width: 100%;
												padding: 10px 0 10px 0;
												@include clearfix();
												.styledCheckbox {
													float: left;
												}
												.loginProblemsLink {
													float: right;
													a {
														display: block;
														font-size: 1em;
														line-height: 20px;
														font-weight: 400;
														color: $color-login-problems;
														text-transform: uppercase;
														text-decoration: none;
													}
												}
											}
										}
										.headerLoginBtnsIn {
											width: 100%;
											.headerLoginBtnsTop {
												width: 100%;
												position: relative;
												padding: 0 0 0 60px;
												@include clearfix();
												a, .MT-FB-Btn {
													display: block;
													position: absolute;
													left: 0;
													top: 0;
													width: 40px;
													height: 40px;
													line-height: 40px;
													font-size: 40px;
													padding: 0;
													margin: 0;
													outline: 0;
													border: 0;
													background: transparent;
													text-decoration: none;
													overflow: hidden;
													color: $color-register-fb;
													i {
														display: block;
														line-height: inherit;
													}
												}
												input {
													display: block;
													width: 100%;
													height: 40px;
													line-height: 40px;
													font-size: 1em;
													padding: 0 10px;
													text-align: center;
													text-transform: uppercase;
													border: none;
													background: #1f222b;
													color: #ffffff;
													&:hover {
														background: #82CA9C;
													}
												}
											}
											.headerLoginBtnsBottom {
												padding: 20px 0 0 0;
												a {
													position: relative;
													display: block;
													width: 100%;
													height: 40px;
													line-height: 40px;
													font-size: 1em;
													padding: 0 10px;
													text-align: center;
													text-transform: uppercase;
													text-decoration: none;
													color: $color-header-bg;
													&:hover {
														color: #ffffff;
														background: $color-header-bg;
													}
													&:before {
														content: "";
														position: absolute;
														top: 0;
														right: 0;
														bottom: 0;
														left: 0;
														border: 1px solid $color-header-bg;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
				.headerSearch {
					height: 100%;
					position: absolute;
					left: 88px;
					margin-right: 15px;
					&.open {
						form {
							.headerSearchInner {
								visibility: visible;
								@include opacity(1);
							}
						}
						button {
							background: $color-header-menu;
							color: $color-header-menu-focus;
						}
					}
					form {
						display: block;
						width: 100%;
						height: 36px;
						margin-top: -18px;
						padding-right: 37px;
						position: absolute;
						left: 0;
						top: 50%;
						.headerSearchInner {
							visibility: hidden;
							@include opacity(0);
							@include transition(all 0.3s);
							label {
								display: none;
							}
							input {
								display: block;
								width: 100%;
								height: 36px;
								line-height: 24px;
								padding: 6px 10px;
								font-size: 1em;
								font-weight: 700;
								border: none;
								outline: none;
								background: $color-header-menu;
								color: $color-header-menu-focus;
								text-transform: uppercase;
							}
						}
						button {
							display: block;
							width: 36px;
							height: 36px;
							line-height: 36px;
							text-align: center;
							font-size: 1em;
							font-weight: 700;
							border: none;
							outline: none;
							background: transparent;
							padding: 0;
							color: $color-header-menu;
							-webkit-appearance: none;
							-moz-appearance: none;
							appearance: none;
							position: absolute;
							right: 0;
							top: 0;
							@include transition(color 0.3s, background 0.3s);
							&:hover {
								color: $color-header-menu-focus;
							}
							i {
								display: block;
								line-height: inherit;
								text-align: inherit;
							}
						}
					}
				}
				&:before, &:after {
					content: "";
					display: none;
					width: 10000%;
					height: 100%;
					position: absolute;
					z-index: 2;
					background: $color-header-bg;
				}
				&:before {
					right: 100%;
					margin-right: -15px;
				}
				&:after {
					left: 100%;
					margin-left: -15px;
				}
			}
		}
	}
}

.alertSection {
	width: 100%;
	min-height: 76px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1001;
	@include transition(all 0.5s);
	&.alertSectionSuccess {
		background: $color-alert-success-bg;
		color: $color-alert-success;
	}
	&.alertSectionHidden {
		@include translate(0, -100%);
	}
	h2 {
		display: block;
		width: 100%;
		margin: 0;
		padding: 23px 0;
		font-weight: 300;
		font-size: 1.333em;
		line-height: 1.25;
		color: inherit;
	}
}

@media #{$lg}{
	header {
		.container {
			.row {
				.headerCenter {
					.headerRight {
						.headerRightIn {
							.headerMenu {
								> .dropdown-menu {
									display: block;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media #{$md} {
	header {
		height: 60px;
		.container {
			.row {
				.headerCenter {
					.headerLeft {
						//width: 172px;
						.headerLogo {
							a {
								padding: 10px 0;
							}
						}
					}
					.headerRight {
						//left: 186px;
						.headerRightIn {
							.headerMenu {
								> .dropdown-menu {
									display: block;
									font-size: 0.889em;
								}
							}
							.headerUserBlock {
								> a {
									width: 60px;
									line-height: 60px;
									&:after {
										font-size: 40px;
									}
								}
								> .dropdown-menu {
									&:before {
										width: 56px;
									}
								}
							}
						}
					}
					.headerSearch {
						left: 74px;
					}
				}
			}
		}
	}
}

@media #{$sm} {
	header {
		height: 50px;
		.container {
			.row {
				.headerCenter {
					.headerLeft {
						//width: 143px;
					}
					.headerRight {
						//padding: 0 10px 0 0;
						//left: 153px;
						.headerRightIn {
							.headerMenu {
								> .dropdown-menu {
									display: block;
									font-size: 0.889em;
								}
							}
							.headerUserBlock {
								> a {
									width: 50px;
									line-height: 50px;
									&:after {
										font-size: 26px;
									}
								}
								> .dropdown-menu {
									&:before {
										width: 46px;
									}
								}
							}
						}
					}
					.headerSearch {
						left: 54px;
						margin-right: 10px;
						form {
							height: 30px;
							margin-top: -15px;
							padding-right: 31px;
							.headerSearchInner {
								input {
									height: 30px;
									line-height: 20px;
									padding: 5px 10px;
									font-size: 0.889em;
								}
							}
							button {
								width: 30px;
								height: 30px;
								line-height: 30px;
								font-size: 0.889em;
							}
						}
					}
					&:before {
						margin-right: -10px;
					}
					&:after {
						margin-left: -10px;
					}
				}
			}
		}
	}
}

@media #{$xs} {
	header {
		height: 50px;
		.container {
			.row {
				.headerCenter {
					.headerLeft {
						//width: auto;
						.headerLogo {
							a {
								padding: 10px 0;
							}
						}
					}
					.headerRight {
						//padding: 0 8px 0 0;
						//left: 123px;
						margin-right: -16px;
						.headerRightIn {
							.headerMenu {
								position: static;
								&.open {
									> .dropdown-menu {
										@include translate(0, 0);
									}
								}
								> .dropdown-menu {
									display: block;
									height: auto;
									position: absolute;
									top: 100%;
									left: -8px;
									right: -8px;
									font-size: 0.889em;
									background: $color-header-menu;
									padding: 0;
									@include translate(100%, 0);
									@include transition(all 0.5s);
									> li {
										float: none;
										height: auto;
										margin: 0;
										letter-spacing: 0;
										border-bottom: 1px solid $color-header-bg;
										&:before {
											display: none;
										}
										> a {
											display: block;
											width: 100%;
											height: 40px;
											line-height: 40px;
											padding: 0 15px;
											text-align: center;
											color: $color-header-bg;
											&:hover {
												background: $color-header-bg;
												color: $color-header-menu;
											}
											&.selected {
												background: $color-header-bg;
												color: $color-header-menu;
											}
										}
									}
								}
							}
							.headerUserBlock {
								margin-left: 0;
								position: static;
								> a {
									width: 50px;
									line-height: 50px;
									&:after {
										font-size: 30px;
									}
								}
								&.open {
									> .dropdown-menu {
										@include translate(0, 0);
									}
								}
								> .dropdown-menu {
									&:before {
										width: 46px;
									}
									display: block;
									height: auto;
									position: absolute;
									top: 100%;
									left: -8px;
									right: -8px;
									font-size: 0.889em;
									padding: 0;
									border-bottom: 2px solid #1f222b;
									@include translate(100%, 0);
									@include transition(all 0.5s);
									> li {
										width: 100%;
										padding: 0 16px 16px 16px;
										form {
											.headerLoginTitle {
												padding: 15px 0;
												h2 {
													font-size: 1em;
												}
											}
											.headerLoginForms {
												> label {
													margin: 10px 0 0 0;
													input {
														height: 36px;
														padding: 8px 10px;
														line-height: 20px;
														font-size: 0.889em;
													}
												}
												.headerLoginToolbar {
													padding: 12px 0;
													.loginProblemsLink {
														a {
															font-size: 0.889em;
														}
													}
												}
											}
											.headerLoginBtnsIn {
												width: 100%;
												.headerLoginBtnsTop {
													padding: 0 0 0 46px;
													a {
														width: 36px;
														height: 36px;
														line-height: 36px;
														font-size: 36px;
													}
													input {
														display: block;
														width: 100%;
														height: 36px;
														line-height: 36px;
														font-size: 1em;
													}
												}
												.headerLoginBtnsBottom {
													padding: 10px 0 0 0;
													a {
														width: 100%;
														height: 36px;
														line-height: 36px;
														font-size: 1em;
														padding: 0 10px;
													}
												}
											}
										}
									}
								}
							}
						}
					}
					.headerSearch {
						left: 54px;
						margin-right: 0;
						form {
							height: 30px;
							margin-top: -15px;
							padding-right: 31px;
							.headerSearchInner {
								input {
									height: 30px;
									line-height: 20px;
									padding: 5px 10px;
									font-size: 0.889em;
								}
							}
							button {
								width: 30px;
								height: 30px;
								line-height: 30px;
								font-size: 1em;
							}
						}
					}
					&:before {
						margin-right: -8px;
					}
					&:after {
						margin-left: -8px;
					}
				}
			}
		}
	}
}