<% var pageTitle = "Blog Inside"; pageId = "blog-inside"; %>
<% include modules/_head %>
<% include modules/_header %>

<!-- blog inside -->
<section itemscope itemType="http://schema.org/BlogPosting">
	<meta itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage"
	      itemid="http://www.movietrip.me/blog/view/98"/>
	<!-- must be a valid url starting with http:// -->
	<meta itemprop="inLanguage" content="en-US"/>
	<meta itemprop="dateModified" content="2017-02-03"/>
	<!-- must match format -->
	<section class="blogInsideTopImg">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="blogInsideTopImgIn" itemprop="image" itemscope itemtype="http://schema.org/ImageObject"
					     style="background-image: url(img/blog_insideBg.png);">
						<meta itemprop="url" content="http://www.movietrip.me//mda.php?id=5318&size"/>
						<!-- must be a valid url starting with http:// -->
						<meta itemprop="contentUrl" content="http://www.movietrip.me//mda.php?id=5318&size"/>
						<!-- must be a valid url starting with http:// -->
						<meta itemprop="width" content="1170"/>
						<!-- must match img width -->
						<meta itemprop="height" content="560"/>
						<!-- must match img height -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="blogInside">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="blogInsideDate" itemprop="datePublished" content="2017-02-03"><!-- must match format -->03
						February 2017
					</div>
					<div class="blogInsideTitle">
						<h1 itemprop="headline">Your ultimate movie guide to the Valentine’s Day</h1>
					</div>
					<div class="blogInsideAuthor">
						<div class="blogInsideAuthorIn">
							<a href="#">
								<span class="blogInsideAuthorInLeft" style="background-image: url(img/blog_insideUser.png);"></span>
								<span class="blogInsideAuthorInRight" itemprop="author">mareeshok</span>

								<div class="hidden" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
									<meta itemprop="name" content="Movietrip LLC"/>
									<meta itemprop="URL" content="http://www.movietrip.me"/>
									<div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
										<meta itemprop="url" content="http://www.movietrip.me/img/movietrip-logo.png"/>
										<!-- must be a valid url starting with http:// -->
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="blogInsideBody" itemprop="articleBody">
						<div class="row">
							<div class="col-xs-12">
								<div class="blogInsideBody">
									<p>
										Last month, Google suggested that this driverless utopia may actually be much further
										away than many people may realize. In a speech at SXSW in Austin, Google's
										car project director Chris Urmson explained that the day when fully autonomous
										vehicles are widely available, going anywhere that regular cars can, might be as
										much as 30 years away. There are still serious technical and safety challenges to
										overcome. In the near term, self-driving cars may be limited to more narrow situations
										and clearer weather.
									</p>
									<p>
										As Lee Gomes pointed out at IEEE Spectrum, this was the most conservative roadmap
										yet offered by Google, which has been operating and tweaking autonomous
										cars for years on private and public roads. If they're saying it's hard, we ought to listen.
									</p>
									<p>
										So what are the big hold-ups, anyway? After watching Urmson's presentation, I
										called two experts — Edwin Olson of the University of Michigan and Nidhi Kalra of
										the RAND Corporation — to dive more into the obstacles that stand between us
										and our glorious self-driving future. None of these things are deal-breakers per se,
									</p>
									<div class="blogInsideBodyImg">
										<img src="img/blog_insideBg.png" />
									</div>
									<p>
										Last month, Google suggested that this driverless utopia may actually be much further away than
										many people may realize. In a speech at SXSW in Austin, Google's car project director Chris
										Urmson explained that the day when fully autonomous vehicles are widely available, going
										anywhere that regular cars can, might be as much as 30 years away. There are still serious
										technical and safety challenges to overcome. In the near term, self-driving cars may be limited
										to more narrow situations and clearer weather.
									</p>
									<div class="blogInsideBodyImg">
										<iframe src="//www.youtube.com/embed/gglkYMGRYlE" width="425" height="350" allowfullscreen></iframe>
									</div>
									<div class="blogInsideBodyTextBlock">
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<p>
													As Lee Gomes pointed out at IEEE Spectrum, this was the most conservative roadmap
													yet offered by Google, which has been operating and tweaking autonomous cars for
													years on private and public roads. If they're saying it's hard, we ought to listen.
												</p>
												<p>
													So what are the big hold-ups, anyway? After watching Urmson's presentation, I called
													two experts — Edwin Olson of the University of Michigan and Nidhi Kalra of the RAND
													Corporation — to dive more into the obstacles that stand between us and our glorious
													self-driving future. None of these things are deal-breakers
												</p>
											</div>
											<div class="col-xs-12 col-sm-6">
												<div class="blogInsideBodyTextBlockInImgWrap">
													<h2>
														First, a quick clarification: Lots of car companies, from GM to BMW to Tesla
													</h2>
													<div class="blogInsideBodyImg">
														<img src="img/blog_insideCup.png" title=""/>
													</div>
												</div>
											</div>
										</div>
									</div>
									<p>
										Last month, Google suggested that this driverless utopia may actually be much further away than
										many people may realize. In a speech at SXSW in Austin, Google's car project director Chris
										Urmson explained that the day when fully autonomous vehicles are widely available, going
										anywhere that regular cars can, might be as much as 30 years away. There are still serious
										technical and safety challenges to overcome. In the near term, self-driving cars may be limited
										to more narrow situations and clearer weather.
									</p>
									<blockquote>
										<p>
											As Lee Gomes pointed out at IEEE Spectrum, this was the most conservative roadmap yet
											offered by Google, which has been operating and tweaking autonomous cars for years on
											private and public roads. If they're saying it's hard, we ought to listen.
										</p>
									</blockquote>
									<p>
										So what are the big hold-ups, anyway? After watching Urmson's presentation, I called two experts
										— Edwin Olson of the University of Michigan and Nidhi Kalra of the RAND Corporation — to dive
										more into the obstacles that stand between us and our glorious self-driving future. None of
										these things are deal-breakers per se,
									</p>
									<div class="blogInsideBodySocial">
										<div class="blogInsideBodySocialIn dropdown">
											<a id="blogInsideBodySocialDrop" class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												<i class="fnicon-share"></i>
											</a>
											<ul class="dropdown-menu" aria-labelledby="blogInsideBodySocialDrop">
												<li>
													<a href="#"><i class="fnicon-facebook-f"></i></a>
												</li>
												<li>
													<a href="#"><i class="fnicon-twitter"></i></a>
												</li>
												<li>
													<a href="#"><i class="fnicon-pinterest"></i></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
<!-- blog inside end -->

<% include modules/_footer %>