<% var pageTitle = "Blog"; pageId = "blog"; %>
<% include modules/_head %>
<% include modules/_header %>

<!-- blogs -->
<section class="blogsInside">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="promoBlock blogBlock" style="background-image:url(img/frontend/img-1.jpg)">
					<a href="#" class="promoBlock-topLink"><span>Blog</span></a>
					<span class="promoBlockAuthor">by <a href="#">mareeshok</a></span>
					<a href="blog-inside.html" class="promoBlockInfo">
						<div>
							<h3>Your ultimate movie guide to the Valentine’s Day</h3>
							<h4></h4>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="promoBlock blogBlock" style="background-image:url(img/frontend/img-2.png)">
					<a href="#" class="promoBlock-topLink"><span>Blog</span></a>
					<span class="promoBlockAuthor">by <a href="#">mareeshok</a></span>
					<a href="blog-inside.html" class="promoBlockInfo">
						<div>
							<h3>Your ultimate movie guide to the Valentine’s Day</h3>
							<h4></h4>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="promoBlock blogBlock" style="background-image:url(img/frontend/img-3.png)">
					<a href="#" class="promoBlock-topLink"><span>Blog</span></a>
					<span class="promoBlockAuthor">by <a href="#">mareeshok</a></span>
					<a href="blog-inside.html" class="promoBlockInfo">
						<div>
							<h3>Your ultimate movie guide to the Valentine’s Day</h3>
							<h4></h4>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="promoBlock blogBlock" style="background-image:url(img/frontend/img-4.png)">
					<a href="#" class="promoBlock-topLink"><span>Blog</span></a>
					<span class="promoBlockAuthor">by <a href="#">mareeshok</a></span>
					<a href="blog-inside.html" class="promoBlockInfo">
						<div>
							<h3>Your ultimate movie guide to the Valentine’s Day</h3>
							<h4></h4>
						</div>
					</a>
				</div>
			</div>
			<div class="pageNext">
				<a href="#">More</a>
			</div>
		</div>
	</div>
</section>
<!-- blogs end -->

<% include modules/_footer %>