<% var pageTitle = "MovieTrip"; pageId = "home"; %>
<% include modules/_head %>
<% include modules/_header %>

<!-- Homepage Slider -->
<section class="homeSecondCover">
	<div class="homeSecondCoverSwiper swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<a href="#">
					<img src="img/frontend/slider-1.jpg" alt="John Wick" title="John Wick" />
				</a>
			</div>
			<div class="swiper-slide">
				<a href="https://play.google.com/store/apps/details?id=movietrip.intellsol.com.movietrip&hl=en" target="_blank">
					<img src="img/frontend/slider-2.jpg" alt="Application" title="Application" />
				</a>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
</section>
<!-- Homepage Slider End -->
<!-- Homepage Popular -->
<section class="homePopular">
	<section class="homePopularTop">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<div class="homePopularPromo">
						<ul>
							<li><h3>Latest Movies</h3></li>
							<li><a href="#">Sherlock season 3</a></li>
							<li><a href="#">Frances Ha</a></li>
							<li><a href="#">Sherlock season 2</a></li>
							<li><a href="#">Sherlock season 1</a></li>
							<li><a href="#">Independence Day: Resurgence</a></li>
							<li><a href="#">The Incredible Hulk</a></li>
							<li><a href="#">Air Force One</a></li>
							<li><a href="#">Sherlock Holmes: A Game of Shadows</a></li>
							<li><a href="#">La La Land</a></li>
							<li><a href="#">The Vikings</a></li>
							<li><a href="#">Rebel Without a Cause</a></li>
							<li><a href="#">The Amazing Spider-Man 2</a></li>
							<li><a href="#">Factory Girl</a></li>
							<li><a href="#">Café Society</a></li>
							<li><a href="#">Fantastic Four: Rise of the Silver Surfer</a></li>
						</ul>
						<ul>
							<li><h3>Latest Locations</h3></li>
							<li><a href="#">St James's Park</a></li>
							<li><a href="#">Goldney Hall, University of Bristol</a></li>
							<li><a href="#">St Mary Magdalene Church</a></li>
							<li><a href="#">The Landmark London</a></li>
							<li><a href="#">Department for Energy and Climate Change</a></li>
							<li><a href="#">97 Audubon Avenue</a></li>
						</ul>
						<div class="badgeBlock"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-8">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<div itemscope itemtype="http://schema.org/Place" class="promoBlock locationBlock" style="background-image:url(img/frontend/img-1.jpg)">
								<a href="locations.html" class="promoBlock-topLink"><span>Locations</span></a>
								<span class="promoBlockAuthor">by <a href="#">Vincent Vega</a></span>
								<a href="location-inside.html" class="promoBlockInfo">
									<div>
										<h3>Cypress Hills Cemetery</h3>
										<h4>Cypress Hills Cemetery, Jamaica Avenue, Brooklyn, NY, United States</h4>
									</div>
								</a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="promoBlock sceneBlock" style="background-image:url(img/frontend/img-2.png);">
								<a href="scenes.html" class="promoBlock-topLink"><span>Scenes</span></a>
								<a href="scene-inside.html" class="promoBlockInfo">
									<div>
										<h3>Cloverfield - Park Avenue 120</h3>
										<h4>Rob, Lily and Beth are still looking for a place of safety.  </h4>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="promoBlock sceneBlock" style="background-image:url(img/frontend/img-3.png);">
								<a href="scenes.html" class="promoBlock-topLink"><span>Scenes</span></a>
								<a href="scene-inside.html" class="promoBlockInfo">
									<div>
										<h3>Ted - Chandler Street 63</h3>
										<h4>John is back home from the Norah Jones concert. </h4>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="homePopularBottom">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-8">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<div class="quoteBlock" style="background-color:#d5d477;">
								<div class="quoteBlockText">
									<!--<img src="/img/frontend/quote-img.png" alt="" title="">-->
									<h3>Did you know?</h3>
									<h4>Due to lack of budget, filming of 28 Days Later in the streets of London was done early in the morning, when they were empty.</h4>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="promoBlock sceneBlock" style="background-image:url(img/frontend/img-4.png);">
								<a href="scenes.html" class="promoBlock-topLink"><span>Scenes</span></a>
								<a href="scene-inside.html" class="promoBlockInfo">
									<div>
										<h3>Milk - Duboce Park</h3>
										<h4>Newly elected supervisor Harvey Milk (Sean Peann) presents to journalists the dog-owners law at Duboce Park. Now there is a Harvey Milk Center for the Arts at the park and Harvey Milk Photo Center. </h4>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="promoBlock sceneBlock" style="background-image:url(img/frontend/img-5.jpg);">
								<a href="scenes.html" class="promoBlock-topLink"><span>Scenes</span></a>
								<a href="scene-inside.html" class="promoBlockInfo">
									<div>
										<h3>Spider-Man 2 - Joe's Pizza</h3>
										<h4>Peter works at Joe's Pizza, but gets fired, because is constantly being late.  </h4>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="homePopularCousine">
						<div class="homePopularCousineTop">
							<div class="homePopularCousineTopIn">
								<i class="mticon-cafe"></i>
							</div>
						</div>
						<div class="homePopularCousineBottom">
							<ul>
								<li><a href="#">THE FOUR SEASONS RESTAURANT</a></li>
								<li><a href="#">LE GRAND VEFOUR</a></li>
								<li><a href="#">LE POLIDOR</a></li>
								<li><a href="#">ICHIKAN SUSHI</a></li>
								<li><a href="#">OSTERIA DELL'ANTIQUARIO</a></li>
								<li><a href="#">CICADA</a></li>
								<li><a href="#">BRASSERIE DU SQUARE TROUSSEAU</a></li>
								<li><a href="#">JOHNIE'S RESTAURANT</a></li>
								<li><a href="#">LOCANDA LOCATELLI</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
<!-- Homepage Popular End -->
<!-- Home Movies -->
<section class="homeMovies">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-3"><a class="movieThumb" href="#"><figure><img src="img/frontend/movie-1.jpg" alt="Sherlock season 3" title="Sherlock season 3"></figure></a></div>
			<div class="col-xs-12 col-sm-3"><a class="movieThumb" href="#"><figure><img src="img/frontend/movie-2.jpg" alt="Frances Ha" title="Frances Ha"></figure></a></div>
			<div class="col-xs-12 col-sm-3"><a class="movieThumb" href="#"><figure><img src="img/frontend/movie-3.jpg" alt="Sherlock season 2" title="Sherlock season 2"></figure></a></div>
			<div class="col-xs-12 col-sm-3"><a class="movieThumb" href="#"><figure><img src="img/frontend/movie-4.jpg" alt="Sherlock season 1" title="Sherlock season 1"></figure></a></div>
			<div class="col-xs-12 col-sm-3"><a class="movieThumb" href="#"><figure><img src="img/frontend/movie-5.jpg" alt="Independence Day: Resurgence" title="Independence Day: Resurgence"></figure></a></div>
			<div class="col-xs-12 col-sm-3"><a class="movieThumb" href="#"><figure><img src="img/frontend/movie-6.jpg" alt="The Incredible Hulk" title="The Incredible Hulk"></figure></a></div>
			<div class="col-xs-12 col-sm-3"><a class="movieThumb" href="#"><figure><img src="img/frontend/movie-7.jpg" alt="Air Force One" title="Air Force One"></figure></a></div>
			<div class="col-xs-12 col-sm-3"><a class="movieThumb" href="#"><figure><img src="img/frontend/movie-8.jpg" alt="Sherlock Holmes: A Game of Shadows" title="Sherlock Holmes: A Game of Shadows"></figure></a></div>
		</div>
	</div>
</section>
<!-- Home Movies End -->
<!-- Home Special Locations -->
<section class="homeSpecialLocations">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-3">
				<a href="#" class="specialLocation">
					<div class="specialLocationType"></div>
					<div class="specialLocationBg" style="background-image:url(img/frontend/trip-1.jpg);"></div>
					<div class="specialLocationCaption">
						<h3>Gossip Girl season 2 trip in New York - 8 Locations</h3>
						<h4>John Wick</h4>
					</div>
				</a>
			</div>
			<div class="col-xs-12 col-sm-3">
				<a href="#" class="specialLocation">
					<div class="specialLocationType"></div>
					<div class="specialLocationBg" style="background-image:url(img/frontend/trip-2.jpg);"></div>
					<div class="specialLocationCaption">
						<h3>Only Lovers Left Alive - 5 Places to See in Detroit</h3>
						<h4>Artavazd Eghiazaryan</h4>
					</div>
				</a>
			</div>
			<div class="col-xs-12 col-sm-3">
				<a href="#" class="specialLocation">
					<div class="specialLocationType"></div>
					<div class="specialLocationBg" style="background-image:url(img/frontend/trip-3.jpg);"></div>
					<div class="specialLocationCaption">
						<h3>Follow Audrey Hepburn - 'How To Steal A Million' tour in Paris asd w dad weaf asdf aer</h3>
						<h4>Joe Vega</h4>
					</div>
				</a>
			</div>
			<div class="col-xs-12 col-sm-3">
				<a href="#" class="specialLocation">
					<div class="specialLocationType"></div>
					<div class="specialLocationBg" style="background-image:url(img/frontend/trip-4.jpg);"></div>
					<div class="specialLocationCaption">
						<h3>7 scenes on the bridges of London</h3>
						<h4>Mickey Mouse</h4>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
<!-- Home Special Locations End -->
<section class="homePopularSecond">
	<section class="homePopularSecondTop">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="promoBlock locationBlock" style="background-image:url(img/frontend/img-1.jpg)">
						<a href="locations.html" class="promoBlock-topLink"><span>Locations</span></a>
						<span class="promoBlockAuthor">by <a href="#">Vincent Vega</a></span>
						<a href="location-inside.html" class="promoBlockInfo">
							<div>
								<h3>London Marylebone Station</h3>
								<h4>London Marylebone Station (MYB), Melcombe Place, London, United Kingdom</h4>
							</div>
						</a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="promoBlock locationBlock" style="background-image:url(img/frontend/img-2.png)">
						<a href="locations.html" class="promoBlock-topLink"><span>Locations</span></a>
						<span class="promoBlockAuthor">by <a href="#">Vincent Vega</a></span>
						<a href="location-inside.html" class="promoBlockInfo">
							<div>
								<h3>Mid City Superstore</h3>
								<h4>17 New York Street, Rapid City, SD, United States</h4>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="homePopularSecondBottom">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="promoBlock locationBlock" style="background-image:url(img/frontend/img-3.png)">
						<a href="locations.html" class="promoBlock-topLink"><span>Locations</span></a>
						<span class="promoBlockAuthor">by <a href="#">Vincent Vega</a></span>
						<a href="location-inside.html" class="promoBlockInfo">
							<div>
								<h3>Rue Berthe</h3>
								<h4>Rue Berthe, Paris, France</h4>
							</div>
						</a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="promoBlock locationBlock" style="background-image:url(img/frontend/img-4.png)">
						<a href="locations.html" class="promoBlock-topLink"><span>Locations</span></a>
						<span class="promoBlockAuthor">by <a href="#">Vincent Vega</a></span>
						<a href="location-inside.html" class="promoBlockInfo">
							<div>
								<h3>Harward Bridge</h3>
								<h4>Harvard Bridge, Massachusetts Avenue, Cambridge, MA, United States</h4>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>

<% include modules/_footer %>