<% var pageTitle = "MovieTrip"; pageId = "location-inside"; %>
<% include modules/_head %>
<% include modules/_header %>

<section class="locationInsideTop">
	<section class="locationInsideTopImg">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="locationInsideTopImgIn" style="background-image: url(img/frontend/img-1.jpg);">
						<h1>
							<span>
								<span>The Packet Hotel</span>
							</span>
						</h1>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="locationInsideTopInfo">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<div class="locationInsideTopInfoText">
						<i class="mticon-bar"></i>
						<!--<p>
								After Treadstone is being closed, Bourne walks away over the Pont des Arts and disappears.
								Bourne and Marie arrive in Paris. Bourne wat-ches Conklin from the roof of.
						</p>-->
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="locationInsideTopInfoAddress">
						<ul>
							<li><strong>City:</strong> </li>
							<li><strong>Country:</strong> United Kingdom</li>
							<li><strong>Location:</strong> The Packet Hotel</li>
							<li><strong>Address:</strong> The Packet Hotel, Cardiff, United Kingdom</li>
						</ul>
					</div>
				</div>
				<div class="locationInsideTopInfoSocialWrap col-xs-12 col-sm-4 col-lg-3 col-lg-push-1">
					<div class="locationInsideTopInfoSocial">
						<a href="#"><i class="fnicon-pinterest"></i></a>
						<a href="#"><i class="fnicon-facebook-f"></i></a>
						<a href="#"><i class="fnicon-twitter"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
<section class="locationInsideMap">
	<div id="map_canvas">
		here will be the map
	</div>
</section>
<section class="relatedWrap">
	<section class="relatedIn relatedMovies">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					here will be facebook comments
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2>Related Movies</h2>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-3"><a class="movieThumb" href="#"><figure><img src="img/frontend/movie-1.jpg" alt="Sherlock season 3" title="Sherlock season 3" /></figure></a></div>
				<div class="col-xs-12 col-sm-4 col-md-3"><a class="movieThumb" href="#"><figure><img src="img/frontend/movie-2.jpg" alt="Frances Ha" title="Frances Ha" /></figure></a></div>
				<div class="col-xs-12 col-sm-4 col-md-3"><a class="movieThumb" href="#"><figure><img src="img/frontend/movie-3.jpg" alt="Sherlock season 2" title="Sherlock season 2" /></figure></a></div>
				<div class="col-xs-12 col-sm-4 col-md-3"><a class="movieThumb" href="#"><figure><img src="img/frontend/movie-4.jpg" alt="Sherlock season 1" title="Sherlock season 1" /></figure></a></div>
			</div>
		</div>
	</section>
	<section class="relatedIn relatedScenes">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2>Related Scenes</h2>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<div class="promoBlock sceneBlock" style="background-image:url(img/frontend/img-1.jpg);">
						<a href="scenes.html" class="promoBlock-topLink"><span>Scenes</span></a>
						<a href="scene-inside.html" class="promoBlockInfo">
							<div>
								<h3>Sherlock season 3</h3>
								<h4>The Packet Hotel</h4>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>

<% include modules/_footer %>