<% var pageTitle = "MovieTrip"; pageId = "locations"; %>
<% include modules/_head %>
<% include modules/_header %>

<!-- scenes -->
<section class="scenesInside">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="promoBlock locationInsideBlock" style="background-image:url(img/frontend/img-1.jpg);">
					<a href="location-inside.html">
						<h3>The Packet Hotel</h3>
						<div>
							<h4>The Packet Hotel</h4>
							<i class="mticon-hotel"></i>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="promoBlock locationInsideBlock" style="background-image:url(img/frontend/img-2.png);">
					<a href="location-inside.html">
						<h3>The Packet Hotel</h3>
						<div>
							<h4>The Packet Hotel</h4>
							<i class="mticon-bar"></i>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="promoBlock locationInsideBlock" style="background-image:url(img/frontend/img-3.png);">
					<a href="location-inside.html">
						<h3>The Packet Hotel</h3>
						<div>
							<h4>The Packet Hotel</h4>
							<i class="mticon-building"></i>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="promoBlock locationInsideBlock" style="background-image:url(img/frontend/img-4.png);">
					<a href="location-inside.html">
						<h3>The Packet Hotel</h3>
						<div>
							<h4>The Packet Hotel</h4>
							<i class="mticon-restaurant"></i>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="promoBlock locationInsideBlock" style="background-image:url(img/frontend/img-5.jpg);">
					<a href="location-inside.html">
						<h3>The Packet Hotel</h3>
						<div>
							<h4>The Packet Hotel</h4>
							<i class="mticon-airport"></i>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="promoBlock locationInsideBlock" style="background-image:url(img/frontend/img-1.jpg);">
					<a href="location-inside.html">
						<h3>The Packet Hotel</h3>
						<div>
							<h4>The Packet Hotel</h4>
							<i class="mticon-arch"></i>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="promoBlock locationInsideBlock" style="background-image:url(img/frontend/img-2.png);">
					<a href="location-inside.html">
						<h3>The Packet Hotel</h3>
						<div>
							<h4>The Packet Hotel</h4>
							<i class="mticon-bakery"></i>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="promoBlock locationInsideBlock" style="background-image:url(img/frontend/img-3.png);">
					<a href="location-inside.html">
						<h3>The Packet Hotel</h3>
						<div>
							<h4>The Packet Hotel</h4>
							<i class="mticon-bank"></i>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="promoBlock locationInsideBlock" style="background-image:url(img/frontend/img-4.png);">
					<a href="location-inside.html">
						<h3>The Packet Hotel</h3>
						<div>
							<h4>The Packet Hotel</h4>
							<i class="mticon-bridge"></i>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="promoBlock locationInsideBlock" style="background-image:url(img/frontend/img-5.jpg);">
					<a href="location-inside.html">
						<h3>The Packet Hotel</h3>
						<div>
							<h4>The Packet Hotel</h4>
							<i class="mticon-castle"></i>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="promoBlock locationInsideBlock" style="background-image:url(img/frontend/img-1.jpg);">
					<a href="location-inside.html">
						<h3>The Packet Hotel</h3>
						<div>
							<h4>The Packet Hotel</h4>
							<i class="mticon-casino"></i>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="promoBlock locationInsideBlock" style="background-image:url(img/frontend/img-2.png);">
					<a href="location-inside.html">
						<h3>The Packet Hotel</h3>
						<div>
							<h4>The Packet Hotel</h4>
							<i class="mticon-cinema"></i>
						</div>
					</a>
				</div>
			</div>
			<div class="pageNext">
				<a href="#">More</a>
			</div>
		</div>
	</div>
</section>
<!-- scenes end -->

<% include modules/_footer %>