<% var pageTitle = "MovieTrip"; pageId = "movies"; %>
<% include modules/_head %>
<% include modules/_header %>

<section class="movieInsideTop" itemscope itemtype="http://schema.org/Movie">
	<section class="movieInsideTopImg">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="movieInsideTopImgIn adaptive-parent gradient-wrap">
						<div class="movieInsideTopImgLeft" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
							<meta itemprop="url" content="img/frontend/movie-1.jpg"/> <!-- Must start with http://www.movietrip.me -->
							<img itemprop="contentUrl" src="img/frontend/movie-1.jpg" data-adaptive-background="1" alt="Scarface" title="Scarface" />
						</div>
						<div class="movieInsideTopImgRight">
							<div class="movieInsideTopImgRightIn">
								<div class="movieInsideTopImgRightInside">
									<h1 itemprop="name">Scarface</h1>
									<!--<h2>Wer ist Jason Bourne?</h2> Must be a Movie Slogan(Tagline) -->
									<!--<h3><a href="#">The Bourne Ultimatum</a>,<a href="#">The Bourne Supremacy</a>,<br><a href="#">The Bourne Legacy</a></h3> Must be a Movies other parts -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="movieInsideTopInfo">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<div class="movieInsideTopInfoText" itemprop="description">
						<p>Criminal Tony Montana comes to America from Cuba and&nbsp;starts to connect with gangsters..</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="movieInsideTopInfoAddress">
						<ul>
							<li><strong>Year:</strong> <span itemprop="dateCreated">1983</span></li>
							<li>
								<strong>Director:</strong>
								<!-- Directors, for each person must be a looped foreach -->
								<span itemprop="director" itemscope itemtype="http://schema.org/Person"><span itemprop="name">Brian De Palma</span></span>,
								<span itemprop="director" itemscope itemtype="http://schema.org/Person"><span itemprop="name">Ronaldo Nazario de Lima</span></span>,
								<span itemprop="director" itemscope itemtype="http://schema.org/Person"><span itemprop="name">Roberto Baggio</span></span>
								<!-- Directors end -->
							</li>
							<li><strong>With:</strong> <span itemprop="actor" itemscope itemtype="http://schema.org/Person"><span itemprop="name">Al Pacino</span></span></li>
							<li><strong>Genre:</strong> <span itemprop="genre">Drama, Thriller</span></li>
						</ul>
					</div>
				</div>
				<div class="movieInsideTopInfoSocialWrap col-xs-12 col-sm-4 col-lg-3 col-lg-push-1">
					<div class="movieInsideTopInfoSocial">
						<a href="#"><i class="fnicon-pinterest"></i></a>
						<a onClick="window.open('http://www.facebook.com/sharer.php?t=Scarface&amp;s=%3Cp%3ECriminal+Tony+Montana+comes+to+America+from+Cuba+and%26nbsp%3Bstarts+to+connect+with+gangsters..%3C%2Fp%3E&amp;u=http%3A%2F%2Fwww.movietrip.me%2Fmovies%2Fview%2F394%2Fscarface&amp;&i=%2Fmda.php%3Fid%3D5367', 'sharer', 'toolbar=0,status=0,width=548,height=325');" href="javascript:void(0)" class="fb">
							<i class="fnicon-facebook-f"></i>
						</a>
						<a href="#"><i class="fnicon-twitter"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
<section class="movieInsideMap">
	<div id="map_canvas">
		here will be the map
	</div>
</section>
<section class="relatedWrap">
	<section class="relatedIn relatedScenes">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					here will be facebook comments
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2>Scenes From The Film</h2>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<div class="promoBlock sceneBlock" style="background-image:url(img/frontend/img-1.jpg);">
						<a href="scenes.html" class="promoBlock-topLink"><span>Scenes</span></a>
						<a href="scene-inside.html" class="promoBlockInfo">
							<div>
								<h4>Interstate 10 in California</h4>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="relatedIn relatedMovies">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2>Related Movies</h2>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-3">
					<a class="movieThumb" href="#">
						<figure>
							<img src="img/frontend/movie-1.jpg" alt="Good Will Hunting" title="Good Will Hunting">
						</figure>
					</a>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-3">
					<a class="movieThumb" href="#">
						<figure>
							<img src="img/frontend/movie-2.jpg" alt="Amélie" title="Amélie">
						</figure>
					</a>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-3">
					<a class="movieThumb" href="#">
						<figure>
							<img src="img/frontend/movie-3.jpg" alt="Vertigo" title="Vertigo">
						</figure>
					</a>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-3">
					<a class="movieThumb" href="#">
						<figure>
							<img src="img/frontend/movie-4.jpg" alt="The Devil Wears Prada" title="The Devil Wears Prada">
						</figure>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="relatedIn relatedLocations">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2>Related Locations</h2>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<div class="promoBlock locationBlock" style="background-image:url(img/frontend/img-1.jpg);">
						<a href="#" class="promoBlock-topLink"><span>Locations</span></a>
						<span class="promoBlockAuthor">by <a href="#">Vasya Pupkin</a></span>
						<a href="#" class="promoBlockInfo">
							<div>
								<h3>The hustler scene with Jack</h3>
								<h4>Bitov garaji mej vra en talis Jackin Jack lrvcrats atori vra nayume lusapaytsar mijavayrin</h4>
							</div>
						</a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="promoBlock locationBlock" style="background-image:url(img/frontend/img-2.png);">
						<a href="#" class="promoBlock-topLink"><span>Locations</span></a>
						<span class="promoBlockAuthor">by <a href="#">Vasya Pupkin</a></span>
						<a href="#" class="promoBlockInfo">
							<div>
								<h3>The hustler scene with Jack</h3>
								<h4>Bitov garaji mej vra en talis Jackin Jack lrvcrats atori vra nayume lusapaytsar mijavayrin</h4>
							</div>
						</a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="promoBlock locationBlock" style="background-image:url(img/frontend/img-3.png);">
						<a href="#" class="promoBlock-topLink"><span>Locations</span></a>
						<span class="promoBlockAuthor">by <a href="#">Vasya Pupkin</a></span>
						<a href="#" class="promoBlockInfo">
							<div>
								<h3>The hustler scene with Jack</h3>
								<h4>Bitov garaji mej vra en talis Jackin Jack lrvcrats atori vra nayume lusapaytsar mijavayrin</h4>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>

<% include modules/_footer %>