<% var pageTitle = "MovieTrip"; pageId = "movies"; %>
<% include modules/_head %>
<% include modules/_header %>

<!-- movies -->
<section class="moviesInside">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-3">
				<a href="movie-inside.html" class="movieThumb">
					<figure>
						<img src="img/frontend/movie-1.jpg" alt="" />
					</figure>
					<h2>The Incredible Hulk</h2>
				</a>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3">
				<a href="movie-inside.html" class="movieThumb">
					<figure>
						<img src="img/frontend/movie-2.jpg" alt="" />
					</figure>
					<h2>The Incredible Hulk</h2>
				</a>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3">
				<a href="movie-inside.html" class="movieThumb">
					<figure>
						<img src="img/frontend/movie-3.jpg" alt="" />
					</figure>
					<h2>The Incredible Hulk</h2>
				</a>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3">
				<a href="movie-inside.html" class="movieThumb">
					<figure>
						<img src="img/frontend/movie-4.jpg" alt="" />
					</figure>
					<h2>The Incredible Hulk</h2>
				</a>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3">
				<a href="movie-inside.html" class="movieThumb">
					<figure>
						<img src="img/frontend/movie-5.jpg" alt="" />
					</figure>
					<h2>The Incredible Hulk</h2>
				</a>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3">
				<a href="movie-inside.html" class="movieThumb">
					<figure>
						<img src="img/frontend/movie-6.jpg" alt="" />
					</figure>
					<h2>The Incredible Hulk</h2>
				</a>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3">
				<a href="movie-inside.html" class="movieThumb">
					<figure>
						<img src="img/frontend/movie-7.jpg" alt="" />
					</figure>
					<h2>The Incredible Hulk</h2>
				</a>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3">
				<a href="movie-inside.html" class="movieThumb">
					<figure>
						<img src="img/frontend/movie-8.jpg" alt="" />
					</figure>
					<h2>The Incredible Hulk</h2>
				</a>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3">
				<a href="movie-inside.html" class="movieThumb">
					<figure>
						<img src="img/frontend/movie-1.jpg" alt="" />
					</figure>
					<h2>The Incredible Hulk</h2>
				</a>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3">
				<a href="movie-inside.html" class="movieThumb">
					<figure>
						<img src="img/frontend/movie-2.jpg" alt="" />
					</figure>
					<h2>The Incredible Hulk</h2>
				</a>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3">
				<a href="movie-inside.html" class="movieThumb">
					<figure>
						<img src="img/frontend/movie-3.jpg" alt="" />
					</figure>
					<h2>The Incredible Hulk</h2>
				</a>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3">
				<a href="movie-inside.html" class="movieThumb">
					<figure>
						<img src="img/frontend/movie-4.jpg" alt="" />
					</figure>
					<h2>The Incredible Hulk</h2>
				</a>
			</div>
			<div class="pageNext">
				<a href="#">More</a>
			</div>
		</div>
	</div>
</section>
<!-- movies end -->

<% include modules/_footer %>