<% var pageTitle = "Add Scene"; pageId = "Add scene"; %>
<% include modules/_head %>
<% include modules/_header-my %>

<section class="profile">
	<section class="profileTop" style="background-image:url(img/frontend/img-3.png);">
		<section class="profileTopMain">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<div class="profilePic" style="background-image:url(https://graph.facebook.com/994280820628803/picture?width=150&height=150);">
							<a href="#" id="profilePhotoLink">
								<i class="fnicon-photo"></i>
							</a>
							<input type="file" id="avatarphoto" name="avatarphoto" style="display:none" accept=".jpg,.jpeg,.png"/>
						</div>
					</div>
					<div class="col-lg-4 col-lg-offset-1">
						<div class="profileDesc">
							<h1><span>Arsen Mkrtchyan<a href="#"><i class="fnicon-edit"></i></a></span></h1>
							<h2>ars.mkrtchyan@mail.ru</h2>
              <p>
								After Treadstone is being closed, Bourne walks away over the Pont des Arts and disappears.
								Bourne and Marie arrive in Paris. Bourne watches Conklin from the roof of.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="profileTopMenu">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="profileMenu dropdown">
							<a class="dropdown-toggle hidden-sm hidden-md hidden-lg" id="profileMenuDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
							<ul class="dropdown-menu visible-sm visible-md visible-lg" aria-labelledby="profileMenuDrop">
								<li><a class="selected" href="my-scenes.html">Scenes</a></li>
								<li><a href="my-locations.html">Locations</a></li>
								<li><a href="my-movies.html">Movies</a></li>
								<li><a href="my-trips.html">Trips</a></li>
								<li><a href="my-favorites.html">Favorites</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
	<section class="profileBottom">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<!-- Movies -->
					<section class="profileInsideBlock profileScenes">
						<div class="row">
							<div class="col-xs-12">
								<h2>Add Scene</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<section class="addForm">
									<form action="">
										<div class="row">
											<div class="col-xs-12">
												<h3>1. Insert first step information</h3>
											</div>
											<div class="col-xs-12">
												<div class="form-group">
													<label for="addSceneMovieName">Movie name</label>
													<div class="mtInputWrap">
														<input type="text" id="addSceneMovieName" class="mtInput" />
														<button type="button" class="mtModalBtn" data-toggle="modal" data-target="#addMovieModal">+</button>
													</div>
												</div>
											</div>
											<div class="col-xs-12">
												<div class="form-group">
													<label for="addSceneLocation">Location</label>
													<div class="mtInputWrap">
														<input type="text" id="addSceneLocation" class="mtInput" />
														<button type="button" class="mtModalBtn" data-toggle="modal" data-target="#addLocationModal">+</button>
													</div>
												</div>
											</div>
											<div class="col-xs-12">
												<div class="form-group">
													<label for="addSceneAddress">Address</label>
													<input type="text" id="addSceneAddress" class="mtInput" />
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<h3>2. Insert second step information</h3>
											</div>
											<div class="col-xs-12">
												<div class="form-group">
													<label for="addSceneDescription">Description</label>
													<textarea name="addSceneDescription" id="addSceneDescription" class="mtInput" cols="" rows="6"></textarea>
												</div>
											</div>
											<div class="col-xs-12">
												<div class="form-group">
													<label for="addSceneTags">Tags</label>
													<div class="mtTags">
														<h2>
															<span>Tag 1</span>
															<a href="#"><i class="fnicon-close"></i></a>
														</h2>
														<h2>
															<span>Tag 3</span>
															<a href="#"><i class="fnicon-close"></i></a>
														</h2>
														<h2>
															<span>Al Pacino</span>
															<a href="#"><i class="fnicon-close"></i></a>
														</h2>
														<label>
															<input type="text" placeholder="Add Tag" name="addSceneTags" id="addSceneTags" />
															<button type="button"><span>+</span></button>
														</label>
													</div>
												</div>
											</div>
											<div class="col-xs-12">
												<div class="form-group">
													<div class="mapWrap">
														<div id="map_canvas">
															Here will be the map
														</div>
													</div>
												</div>
											</div>
											<div class="col-xs-12">
												<div class="form-group">
													<label for="addSceneImage">Image</label>
													<div class="mtImage">
														<input type="file" id="addSceneImage" class="hidden" hidden>
														<div class="mtImageLeft">
															<div class="mtImageLeftIn">
																<div class="mtImageLeftInside">
																	<h2>No image</h2>
																	<figure>
																		<img src="img/frontend/img-3.png" alt="" />
																	</figure>
																</div>
															</div>
														</div>
														<div class="mtImageRight">
															<div class="mtImageRightIn">
																<div class="mtImageRightInside">
																	<label for="addSceneImage">
																		<span>Upload image</span>
																	</label>
																	<span>or select from <a href="#">existing</a></span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</form>
								</section>
							</div>
							<div class="pageNext">
								<a href="#">Send for approval</a>
							</div>
						</div>
					</section>
					<!-- Movies End -->
				</div>
			</div>
		</div>
	</section>
</section>
<!-- my end -->

<% include modules/_footer %>