<% var pageTitle = "Add Location"; pageId = "Add location"; %>
<% include modules/_head %>
<% include modules/_header-my %>

<section class="profile">
	<section class="profileTop" style="background-image:url(img/frontend/img-3.png);">
		<section class="profileTopMain">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<div class="profilePic" style="background-image:url(https://graph.facebook.com/994280820628803/picture?width=150&height=150);">
							<a href="#" id="profilePhotoLink">
								<i class="fnicon-photo"></i>
							</a>
							<input type="file" id="avatarphoto" name="avatarphoto" style="display:none" accept=".jpg,.jpeg,.png"/>
						</div>
					</div>
					<div class="col-lg-4 col-lg-offset-1">
						<div class="profileDesc">
							<h1><span>Arsen Mkrtchyan<a href="#"><i class="fnicon-edit"></i></a></span></h1>
							<h2>ars.mkrtchyan@mail.ru</h2>
              <p>
								After Treadstone is being closed, Bourne walks away over the Pont des Arts and disappears.
								Bourne and Marie arrive in Paris. Bourne watches Conklin from the roof of.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="profileTopMenu">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="profileMenu dropdown">
							<a class="dropdown-toggle hidden-sm hidden-md hidden-lg" id="profileMenuDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
							<ul class="dropdown-menu visible-sm visible-md visible-lg" aria-labelledby="profileMenuDrop">
								<li><a href="my-scenes.html">Scenes</a></li>
								<li><a class="selected" href="my-locations.html">Locations</a></li>
								<li><a href="my-movies.html">Movies</a></li>
								<li><a href="my-trips.html">Trips</a></li>
								<li><a href="my-favorites.html">Favorites</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
	<section class="profileBottom">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<!-- Movies -->
					<section class="profileInsideBlock profileLocations">
						<div class="row">
							<div class="col-xs-12">
								<h2>Add Location</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<section class="addForm">
									<form action="">
										<div class="row">
											<div class="col-xs-12">
												<h3>1. Insert first step information</h3>
											</div>
											<div class="col-xs-12 col-md-6">
												<div class="form-group">
													<label for="addLocationName">Name</label>
													<input type="text" id="addLocationName" class="mtInput" />
												</div>
											</div>
											<div class="col-xs-12 col-md-6">
												<div class="form-group">
													<label for="addLocationType">Type</label>
													<div class="mtSelect dropdown">
														<button class="dropdown-toggle" type="button" id="addLocationTypeDrop" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
															Select type
														</button>
														<ul class="dropdown-menu" aria-labelledby="addLocationTypeDrop">
															<li><a class="selected" href="#">Action</a></li>
															<li><button type="button">Drama</button></li>
															<li><a href="#">Crime</a></li>
															<li><a href="#">Historical</a></li>
															<li><a href="#">Horror</a></li>
															<li><a href="#">Musical</a></li>
															<li><a href="#">Sci-Fi</a></li>
															<li><a href="#">War</a></li>
															<li><a href="#">Western</a></li>
															<li><a href="#">Animation</a></li>
															<li><a href="#">Biographical</a></li>
															<li><a href="#">Noir</a></li>
															<li><a href="#">Thriller</a></li>
															<li><a href="#">Fantasy</a></li>
															<li><a href="#">Melodrama</a></li>
															<li><a href="#">Suspense</a></li>
															<li><a href="#">Mystery</a></li>
															<li><a href="#">Romance</a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="col-xs-12 col-md-6">
												<div class="form-group">
													<label for="addLocationCountry">Country</label>
													<div class="mtSelect dropdown">
														<button class="dropdown-toggle" type="button" id="addLocationCountryDrop" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
															Select country
														</button>
														<ul class="dropdown-menu" aria-labelledby="addLocationCountryDrop">
															<li><a class="selected" href="#">Action</a></li>
															<li><button type="button">Drama</button></li>
															<li><a href="#">Crime</a></li>
															<li><a href="#">Historical</a></li>
															<li><a href="#">Horror</a></li>
															<li><a href="#">Musical</a></li>
															<li><a href="#">Sci-Fi</a></li>
															<li><a href="#">War</a></li>
															<li><a href="#">Western</a></li>
															<li><a href="#">Animation</a></li>
															<li><a href="#">Biographical</a></li>
															<li><a href="#">Noir</a></li>
															<li><a href="#">Thriller</a></li>
															<li><a href="#">Fantasy</a></li>
															<li><a href="#">Melodrama</a></li>
															<li><a href="#">Suspense</a></li>
															<li><a href="#">Mystery</a></li>
															<li><a href="#">Romance</a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="col-xs-12 col-md-6">
												<div class="form-group">
													<label for="addLocationCity">City</label>
													<input type="text" id="addLocationCity" class="mtInput" />
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<h3>2. Insert second step information</h3>
											</div>
											<div class="col-xs-12">
												<div class="form-group">
													<label for="addLocationAddress">Address</label>
													<input type="text" id="addLocationAddress" class="mtInput" />
												</div>
											</div>
											<div class="col-xs-12">
												<div class="form-group">
													<div class="mapWrap">
														<div id="map_canvas">
															Here will be the map
														</div>
													</div>
												</div>
											</div>
											<div class="col-xs-12">
												<div class="form-group">
													<label for="addLocationImage">Image</label>
													<div class="mtImage">
														<input type="file" id="addLocationImage" class="hidden" hidden>
														<div class="mtImageLeft">
															<div class="mtImageLeftIn">
																<div class="mtImageLeftInside">
																	<h2>No image</h2>
																	<figure>
																		<img src="img/frontend/img-3.png" alt="" />
																	</figure>
																</div>
															</div>
														</div>
														<div class="mtImageRight">
															<div class="mtImageRightIn">
																<div class="mtImageRightInside">
																	<label for="addLocationImage">
																		<span>Upload image</span>
																	</label>
																	<span>or select from <a href="#">existing</a></span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</form>
								</section>
							</div>
							<div class="pageNext">
								<a href="#">Send for approval</a>
							</div>
						</div>
					</section>
					<!-- Movies End -->
				</div>
			</div>
		</div>
	</section>
</section>
<!-- my end -->

<% include modules/_footer %>