<% var pageTitle = "Add Movie"; pageId = "Add movie"; %>
<% include modules/_head %>
<% include modules/_header-my %>

<section class="profile">
	<section class="profileTop" style="background-image:url(img/frontend/img-3.png);">
		<section class="profileTopMain">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<div class="profilePic" style="background-image:url(https://graph.facebook.com/994280820628803/picture?width=150&height=150);">
							<a href="#" id="profilePhotoLink">
								<i class="fnicon-photo"></i>
							</a>
							<input type="file" id="avatarphoto" name="avatarphoto" style="display:none" accept=".jpg,.jpeg,.png"/>
						</div>
					</div>
					<div class="col-lg-4 col-lg-offset-1">
						<div class="profileDesc">
							<h1><span>Arsen Mkrtchyan<a href="#"><i class="fnicon-edit"></i></a></span></h1>
							<h2>ars.mkrtchyan@mail.ru</h2>
              <p>
								After Treadstone is being closed, Bourne walks away over the Pont des Arts and disappears.
								Bourne and Marie arrive in Paris. Bourne watches Conklin from the roof of.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="profileTopMenu">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="profileMenu dropdown">
							<a class="dropdown-toggle hidden-sm hidden-md hidden-lg" id="profileMenuDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
							<ul class="dropdown-menu visible-sm visible-md visible-lg" aria-labelledby="profileMenuDrop">
								<li><a href="my-scenes.html">Scenes</a></li>
								<li><a href="my-locations.html">Locations</a></li>
								<li><a class="selected" href="my-movies.html">Movies</a></li>
								<li><a href="my-trips.html">Trips</a></li>
								<li><a href="my-favorites.html">Favorites</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
	<section class="profileBottom">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<!-- Movies -->
					<section class="profileInsideBlock profileMovies">
						<div class="row">
							<div class="col-xs-12">
								<h2>Add Movie</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<section class="addForm">
									<form action="">
										<div class="row">
											<div class="col-xs-12">
												<h3>1. Insert first step information</h3>
											</div>
											<div class="col-xs-12">
												<div class="form-group">
													<label for="addMovieName">Name</label>
													<input type="text" id="addMovieName" class="mtInput" />
												</div>
											</div>
											<div class="col-xs-12">
												<div class="form-group">
													<label for="addMovieGenre">Genre(s)</label>
													<div class="mtTags dropdown">
														<h2>
															<span>Action</span>
															<a href="#"><i class="fnicon-close"></i></a>
														</h2>
														<h2>
															<span>Adventure</span>
															<a href="#"><i class="fnicon-close"></i></a>
														</h2>
														<h2>
															<span>Comedy</span>
															<a href="#"><i class="fnicon-close"></i></a>
														</h2>
														<button class="dropdown-toggle" type="button" id="addMovieGenreDrop" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
															Add Genre
														</button>
														<ul class="dropdown-menu" aria-labelledby="addMovieGenreDrop">
															<li><a class="selected" href="#">Action</a></li>
															<li><a class="selected" href="#">Adventure</a></li>
															<li><a class="selected" href="#">Comedy</a></li>
															<li><button type="button">Drama</button></li>
															<li><a href="#">Crime</a></li>
															<li><a href="#">Historical</a></li>
															<li><a href="#">Horror</a></li>
															<li><a href="#">Musical</a></li>
															<li><a href="#">Sci-Fi</a></li>
															<li><a href="#">War</a></li>
															<li><a href="#">Western</a></li>
															<li><a href="#">Animation</a></li>
															<li><a href="#">Biographical</a></li>
															<li><a href="#">Noir</a></li>
															<li><a href="#">Thriller</a></li>
															<li><a href="#">Fantasy</a></li>
															<li><a href="#">Melodrama</a></li>
															<li><a href="#">Suspense</a></li>
															<li><a href="#">Mystery</a></li>
															<li><a href="#">Romance</a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="col-xs-12">
												<div class="form-group">
													<label for="addMovieDirectors">Director(s)</label>
													<div class="mtTags">
														<h2>
															<span>Vagharshak Haroyan</span>
															<a href="#"><i class="fnicon-close"></i></a>
														</h2>
														<h2>
															<span>Heriqnaz Stepanyan</span>
															<a href="#"><i class="fnicon-close"></i></a>
														</h2>
														<h2>
															<span>Roberto Carlos</span>
															<a href="#"><i class="fnicon-close"></i></a>
														</h2>
														<label>
															<input type="text" placeholder="Add Director" name="addMovieDirectors" id="addMovieDirectors" />
															<button type="button"><span>+</span></button>
														</label>
													</div>
												</div>
											</div>
											<div class="col-xs-12">
												<div class="form-group">
													<label for="addMovieActors">Actors</label>
													<div class="mtTags">
														<h2>
															<span>Vagharshak Haroyan</span>
															<a href="#"><i class="fnicon-close"></i></a>
														</h2>
														<h2>
															<span>Heriqnaz Stepanyan</span>
															<a href="#"><i class="fnicon-close"></i></a>
														</h2>
														<h2>
															<span>Roberto Carlos</span>
															<a href="#"><i class="fnicon-close"></i></a>
														</h2>
														<label>
															<input type="text" placeholder="Add Actor" name="addMovieActors" id="addMovieActors" />
															<button type="button"><span>+</span></button>
														</label>
													</div>
												</div>
											</div>
											<div class="col-xs-12">
												<div class="form-group">
													<label for="addMovieDescription">Description</label>
													<textarea name="addMovieDescription" id="addMovieDescription" class="mtInput" cols="" rows="6"></textarea>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<h3>2. Insert second step information</h3>
											</div>
											<div class="col-xs-12">
												<div class="form-group">
													<label for="addMovieCountry">Country</label>
													<div class="mtTags dropdown">
														<h2>
															<span>Aruba</span>
															<a href="#"><i class="fnicon-close"></i></a>
														</h2>
														<h2>
															<span>Antigua and Barbuda</span>
															<a href="#"><i class="fnicon-close"></i></a>
														</h2>
														<h2>
															<span>United Arab Emirates</span>
															<a href="#"><i class="fnicon-close"></i></a>
														</h2>
														<button class="dropdown-toggle" type="button" id="addMovieCountryDrop" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
															Add Country
														</button>
														<ul class="dropdown-menu" aria-labelledby="addMovieCountryDrop">
															<li><a class="selected" href="#">Aruba</a></li>
															<li><a class="selected" href="#">Antigua and Barbuda</a></li>
															<li><a class="selected" href="#">United Arab Emirates</a></li>
															<li><a href="#">Afghanistan</a></li>
															<li><a href="#">Algeria</a></li>
															<li><a href="#">Azerbaijan</a></li>
															<li><a href="#">Albania</a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="col-xs-12 col-md-2">
												<div class="form-group">
													<label for="addMovieYear">Year</label>
													<input type="number" id="addMovieYear" class="mtInput" min="1896" max="2017" placeholder="2017" />
												</div>
											</div>
											<div class="col-xs-12 col-md-10">
												<div class="form-group">
													<label for="addMovieTags">Tags</label>
													<div class="mtTags">
														<h2>
															<span>Tag 1</span>
															<a href="#"><i class="fnicon-close"></i></a>
														</h2>
														<h2>
															<span>Tag 3</span>
															<a href="#"><i class="fnicon-close"></i></a>
														</h2>
														<h2>
															<span>Al Pacino</span>
															<a href="#"><i class="fnicon-close"></i></a>
														</h2>
														<label>
															<input type="text" placeholder="Add Tag" name="addMovieTags" id="addMovieTags" />
															<button type="button"><span>+</span></button>
														</label>
													</div>
												</div>
											</div>
											<div class="col-xs-12">
												<div class="form-group">
													<label for="addMovieImage">Image</label>
													<div class="mtImage mtMovieImage">
														<input type="file" id="addMovieImage" class="hidden" hidden>
														<div class="mtImageLeft">
															<div class="mtImageLeftIn">
																<div class="mtImageLeftInside">
																	<h2>No image</h2>
																	<figure>
																		<img src="img/frontend/movie-1.jpg" alt="" />
																	</figure>
																</div>
															</div>
														</div>
														<div class="mtImageRight">
															<div class="mtImageRightIn">
																<div class="mtImageRightInside">
																	<label for="addMovieImage">
																		<span>Upload image</span>
																	</label>
																	<span>or select from <a href="#">existing</a></span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</form>
								</section>
							</div>
							<div class="pageNext">
								<a href="#">Send for approval</a>
							</div>
						</div>
					</section>
					<!-- Movies End -->
				</div>
			</div>
		</div>
	</section>
</section>
<!-- my end -->

<% include modules/_footer %>