<% var pageTitle = "My Locations"; pageId = "my-locations"; %>
<% include modules/_head %>
<% include modules/_header %>

<section class="profile">
	<section class="profileTop" style="background-image:url(img/frontend/img-3.png);">
		<section class="profileTopMain">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<div class="profilePic" style="background-image:url(https://graph.facebook.com/994280820628803/picture?width=150&height=150);">
							<a href="#" id="profilePhotoLink">
								<i class="fnicon-photo"></i>
							</a>
							<input type="file" id="avatarphoto" name="avatarphoto" style="display:none" accept=".jpg,.jpeg,.png"/>
						</div>
					</div>
					<div class="col-lg-4 col-lg-offset-1">
						<div class="profileDesc">
							<h1><span>Arsen Mkrtchyan<a href="#"><i class="fnicon-edit"></i></a></span></h1>
							<h2>ars.mkrtchyan@mail.ru</h2>
              <p>
								After Treadstone is being closed, Bourne walks away over the Pont des Arts and disappears.
								Bourne and Marie arrive in Paris. Bourne watches Conklin from the roof of.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="profileTopMenu">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="profileMenu dropdown">
							<a class="dropdown-toggle hidden-sm hidden-md hidden-lg" id="profileMenuDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
							<ul class="dropdown-menu visible-sm visible-md visible-lg" aria-labelledby="profileMenuDrop">
								<li><a href="my-scenes.html">Scenes</a></li>
								<li><a href="my-locations.html">Locations</a></li>
								<li><a href="my-movies.html">Movies</a></li>
								<li><a class="selected" href="my-trips.html">Trips</a></li>
								<li><a href="my-favorites.html">Favorites</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
	<section class="profileBottom">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<!-- Trips -->
					<section class="profileInsideBlock profileTrips">
						<div class="row">
							<div class="col-xs-12">
								<h2>Trips</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-3">
								<div class="promoBlock createBlock">
									<a href="#">
										<h5>Create Trip</h5>
									</a>
								</div>
							</div>
							<div class="col-xs-12 col-sm-3">
								<div class="thumbBtns">
									<a class="editThumb" href="#" title="Edit"><i class="fnicon-edit"></i></a>
									<a class="deleteThumb" href="#" title="Delete"><i class="fnicon-close"></i></a>
								</div>
								<a href="trip-inside.html" class="specialLocation">
									<div class="specialLocationType"></div>
									<div class="specialLocationBg" style="background-image:url(img/frontend/trip-1.jpg);"></div>
									<div class="specialLocationCaption">
										<h3>Gossip Girl season 2 trip in New York - 8 Locations</h3>
										<h4>John Wick</h4>
									</div>
								</a>
								<div class="profilePostStatus pending">
									<h2>Pending</h2>
								</div>
							</div>
							<div class="pageNext">
								<a href="#">View All</a>
							</div>
						</div>
					</section>
					<!-- Trips End -->
				</div>
			</div>
		</div>
	</section>
</section>
<!-- my end -->

<% include modules/_footer %>