<% var pageTitle = "MovieTrip"; pageId = "scenes"; %>
<% include modules/_head %>
<% include modules/_header %>

<!-- filter -->
<section class="filterSection">
	<div class="panel-group" id="filterSectionAccordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="filterSectionAccordionHeading">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#filterSectionAccordion" href="#filterSectionPanel" aria-expanded="false" aria-controls="filterSectionPanel" class="collapsed">
									<span>Filter</span>
								</a>
							</h4>
						</div>
					</div>
				</div>
			</div>
			<div id="filterSectionPanel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="filterSectionAccordionHeading" aria-expanded="false">
				<div class="panel-body">
					<form>
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<section class="filterSectionIn">
										<div class="filterSectionInside">
											<div class="row">
												<div class="col-xs-12 col-sm-6">
													<div class="form-group">
														<label for="filterMovieGenre">Choose the genre(s)</label>
														<div class="mtTags dropdown">
															<h2>
																<span>Action</span>
																<a href="#"><i class="fnicon-close"></i></a>
															</h2>
															<h2>
																<span>Adventure</span>
																<a href="#"><i class="fnicon-close"></i></a>
															</h2>
															<h2>
																<span>Comedy</span>
																<a href="#"><i class="fnicon-close"></i></a>
															</h2>
															<button class="dropdown-toggle" type="button" id="filterMovieGenreDrop" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
																Add Genre
															</button>
															<ul class="dropdown-menu" aria-labelledby="filterMovieGenreDrop">
																<li><a class="selected" href="#">Action</a></li>
																<li><a class="selected" href="#">Adventure</a></li>
																<li><a class="selected" href="#">Comedy</a></li>
																<li><button type="button">Drama</button></li>
																<li><a href="#">Crime</a></li>
																<li><a href="#">Historical</a></li>
																<li><a href="#">Horror</a></li>
																<li><a href="#">Musical</a></li>
																<li><a href="#">Sci-Fi</a></li>
																<li><a href="#">War</a></li>
																<li><a href="#">Western</a></li>
																<li><a href="#">Animation</a></li>
																<li><a href="#">Biographical</a></li>
																<li><a href="#">Noir</a></li>
																<li><a href="#">Thriller</a></li>
																<li><a href="#">Fantasy</a></li>
																<li><a href="#">Melodrama</a></li>
																<li><a href="#">Suspense</a></li>
																<li><a href="#">Mystery</a></li>
																<li><a href="#">Romance</a></li>
															</ul>
														</div>
													</div>
												</div>
												<div class="col-xs-12 col-sm-6">
													<div class="form-group">
														<label for="filterLocation">Choose location type(s)</label>
														<div class="mtTags dropdown">
															<h2>
																<span>Action</span>
																<a href="#"><i class="fnicon-close"></i></a>
															</h2>
															<h2>
																<span>Adventure</span>
																<a href="#"><i class="fnicon-close"></i></a>
															</h2>
															<h2>
																<span>Comedy</span>
																<a href="#"><i class="fnicon-close"></i></a>
															</h2>
															<button class="dropdown-toggle" type="button" id="filterLocationDrop" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
																Add Genre
															</button>
															<ul class="dropdown-menu" aria-labelledby="filterLocationDrop">
																<li><a class="selected" href="#">Action</a></li>
																<li><a class="selected" href="#">Adventure</a></li>
																<li><a class="selected" href="#">Comedy</a></li>
																<li><button type="button">Drama</button></li>
																<li><a href="#">Crime</a></li>
																<li><a href="#">Historical</a></li>
																<li><a href="#">Horror</a></li>
																<li><a href="#">Musical</a></li>
																<li><a href="#">Sci-Fi</a></li>
																<li><a href="#">War</a></li>
																<li><a href="#">Western</a></li>
																<li><a href="#">Animation</a></li>
																<li><a href="#">Biographical</a></li>
																<li><a href="#">Noir</a></li>
																<li><a href="#">Thriller</a></li>
																<li><a href="#">Fantasy</a></li>
																<li><a href="#">Melodrama</a></li>
																<li><a href="#">Suspense</a></li>
																<li><a href="#">Mystery</a></li>
																<li><a href="#">Romance</a></li>
															</ul>
														</div>
													</div>
												</div>
												<div class="col-xs-12">
													<div class="filterSectionSubmit">
														<button type="submit">Submit</button>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- filter end -->
<!-- scenes -->
<section class="scenesInside">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="promoBlock sceneBlock" style="background-image:url(img/frontend/img-1.jpg);">
					<a href="scene-inside.html" class="promoBlockInfo">
						<div>
							<h3>
								Sherlock season 3 (2014)
							</h3>
							<h4>The Packet Hotel</h4>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="promoBlock sceneBlock" style="background-image:url(img/frontend/img-2.png);">
					<a href="scene-inside.html" class="promoBlockInfo">
						<div>
							<h3>
								Sherlock season 3 (2014)
							</h3>
							<h4>The Packet Hotel</h4>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="promoBlock sceneBlock" style="background-image:url(img/frontend/img-3.png);">
					<a href="scene-inside.html" class="promoBlockInfo">
						<div>
							<h3>
								Sherlock season 3 (2014)
							</h3>
							<h4>The Packet Hotel</h4>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="promoBlock sceneBlock" style="background-image:url(img/frontend/img-4.png);">
					<a href="scene-inside.html" class="promoBlockInfo">
						<div>
							<h3>
								Sherlock season 3 (2014)
							</h3>
							<h4>The Packet Hotel</h4>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="promoBlock sceneBlock" style="background-image:url(img/frontend/img-5.jpg);">
					<a href="scene-inside.html" class="promoBlockInfo">
						<div>
							<h3>
								Sherlock season 3 (2014)
							</h3>
							<h4>The Packet Hotel</h4>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="promoBlock sceneBlock" style="background-image:url(img/frontend/img-1.jpg);">
					<a href="scene-inside.html" class="promoBlockInfo">
						<div>
							<h3>
								Sherlock season 3 (2014)
							</h3>
							<h4>The Packet Hotel</h4>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="promoBlock sceneBlock" style="background-image:url(img/frontend/img-2.png);">
					<a href="scene-inside.html" class="promoBlockInfo">
						<div>
							<h3>
								Sherlock season 3 (2014)
							</h3>
							<h4>The Packet Hotel</h4>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="promoBlock sceneBlock" style="background-image:url(img/frontend/img-3.png);">
					<a href="scene-inside.html" class="promoBlockInfo">
						<div>
							<h3>
								Sherlock season 3 (2014)
							</h3>
							<h4>The Packet Hotel</h4>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="promoBlock sceneBlock" style="background-image:url(img/frontend/img-4.png);">
					<a href="scene-inside.html" class="promoBlockInfo">
						<div>
							<h3>
								Sherlock season 3 (2014)
							</h3>
							<h4>The Packet Hotel</h4>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="promoBlock sceneBlock" style="background-image:url(img/frontend/img-5.jpg);">
					<a href="scene-inside.html" class="promoBlockInfo">
						<div>
							<h3>
								Sherlock season 3 (2014)
							</h3>
							<h4>The Packet Hotel</h4>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="promoBlock sceneBlock" style="background-image:url(img/frontend/img-1.jpg);">
					<a href="scene-inside.html" class="promoBlockInfo">
						<div>
							<h3>
								Sherlock season 3 (2014)
							</h3>
							<h4>The Packet Hotel</h4>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="promoBlock sceneBlock" style="background-image:url(img/frontend/img-2.png);">
					<a href="scene-inside.html" class="promoBlockInfo">
						<div>
							<h3>
								Sherlock season 3 (2014)
							</h3>
							<h4>The Packet Hotel</h4>
						</div>
					</a>
				</div>
			</div>
			<div class="pageNext">
				<a href="#">More</a>
			</div>
		</div>
	</div>
</section>
<!-- scenes end -->

<% include modules/_footer %>