<% var pageTitle = "MovieTrip"; pageId = "scene-inside"; %>
<% include modules/_head %>
<% include modules/_header %>

<!-- Scene Inside Top -->
<section class="sceneInsideTop" itemscope itemtype="http://schema.org/Article">
	<meta itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage" itemid="http://www.movietrip.me/scenes/view/3220/sherlock-season-3(2014)-the-packet-hotel" />
	<meta itemprop="headline" content="Sherlock season 3 - The Packet Hotel" /> <!-- Important -->
	<meta itemprop="datePublished" content="2017-09-02" /> <!-- Important, check date format -->
	<meta itemprop="dateModified" content="2017-09-02" /> <!-- Important, check date format -->
	<div class="hidden" itemprop="author" itemscope itemtype="http://schema.org/Organization">
		<meta itemprop="name" content="Movietrip LLC" /> <!-- Important -->
		<meta itemprop="URL" content="http://www.movietrip.me" /> <!-- Important -->
		<div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject"> <!-- Important -->
			<meta itemprop="url" content="http://www.movietrip.me/img/movietrip-logo.png" /> <!-- Important -->
		</div>
	</div>
	<div class="hidden" itemprop="publisher" itemscope itemtype="http://schema.org/Organization"> <!-- Important -->
		<meta itemprop="name" content="Movietrip LLC" /> <!-- Important -->
		<meta itemprop="URL" content="http://www.movietrip.me" /> <!-- Important -->
		<div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject"> <!-- Important -->
			<meta itemprop="url" content="http://www.movietrip.me/img/movietrip-logo.png" /> <!-- Important -->
		</div>
	</div>
	<section class="sceneInsideTopImg">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="sceneInsideTopImgIn">
						<div class="sceneInsideTopImgLeft" itemprop="image" itemscope itemtype="http://schema.org/ImageObject" style="background-image:url(img/frontend/img-1.jpg);">
							<meta itemprop="url" content="http://www.movietrip.me/img/frontend/img-1.jpg" /> <!-- Important -->
							<meta itemprop="contentUrl" content="http://www.movietrip.me/img/frontend/img-1.jpg" /> <!-- Important -->
							<meta itemprop="width" content="800" /> <!-- Important -->
							<meta itemprop="height" content="450" /> <!-- Important -->
							<h1>
								<span>
									Sherlock season 3 - <span itemprop="name"><a href="location-inside.html">The Packet Hotel</a></span>
								</span>
							</h1>
							<span class="cprt">Courtesy of BBC</span>
						</div>
						<div class="sceneInsideTopImgRight" itemscope itemtype="http://schema.org/Movie">
							<meta itemprop="name" content="sherlock-season-3" /> <!-- Important -->
							<meta itemprop="dateCreated" content="2014" /> <!-- Important -->
							<!-- Directors, for each person must be a looped foreach -->
							<div class="hidden" itemprop="director" itemscope itemtype="http://schema.org/Person">
								<span itemprop="name">Mark Gatiss, Steven Moffat</span>
							</div>
							<div class="hidden" itemprop="director" itemscope itemtype="http://schema.org/Person">
								<span itemprop="name">Steven Moffat</span>
							</div>
							<!-- Directors End -->
							<a itemprop="image" itemscope itemtype="http://schema.org/ImageObject" class="movieThumb" href="/movies/view/392/sherlock-season-3">
								<meta itemprop="url" content="img/frontend/movie-1.jpg" /> <!-- Important to have hostname(http://www.movietrip.me/ at the start of content="" -->
								<img itemprop="contentUrl" src="img/frontend/movie-1.jpg" alt="Sherlock season 3" title="Sherlock season 3" /> <!-- Important to have hostname(http://www.movietrip.me/ at the start of src="" -->
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sceneInsideTopInfo">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<div class="sceneInsideTopInfoText">
						<i class="mticon-bar"></i> <!-- icon must specify the location type (bar, hotel, building...) -->
						<p itemprop="description">One of the oldest pubs in Cardiff and UK.</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="sceneInsideTopInfoAddress" itemscope itemtype="http://schema.org/Place">
						<ul itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
							<li><strong>City:</strong> <span itemprop="addressLocality">Cardiff</span></li>
							<li><strong>Country:</strong> United Kingdom</li>
							<li><strong>Location:</strong> <a href="#">The Packet Hotel</a></li>
							<li><strong>Address:</strong> <span itemprop="streetAddress">The Packet Hotel, Cardiff, United Kingdom</span></li>
						</ul>
					</div>
				</div>
				<div class="sceneInsideTopInfoSocialWrap col-xs-12 col-sm-4 col-lg-3 col-lg-push-1">
					<div class="sceneInsideTopInfoSocial">
						<a href="#"><i class="fnicon-pinterest"></i></a>
						<a onClick="window.open('http://www.facebook.com/sharer.php?t=Sherlock+season+3+%282014%29+%2F+The+Packet+Hotel&amp;s=One+of+the+oldest+pubs+in+Cardiff+and+UK.&amp;u=http%3A%2F%2Fwww.movietrip.me%2Fscenes%2Fview%2F3220%2Fsherlock-season-3%282014%29-the-packet-hotel&amp;&i=%2Fmda.php%3Fid%3D5360', 'sharer', 'toolbar=0,status=0,width=548,height=325');" href="javascript:void(0)" class="fb">
							<i class="fnicon-facebook-f"></i>
						</a>
						<a href="https://twitter.com/intent/tweet?text=Sherlock season 3%20-%20The Packet Hotel&url=http://www.movietrip.me/scenes/view/3220"><i class="fnicon-twitter"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
<!-- Scene Inside Top End -->
<!-- Google Map -->
<section class="sceneInsideMap">
	<div id="map_canvas">
		in this div the map will be rendered
	</div>
</section>
<!-- Google Map End -->
<!-- Other Scenes -->
<section class="sceneInsideOther">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				Here will be facebook comments
				<!--<fb:comments href="http://www.movietrip.me/scenes/view/3220/sherlock-season-3(2014)-the-packet-hotel" data-width="100%" num_posts="10"></fb:comments>-->
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2>Other scenes from movie</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="promoBlock sceneBlock" style="background-image:url(img/frontend/img-1.jpg);">
					<a href="scenes.html" class="promoBlock-topLink"><span>Scenes</span></a>
					<a href="scene-inside.html" class="promoBlockInfo">
						<div>
							<h3>Sherlock season 3</h3>
							<h4>Department for Energy and Climate Change</h4>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="promoBlock sceneBlock" style="background-image:url(img/frontend/img-2.png);">
					<a href="scenes.html" class="promoBlock-topLink"><span>Scenes</span></a>
					<a href="scene-inside.html" class="promoBlockInfo">
						<div>
							<h3>Sherlock season 3</h3>
							<h4>The Landmark London</h4>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="promoBlock sceneBlock" style="background-image:url(img/frontend/img-3.png);">
					<a href="scenes.html" class="promoBlock-topLink"><span>Scenes</span></a>
					<a href="scene-inside.html" class="promoBlockInfo">
						<div>
							<h3>Sherlock season 3</h3>
							<h4>St Mary Magdalene Church</h4>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Other Scenes End -->
<!-- Related Scenes -->
<section class="relatedWrap">
	<section class="relatedIn relatedScenes">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2>Related Scenes</h2>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<div class="promoBlock sceneBlock" style="background-image:url(img/frontend/img-1.jpg);">
						<a href="scenes.html" class="promoBlock-topLink"><span>Scenes</span></a>
						<a href="#" class="promoBlockInfo">
							<div>
								<h3>Sherlock season 1</h3>
								<h4>Old Broad Street</h4>
							</div>
						</a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="promoBlock sceneBlock" style="background-image:url(img/frontend/img-2.png);">
						<a href="scenes.html" class="promoBlock-topLink"><span>Scenes</span></a>
						<a href="#" class="promoBlockInfo">
							<div>
								<h3>Sherlock season 1</h3>
								<h4>Gerard street</h4>
							</div>
						</a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="promoBlock sceneBlock" style="background-image:url(img/frontend/img-3.png);">
						<a href="scenes.html" class="promoBlock-topLink"><span>Scenes</span></a>
						<a href="#" class="promoBlockInfo">
							<div>
								<h3>Sherlock season 3</h3>
								<h4>The Landmark London</h4>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
<!-- Related Scenes End -->

<% include modules/_footer %>