<% var pageTitle = "Trips"; pageId = "trips"; %>
<% include modules/_head %>
<% include modules/_header %>

<!-- trips -->
<section class="tripsInside">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-3">
				<a href="trip-inside.html" class="specialLocation">
					<div class="specialLocationType"></div>
					<div class="specialLocationBg" style="background-image:url(img/frontend/trip-1.jpg);"></div>
					<div class="specialLocationCaption">
						<h3>Gossip Girl season 2 trip in New York - 8 Locations</h3>
						<h4>John Wick</h4>
					</div>
				</a>
			</div>
			<div class="col-xs-12 col-sm-3">
				<a href="trip-inside.html" class="specialLocation">
					<div class="specialLocationType"></div>
					<div class="specialLocationBg" style="background-image:url(img/frontend/trip-2.jpg);"></div>
					<div class="specialLocationCaption">
						<h3>Gossip Girl season 2 trip in New York - 8 Locations</h3>
						<h4>John Wick</h4>
					</div>
				</a>
			</div>
			<div class="col-xs-12 col-sm-3">
				<a href="trip-inside.html" class="specialLocation">
					<div class="specialLocationType"></div>
					<div class="specialLocationBg" style="background-image:url(img/frontend/trip-1.jpg);"></div>
					<div class="specialLocationCaption">
						<h3>Gossip Girl season 2 trip in New York - 8 Locations</h3>
						<h4>John Wick</h4>
					</div>
				</a>
			</div>
			<div class="col-xs-12 col-sm-3">
				<a href="trip-inside.html" class="specialLocation">
					<div class="specialLocationType"></div>
					<div class="specialLocationBg" style="background-image:url(img/frontend/trip-2.jpg);"></div>
					<div class="specialLocationCaption">
						<h3>Gossip Girl season 2 trip in New York - 8 Locations</h3>
						<h4>John Wick</h4>
					</div>
				</a>
			</div>
			<div class="col-xs-12 col-sm-3">
				<a href="trip-inside.html" class="specialLocation">
					<div class="specialLocationType"></div>
					<div class="specialLocationBg" style="background-image:url(img/frontend/trip-1.jpg);"></div>
					<div class="specialLocationCaption">
						<h3>Gossip Girl season 2 trip in New York - 8 Locations</h3>
						<h4>John Wick</h4>
					</div>
				</a>
			</div>
			<div class="col-xs-12 col-sm-3">
				<a href="trip-inside.html" class="specialLocation">
					<div class="specialLocationType"></div>
					<div class="specialLocationBg" style="background-image:url(img/frontend/trip-2.jpg);"></div>
					<div class="specialLocationCaption">
						<h3>Gossip Girl season 2 trip in New York - 8 Locations</h3>
						<h4>John Wick</h4>
					</div>
				</a>
			</div>
			<div class="col-xs-12 col-sm-3">
				<a href="trip-inside.html" class="specialLocation">
					<div class="specialLocationType"></div>
					<div class="specialLocationBg" style="background-image:url(img/frontend/trip-1.jpg);"></div>
					<div class="specialLocationCaption">
						<h3>Gossip Girl season 2 trip in New York - 8 Locations</h3>
						<h4>John Wick</h4>
					</div>
				</a>
			</div>
			<div class="col-xs-12 col-sm-3">
				<a href="trip-inside.html" class="specialLocation">
					<div class="specialLocationType"></div>
					<div class="specialLocationBg" style="background-image:url(img/frontend/trip-2.jpg);"></div>
					<div class="specialLocationCaption">
						<h3>Gossip Girl season 2 trip in New York - 8 Locations</h3>
						<h4>John Wick</h4>
					</div>
				</a>
			</div>
			<div class="col-xs-12 col-sm-3">
				<a href="trip-inside.html" class="specialLocation">
					<div class="specialLocationType"></div>
					<div class="specialLocationBg" style="background-image:url(img/frontend/trip-1.jpg);"></div>
					<div class="specialLocationCaption">
						<h3>Gossip Girl season 2 trip in New York - 8 Locations</h3>
						<h4>John Wick</h4>
					</div>
				</a>
			</div>
			<div class="col-xs-12 col-sm-3">
				<a href="trip-inside.html" class="specialLocation">
					<div class="specialLocationType"></div>
					<div class="specialLocationBg" style="background-image:url(img/frontend/trip-2.jpg);"></div>
					<div class="specialLocationCaption">
						<h3>Gossip Girl season 2 trip in New York - 8 Locations</h3>
						<h4>John Wick</h4>
					</div>
				</a>
			</div>
			<div class="col-xs-12 col-sm-3">
				<a href="trip-inside.html" class="specialLocation">
					<div class="specialLocationType"></div>
					<div class="specialLocationBg" style="background-image:url(img/frontend/trip-1.jpg);"></div>
					<div class="specialLocationCaption">
						<h3>Gossip Girl season 2 trip in New York - 8 Locations</h3>
						<h4>John Wick</h4>
					</div>
				</a>
			</div>
			<div class="col-xs-12 col-sm-3">
				<a href="trip-inside.html" class="specialLocation">
					<div class="specialLocationType"></div>
					<div class="specialLocationBg" style="background-image:url(img/frontend/trip-2.jpg);"></div>
					<div class="specialLocationCaption">
						<h3>Gossip Girl season 2 trip in New York - 8 Locations</h3>
						<h4>John Wick</h4>
					</div>
				</a>
			</div>
			<div class="col-xs-12 col-sm-3">
				<a href="trip-inside.html" class="specialLocation">
					<div class="specialLocationType"></div>
					<div class="specialLocationBg" style="background-image:url(img/frontend/trip-1.jpg);"></div>
					<div class="specialLocationCaption">
						<h3>Gossip Girl season 2 trip in New York - 8 Locations</h3>
						<h4>John Wick</h4>
					</div>
				</a>
			</div>
			<div class="col-xs-12 col-sm-3">
				<a href="trip-inside.html" class="specialLocation">
					<div class="specialLocationType"></div>
					<div class="specialLocationBg" style="background-image:url(img/frontend/trip-2.jpg);"></div>
					<div class="specialLocationCaption">
						<h3>Gossip Girl season 2 trip in New York - 8 Locations</h3>
						<h4>John Wick</h4>
					</div>
				</a>
			</div>
			<div class="col-xs-12 col-sm-3">
				<a href="trip-inside.html" class="specialLocation">
					<div class="specialLocationType"></div>
					<div class="specialLocationBg" style="background-image:url(img/frontend/trip-1.jpg);"></div>
					<div class="specialLocationCaption">
						<h3>Gossip Girl season 2 trip in New York - 8 Locations</h3>
						<h4>John Wick</h4>
					</div>
				</a>
			</div>
			<div class="col-xs-12 col-sm-3">
				<a href="trip-inside.html" class="specialLocation">
					<div class="specialLocationType"></div>
					<div class="specialLocationBg" style="background-image:url(img/frontend/trip-2.jpg);"></div>
					<div class="specialLocationCaption">
						<h3>Gossip Girl season 2 trip in New York - 8 Locations</h3>
						<h4>John Wick</h4>
					</div>
				</a>
			</div>
			<div class="pageNext">
				<a href="trip-inside.html">More</a>
			</div>
		</div>
	</div>
</section>
<!-- trips end -->

<% include modules/_footer %>