<% var pageTitle = "Trip Inside"; pageId = "trip-inside"; %>
<% include modules/_head %>
<% include modules/_header %>

<section class="tripInsideTop">
	<section class="tripInsideTopImg">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="tripInsideTopImgIn">
						<i></i>
						<img src="img/frontend/slider-1.jpg" alt="" title="" />
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="tripInsideTopText">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-1">
					<div class="tripInsideTopUser">
						<a href="#" style="background-image: url(img/user-empty.png);"></a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-7">
					<div class="tripInsideTopDescription">
						<h2>'When Harry Met Sally' - 7 locations to see in New York</h2>
						<p>A little bit long, but 100% worth visiting - enjoy 'When Harry Met Sally' movie trip in New York!</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-lg-3 col-lg-push-1">
					<div class="tripInsideTopSocial">
						<a href="#"><i class="fnicon-facebook-f"></i></a>
						<a href="#"><i class="fnicon-twitter"></i></a>
						<a href="#"><i class="fnicon-pinterest"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
<section class="tripInsideBody">
	<div class="tripInsidePoint">
		<section class="tripInsidePointImg">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<img src="img/frontend/trip-1.jpg" alt="Trip" title="Trip" />
					</div>
				</div>
			</div>
		</section>
		<section class="tripInsidePointText">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-1">
						<div class="tripInsidePointIcon">
							<i class="mticon-castle"></i>
						</div>
					</div>
					<div class="col-xs-12 col-sm-10">
						<div class="tripInsidePointDescription">
							<h3>When Harry Met Sally... <br /> Katz's Delicatessen</h3>
							<h4>Katz's Delicatessen, 205 E Houston St, New York, NY, United States</h4>
							<p>The scene, where Sally imitates orgasm in front of the whole cafe, was shot in Katz's Deli.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="tripInsidePoint">
		<section class="tripInsidePointImg">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<img src="img/frontend/trip-2.jpg" alt="Trip" title="Trip" />
					</div>
				</div>
			</div>
		</section>
		<section class="tripInsidePointText">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
						<div class="tripInsidePointIcon">
							<i class="mticon-museum"></i>
						</div>
					</div>
					<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
						<div class="tripInsidePointDescription">
							<h3>When Harry Met Sally... <br /> Washington Square Arch</h3>
							<h4>Washington Square Arch, Washington Square North, New York, NY, United States</h4>
							<p>Sally left Harry by the Washington Square Arch. They will meet again in five years.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="tripInsidePoint">
		<section class="tripInsidePointImg">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<img src="img/frontend/trip-3.jpg" alt="Trip" title="Trip" />
					</div>
				</div>
			</div>
		</section>
		<section class="tripInsidePointText">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
						<div class="tripInsidePointIcon">
							<i class="mticon-jail"></i>
						</div>
					</div>
					<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
						<div class="tripInsidePointDescription">
							<h3>When Harry Met Sally... <br /> Bethesda Fountain</h3>
							<h4>Bethesda Fountain, New York, NY, United States</h4>
							<p>Harry and Jess discussing his relationship with Sally near Bethesda Fountain.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="tripInsidePoint">
		<section class="tripInsidePointImg">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<img src="img/frontend/trip-4.jpg" alt="Trip" title="Trip" />
					</div>
				</div>
			</div>
		</section>
		<section class="tripInsidePointText">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
						<div class="tripInsidePointIcon">
							<i class="mticon-tower"></i>
						</div>
					</div>
					<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
						<div class="tripInsidePointDescription">
							<h3>When Harry Met Sally... <br /> The Loeb Boathouse Central Park</h3>
							<h4>The Loeb Boathouse Central Park, East 72nd Street, New York, NY, United States</h4>
							<p>Sally has just broke up with her boyfriend and now discusses the situation with her friends.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</section>

<section class="tripInsideMap">
	<div id="map_canvas">
		here will be the map
	</div>
</section>


<% include modules/_footer %>