$blog-inside-padding: 16.66667% !default;

.blogInsideTopImg {
	width: 100%;
	.blogInsideTopImgIn {
		position: relative;
		width: 100%;
		height: 560px;
		background-repeat: no-repeat;
		background-position: center center;
		@include bsize(cover);
		@include clearfix();
	}
}

.blogInside {
	.blogInsideDate {
		padding: 30px 0;
		font-size: 0.778em;
		color: #5d5757;
		text-transform: uppercase;
		text-align: center;
	}
	.blogInsideTitle {
		margin: -21px 0 85px 0;
		h1 {
			font-size: 3.556em;
			color: #1b2d31;
			font-weight: 700;
			text-transform: uppercase;
			line-height: 86px;
			text-align: center;
		}
	}
	.blogInsideAuthor {
		.blogInsideAuthorIn {
			a {
				display: table;
				margin: 0 auto;
				line-height: 48px;
				font-size: 0.875em;
				font-weight: 700;
				color: #5d5757;
				text-transform: uppercase;
				text-decoration: none;
				@include clearfix();
				&:hover {
					text-decoration: none;
				}
			}
			.blogInsideAuthorInLeft {
				float: left;
				display: block;
				width: 48px;
				height: 48px;
				background-repeat: no-repeat;
				background-position: center center;
				@include bsize(cover);
				@include br(50%)
			}
			.blogInsideAuthorInRight {
				float: left;
				display: block;
				margin-left: 20px;
			}
		}
	}
	.blogInsideBody {
		position: relative;
		margin: 65px 0 0 0;
		padding: 0 0 50px 0;
		@include clearfix();
		p {
			display: block;
			font-size: 1em;
			color: #5d5757;
			line-height: 32px;
			padding: 35px $blog-inside-padding 0 $blog-inside-padding;
			&:first-child {
				padding-top: 0;
			}
		}
		.blogInsideBodyImg {
			position: relative;
			margin: 40px 0 0 0;
			padding: 0 $blog-inside-padding 20px $blog-inside-padding;
			.blogInsideBodyImg {
				padding: 0 0 20px 0;
			}
			> img {
				display: block;
				max-width: 100%;
				margin: 0 auto;
			}
			> iframe, blockquote, twitterwidget {
				margin: 0 auto!important;
				&[allowfullscreen], &[allowfullscreen=""], &[allowfullscreen="allowfullscreen"] {
					display: block;
					width: 100%;
					height: 500px;
				}
			}
			.blogInsideBodyImgInfo {
				position: absolute;
				left: 0;
				top: 0;
				width: $blog-inside-padding;
				padding-right: 30px;
				.blogInsideBodyImgInfoText {
					> h5 {
						display: block;
						font-size: 0.611em;
						color: #8c8c8c;
						line-height: 15px;
						font-style: italic;
						letter-spacing: 1px;
					}
					padding-bottom: 20px;
				}
				.blogInsideBodyImgInfoAuthor {
					position: relative;
					padding-top: 20px;
					&:before {
						content: "";
						position: absolute;
						left: 0;
						top: 0;
						display: block;
						width: 25px;
						height: 1px;
						background: #cccccc;
					}
					> h5 {
						display: block;
						font-size: 0.611em;
						color: #8c8c8c;
						line-height: 15px;
						letter-spacing: 1px;
						strong {
							font-weight: 900;
						}
					}
				}
			}
		}
		.blogInsideBodySocial {
			position: absolute;
			left: 0;
			top: 0;
			width: $blog-inside-padding;
			&.affix {
				position: fixed;
				left: auto;
				top: 90px;
			}
			.blogInsideBodySocialIn {
				display: table;
				margin: 0 auto;
				> a {
					position: relative;
					display: none;
					width: 50px;
					height: 50px;
					line-height: 50px;
					text-align: center;
					margin: 20px 0 0 0;
					text-decoration: none;
					font-size: 24px;
					color: #1b2d31;
					@include transition(all 0.3s);
					@include br(50%);
					> i {
						display: block;
						line-height: inherit;
					}
					&:first-child {
						margin: 0;
					}
					&:before {
						content: "";
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						border: 1px solid #595959;
						@include br(50%);
					}
					&:hover {
						background: #595959;
						color: #ffffff;
					}
				}
				ul.dropdown-menu {
					position: relative;
					z-index: 100;
					float: none;
					min-width: 0;
					text-align: inherit;
					top: auto;
					right: auto;
					bottom: auto;
					left: auto;
					display: block!important;
					margin: 0;
					padding: 0;
					background: transparent;
					border: none;
					outline: none;
					@include bs(none);
					@include br(0);
					@include clearfix();
					> li {
						display: block;
						margin: 20px 0 0 0;
						&:first-child {
							margin: 0;
						}
						> a {
							position: relative;
							display: block;
							padding: 0;
							clear: both;
							white-space: nowrap;
							width: 50px;
							height: 50px;
							line-height: 50px;
							text-align: center;
							text-decoration: none;
							font-size: 24px;
							color: #1b2d31;
							@include transition(all 0.3s);
							@include br(50%);
							> i {
								display: block;
								line-height: inherit;
							}
							&:before {
								content: "";
								position: absolute;
								top: 0;
								right: 0;
								bottom: 0;
								left: 0;
								border: 1px solid #595959;
								@include br(50%);
							}
							&:hover {
								background: #595959;
								color: #ffffff;
							}
						}
					}
				}
			}
		}
		.blogInsideBodyTextBlock {
			position: relative;
			padding: 55px $blog-inside-padding 0 $blog-inside-padding;
			p {
				padding-left: 0;
				padding-right: 0;
			}
			.blogInsideBodyTextBlockInImgWrap {
				border-top: 1px solid #cccccc;
				margin: 10px 0 0 0;
				.blogInsideBodyImg {
					margin: 0;
					padding: 50px 0 0 0;
				}
				h2 {
					padding: 25px 0 0 0;
					font-weight: 900;
					font-style: italic;
					font-size: 1.667em;
					letter-spacing: 1px;
					line-height: 44px;
				}
			}
		}
		blockquote {
			padding: 45px $blog-inside-padding 0 $blog-inside-padding;
			p {
				position: relative;
				font-style: italic;
				color: #8c8c8c;
				padding: 0;
				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: -30px;
					width: 1px;
					height: 100%;
					background: #cccccc;
				}
			}
		}
	}
}

.blogInsideTagsWrap {
	background: #f6f6f6;
	padding: 0 0 100px 0;
	.blogInsideTags {
		padding: 0 $blog-inside-padding;
		@include clearfix();
		.blogInsideTagsIn {
			border-top: 1px solid #cccccc;
			@include clearfix();
			ul {
				display: block;
				margin: 0 0 0 -30px;
				padding: 16px 0 0 0;
				list-style: none;
				@include clearfix();
				li {
					float: left;
					display: block;
					margin: 12px 0 0 30px;
					a {
						display: block;
						font-size: 1em;
						text-decoration: none;
						color: #5d5757;
						line-height: 1;
						letter-spacing: 1px;
						@include transition(all 0.3s);
						&:hover {
							color: #27AAE1;
						}
					}
				}
			}
		}
	}
}

.blogInsideOtherWrap {
	background: #000000;
	border-bottom: 1px solid #1b2d31;
	.blogInsideOtherHeader {
		border-bottom: 1px solid #1b2d31;
		.blogInsideOtherHeaderin {
			padding: 0 $blog-inside-padding;
			h2 {
				display: block;
				margin: 0;
				padding: 0;
				font-size: 14px;
				line-height: 82px;
				font-weight: 900;
				color: #8c8c8c;
				text-transform: uppercase;
				text-align: center;
			}
		}
	}
	.blogInsideOtherBody {
		padding: 55px 0 80px 0;
		.blogInsideOtherBodyIn {
			padding: 0 $blog-inside-padding;
			.blogInsideOtherSwiperWrap {
				position: relative;
				border-left: 1px solid #1b2d31;
				border-right: 1px solid #1b2d31;
				padding: 0 40px;
				&:before {
					content: "";
					display: block;
					width: 1px;
					height: 100%;
					background: #1b2d31;
					position: absolute;
					left: 50%;
					top: 0;
				}
				.blogInsideOtherSwiper {
					.swiper-wrapper {
						min-height: 108px;
						.swiper-slide {
							@include clearfix();
							p {
								display: block;
								font-size: 1em;
								line-height: 36px;
								color: #8c8c8c;
								font-style: italic;
								a {
									display: block;
									color: inherit;
									text-decoration: none;
								}
							}
							&.even {
								padding-right: 60px;
							}
							&.odd {
								padding-left: 60px;
							}
						}
					}
				}
				.blogInsideOtherSwiperPrev, .blogInsideOtherSwiperNext {
					position: absolute;
					top: 0;
					width: 54px;
					height: 100%;
					cursor: pointer;
					i {
						position: absolute;
						left: 50%;
						top: 50%;
						@include translate(-50%, -50%);
						display: block;
						font-size: 20px;
						line-height: 1;
						color: #1b2d31;
						@include transition(all 0.3s);
					}
					&:hover {
						i {
							color: #64a4af;
						}
					}
				}
				.blogInsideOtherSwiperPrev {
					left: -54px;
				}
				.blogInsideOtherSwiperNext {
					right: -54px;
				}
			}
		}
	}
}

@media #{$md} {
	.blogInsideTopImg {
		.blogInsideTopImgIn {
			height: 352px;
		}
	}
	.blogInside {
		.blogInsideTitle {
			margin-top: -18px;
			h1 {
				font-size: 3.222em;
				line-height: 76px;
			}
		}
		.blogInsideBody {
			p {
				padding-top: 28px;
			}
		}
	}
}

@media #{$sm} {
	.blogInsideTopImg {
		.blogInsideTopImgIn {
			height: 352px;
		}
	}
	.blogInside {
		.blogInsideTitle {
			margin: -10px 0 35px 0;
			h1 {
				font-size: 2.667em;
				line-height: 56px;
			}
		}
		.blogInsideBody {
			margin: 45px 0 0 0;
			padding: 0 0 50px 0;
			@include clearfix();
			p {
				padding-top: 20px;
			}
			.blogInsideBodyImg {
				margin: 35px 0 0 0;
				> iframe, blockquote {
					&[allowfullscreen], &[allowfullscreen=""], &[allowfullscreen="allowfullscreen"] {
						height: 360px;
					}
				}
			}
			.blogInsideBodySocial {
				.blogInsideBodySocialIn {
					display: table;
					margin: 0 auto;
					> a {
						position: relative;
						display: none;
						width: 50px;
						height: 50px;
						line-height: 50px;
						text-align: center;
						margin: 20px 0 0 0;
						text-decoration: none;
						font-size: 24px;
						color: #1b2d31;
						@include transition(all 0.3s);
						@include br(50%);
						> i {
							display: block;
							line-height: inherit;
						}
						&:first-child {
							margin: 0;
						}
						&:before {
							content: "";
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							border: 1px solid #595959;
							@include br(50%);
						}
						&:hover {
							background: #595959;
							color: #ffffff;
						}
					}
					ul.dropdown-menu {
						position: relative;
						float: none;
						min-width: 0;
						text-align: inherit;
						top: auto;
						right: auto;
						bottom: auto;
						left: auto;
						display: block!important;
						margin: 0;
						padding: 0;
						background: transparent;
						border: none;
						outline: none;
						@include bs(none);
						@include br(0);
						@include clearfix();
						> li {
							display: block;
							margin: 20px 0 0 0;
							&:first-child {
								margin: 0;
							}
							> a {
								position: relative;
								display: block;
								padding: 0;
								clear: both;
								white-space: nowrap;
								width: 50px;
								height: 50px;
								line-height: 50px;
								text-align: center;
								text-decoration: none;
								font-size: 24px;
								color: #1b2d31;
								@include transition(all 0.3s);
								@include br(50%);
								> i {
									display: block;
									line-height: inherit;
								}
								&:before {
									content: "";
									position: absolute;
									top: 0;
									right: 0;
									bottom: 0;
									left: 0;
									border: 1px solid #595959;
									@include br(50%);
								}
								&:hover {
									background: #595959;
									color: #ffffff;
								}
							}
						}
					}
				}
			}
			.blogInsideBodyTextBlock {
				padding-top: 20px;
				.blogInsideBodyTextBlockInImgWrap {
					border-top: 1px solid #cccccc;
					margin: 10px 0 0 0;
					.blogInsideBodyImg {
						margin: 0;
						padding: 50px 0 0 0;
					}
					h2 {
						padding: 20px 0 0 0;
						font-size: 1.333em;
						line-height: 34px;
					}
				}
			}
			blockquote {
				padding-top: 20px;
			}
		}
	}
}

@media #{$xs} {
	.blogInsideTopImg {
		.blogInsideTopImgIn {
			height: 304px;
		}
	}
	.blogInside {
		.blogInsideDate {
			padding: 20px 0;
		}
		.blogInsideTitle {
			margin: -7px 0 25px 0;
			h1 {
				font-size: 1.333em;
				line-height: 30px;
			}
		}
		.blogInsideBody {
			margin: 30px 0 0 0;
			padding: 0 0 90px 0;
			p {
				font-size: 0.889em;
				line-height: 22px;
				padding: 20px 0 0 0;
			}
			.blogInsideBodyImg {
				margin: 20px 0 0 0;
				padding: 0;
				.blogInsideBodyImgInfo {
					position: static;
					left: auto;
					top: auto;
					width: auto;
					padding-top: 10px;
					padding-right: 0;
					.blogInsideBodyImgInfoText {
						padding-bottom: 10px;
					}
					.blogInsideBodyImgInfoAuthor {
						padding-top: 10px;
					}
				}
				> iframe, blockquote {
					&[allowfullscreen], &[allowfullscreen=""], &[allowfullscreen="allowfullscreen"] {
						height: 280px;
					}
				}
			}
			.blogInsideBodySocial {
				bottom: 20px!important;
				top: auto!important;
				width: 100%!important;
				position: absolute!important;
				.blogInsideBodySocialIn {
					display: block;
					> a {
						position: relative;
						display: block;
						width: 50px;
						height: 50px;
						line-height: 50px;
						text-align: center;
						margin: 20px 0 0 0;
						text-decoration: none;
						font-size: 20px;
						color: #1b2d31;
						@include transition(all 0.3s);
						@include br(50%);
						> i {
							display: block;
							line-height: inherit;
						}
						&:first-child {
							margin: 0;
						}
						&:before {
							content: "";
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							border: 1px solid #595959;
							@include br(50%);
						}
						&:hover {
							background: #595959;
							color: #ffffff;
						}
					}
					ul.dropdown-menu {
						position: relative;
						top: auto;
						left: auto;
						display: none!important;
						z-index: 10;
						> li {
							float: left;
							margin: 0 0 0 20px;
						}
					}
					&.open {
						> a {
							display: none;
						}
						ul.dropdown-menu {
							display: block!important;
						}
					}
				}
			}
			.blogInsideBodyTextBlock {
				padding: 20px 0 0 0;
				.blogInsideBodyTextBlockInImgWrap {
					margin: 20px 0 0 0;
					.blogInsideBodyImg {
						margin: 0;
						padding: 30px 0 0 0;
					}
					h2 {
						padding: 20px 0 0 0;
						font-size: 1em;
						line-height: 24px;
						text-align: center;
					}
				}
			}
			blockquote {
				padding: 20px 0 0 15px;
				p {
					&:before {
						left: -15px;
					}
				}
			}
		}
	}
	.blogInsideTagsWrap {
		overflow: hidden;
		padding: 0 0 40px 0;
		.blogInsideTags {
			padding: 0;
			.blogInsideTagsIn {
				ul {
					margin: 0 0 0 -15px;
					li {
						margin: 12px 0 0 15px;
						a {
							display: block;
							font-size: 0.889em;
						}
					}
				}
			}
		}
	}
	.blogInsideOtherWrap {
		.blogInsideOtherBody {
			padding: 55px 0 80px 0;
			.blogInsideOtherBodyIn {
				padding: 0 40px;
				.blogInsideOtherSwiperWrap {
					padding: 0 40px;
					&:before {
						display: none;
					}
					.blogInsideOtherSwiper {
						.swiper-wrapper {
							min-height: 0;
							.swiper-slide {
								p {
									display: block;
									font-size: 1em;
									line-height: 36px;
									color: #8c8c8c;
									font-style: italic;
									a {
										display: block;
										color: inherit;
										text-decoration: none;
									}
								}
								&.even {
									padding-right: 0;
								}
								&.odd {
									padding-left: 0;
								}
							}
						}
					}
					.blogInsideOtherSwiperPrev, .blogInsideOtherSwiperNext {
						width: 40px;
					}
					.blogInsideOtherSwiperPrev {
						left: -40px;
					}
					.blogInsideOtherSwiperNext {
						right: -40px;
					}
				}
			}
		}
	}
}