.blogsInside{
  padding: 15px 0;
  > .container {
    > .row {
	    > div {
		    padding-top: 15px;
		    padding-bottom: 15px;
	    }
    }
  }
  .promoBlock{
    height: 360px;
  }
}

@media #{$md} {
	.blogsInside {
		padding: 10px 0;
		> .container {
			> .row {
				> div {
					padding-top: 10px;
					padding-bottom: 10px;
				}
			}
		}
	}
}

@media #{$sm} {
	.blogsInside {
		padding: 10px 0;
		> .container {
			> .row {
				> div {
					padding-top: 10px;
					padding-bottom: 10px;
				}
			}
		}
	}
}

@media #{$xs} {
	.blogsInside {
		padding: 8px 0;
		> .container {
			> .row {
				> div {
					padding-top: 8px;
					padding-bottom: 8px;
				}
			}
		}
	}
}

@import "blog-inside-Raz";