.filterSection {
  width: 100%;
  background: lighten($color-related-title, 30%);
  @include clearfix();
  > .panel-group {
    background: transparent;
    margin: 0;
    .panel-group {
      margin: 0;
    }
    .panel {
      margin: 0;
      background-color: transparent;
      border: none;
      @include br(0);
      @include bs(none);
      .panel-heading {
        color: inherit;
        background-color: transparent;
        border: none;
        padding: 0;
        @include br(0);
      }
      .panel-body {
        border: none;
        padding: 0;
      }
    }
    > .panel {
      > .panel-heading {
        h4 {
          position: relative;
          display: block;
          width: 100%;
          margin: 0;
          padding: 0 15px;
          font-size: 1.222em;
          line-height: 50px;
          font-weight: 900;
          color: #ffffff;
          background: lighten($color-related-title, 20%);
          text-transform: uppercase;
          a {
	          display: block;
	          line-height: inherit;
            text-decoration: none;
	          @include clearfix();
	          span {
		          position: relative;
		          float: left;
		          display: block;
		          line-height: inherit;
		          @include clearfix();
		          &:before {
			          content: $fnicon-chevron-up;
			          position: absolute;
			          left: 100%;
			          margin-left: 10px;
			          font-size: 10px;
			          top: 0;
			          line-height: inherit;
			          display: block;
			          @extend .fnicon;
		          }
	          }
	          &.collapsed {
		          span {
			          &:before {
				          content: $fnicon-chevron-down;
			          }
		          }
	          }
          }
        }
      }
    }
  }
  form {
    display: block;
    width: 100%;
    .filterSectionIn {
      padding: 0 100px 25px 100px;
	    background: lighten($color-related-title, 20%);
      label {
        display: block;
        width: 100%;
        padding: 0 0 0 0;
        font-weight: 400;
        position: relative;
	      color: #ffffff;
        @include clearfix();
      }
      .filterSectionSubmit {
        display: table;
        margin: 0 auto;
        padding: 5px 0 0 0;
        @include clearfix();
        a, button {
          float: left;
          display: block;
          position: relative;
          padding: 0 20px;
          height: 40px;
          line-height: 40px;
          font-size: 1em;
          font-weight: 400;
          text-transform: uppercase;
          text-align: center;
          text-decoration: none;
          color: #ffffff;
          background: transparent;
	        -webkit-appearance: none;
	        -moz-appearance: none;
	        appearance: none;
	        border: none;
	        outline: none;
          @include transition(all 0.3s);
	        &:before {
		        content: "";
		        position: absolute;
		        left: 0;
		        top: 0;
		        right: 0;
		        bottom: 0;
		        border: 2px solid #ffffff;
		        background: transparent;
		        @include transition(all 0.3s);
	        }
          &:hover {
            color: lighten($color-related-title, 20%);
            background: #ffffff;
          }
        }
        > * {
          margin: 0 0 0 20px;
          &:first-child {
            margin: 0;
          }
        }
      }
    }
  }
	.mtTags, .mtSelect {
		border-color: #ffffff;
		> .dropdown-menu {
			border: none;
		}
	}
}

@media #{$md} {
	.filterSection {
		form {
			.filterSectionIn {
				padding-left: 50px;
				padding-right: 50px;
			}
		}
	}
}

@media #{$sm} {
	.filterSection {
		form {
			.filterSectionIn {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
}

@media #{$xs} {
	.filterSection {
		form {
			.filterSectionIn {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
}