.homeTopCover {
	width: 100%;
	height: 0;
	padding-bottom: 47.916%;
	margin: 0 0 15px 0;
	background-position: center center;
	background-repeat: no-repeat;
	@include bsize(cover);
}

.homeSecondCover {
	width: 100%;
	padding: 0 0 15px 0;
	.homeSecondCoverSwiper {
		width: 100%;
		margin: 0;
		padding: 0;
		> .swiper-wrapper {
			width: 100%;
			@include clearfix();
			> .swiper-slide {
				float: left;
			}
		}
	}
	a {
		display: block;
		width: 100%;
		img {
			display: block;
			width: 100%;
			max-width: 100%;
		}
	}
}

.homeWeekTrip {
	width: 100%;
	padding: 15px 0;
	.homeWeekTripCover-in {
		width: 100%;
		height: 638px;
		position: relative;
		background-position: center center;
		background-repeat: no-repeat;
		@include bsize(cover);
		@include clearfix();
		.homeWeekTripCover-inTitle {
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 0;
			padding: 0 25px 44px 25px;
			z-index: 2;
			@include clearfix();
			h1, h2 {
				display: block;
				width: 100%;
				padding: 0;
				text-transform: uppercase;
				color: $color-home-week-trip-title;
				cursor: default;
				-webkit-touch-callout: none;
				@include user-select(none);
			}
			h1 {
				margin: 0 0 0 -1px;
				font-size: 5.556em;
				font-weight: 900;
				line-height: 0.8;
			}
			h2 {
				margin: 5px 0 0 0;
				font-size: 2.556em;
				font-weight: 300;
				line-height: 1;
			}
		}
		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
			background: $color-home-week-trip-cover-overlay;
		}
	}
}

.homePopular {
	width: 100%;
	@include clearfix();
	.homePopularTop {
		width: 100%;
		height: 670px;
		padding: 15px 0;
		> .container {
			height: 100%;
			> .row {
				height: 100%;
				> div {
					height: 100%;
					> .row {
						height: 50%;
						padding: 15px 0 0 0;
						&:first-child {
							padding: 0 0 15px 0;
						}
						> div {
							height: 100%;
							@include clearfix();
							> div {
								height: 100%;
							}
						}
					}
				}
			}
		}
	}
	.homePopularBottom {
		width: 100%;
		height: 670px;
		padding: 15px 0;
		> .container {
			height: 100%;
			> .row {
				height: 100%;
				> div {
					height: 100%;
					> .row {
						height: 50%;
						padding: 15px 0 0 0;
						&:first-child {
							padding: 0 0 15px 0;
						}
						> div {
							height: 100%;
							@include clearfix();
							> div {
								height: 100%;
							}
						}
					}
				}
			}
		}
	}
	.homePopularPromo {
		width: 100%;
		height: 100%;
		padding: 30px;
		border: 3px solid $color-home-popular-promo-border;
		position: relative;
		> ul {
			display: block;
			width: 100%;
			margin: 26px 0 0 0;
			padding: 0;
			list-style: none;
			&:first-child {
				margin: 0;
			}
			> li {
				display: block;
				width: 100%;
				margin: 0 0 2px 0;
				@include clearfix();
				&:first-child {
					margin: 0 0 16px 0;
				}
				> h3 {
					float: left;
					display: block;
					margin: 0;
					padding: 0;
					font-size: 1.222em;
					font-weight: 900;
					line-height: 1.2;
					text-transform: uppercase;
					color: $color-home-popular-promo;
					border-bottom: 2px solid $color-home-popular-promo-border;
				}
				> a {
					float: left;
					display: block;
					max-width: 100%;
					margin: 0;
					padding: 2px 0;
					font-size: 0.778em;
					font-weight: 300;
					line-height: 1;
					text-transform: uppercase;
					text-decoration: none;
					color: $color-home-popular-promo;
					@include transition(all 0.2s);
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					&:hover {
						color: $color-home-popular-promo-hover;
					}
				}
			}
		}
		.badgeBlock {
			border-left-color: $color-home-popular-promo-border;
			border-right-color: $color-home-popular-promo-border;
			&:before {
				border-color: $color-home-popular-promo-border;
			}
			&:after {
				border-color: transparent;
			}
		}
	}
	.homePopularCousine {
		height: 100%;
		background: $color-cousine-bg;
		.homePopularCousineTop {
			width: 100%;
			padding: 55px 0 45px 0;
			.homePopularCousineTopIn {
				position: relative;
				width: 160px;
				height: 160px;
				line-height: 160px;
				border: 2px solid #ffffff;
				margin: 0 auto;
				@include br(50%);
				i {
					position: relative;
					display: block;
					width: 100%;
					height: 100%;
					text-align: center;
					line-height: 1;
					&:before, &:after {
						display: block;
						position: absolute;
						left: 50%;
						top: 50%;
						font-size: 100px;
						@include translate(-50%, -50%);
					}
					&:before {
						color: #ffffff;
					}
					&:after {
						color: #d7df21;
					}
				}
			}
		}
		.homePopularCousineBottom {
			width: 100%;
			> ul {
				display: block;
				width: 100%;
				margin: 0;
				padding: 0 45px;
				list-style: none;
				@include clearfix();
				> li {
					display: block;
					width: 100%;
					padding: 14px 0 4px 0;
					border-top: 1px dashed #ffeca8;
					&:first-child {
						border-top: 0;
					}
					a {
						display: block;
						width: 100%;
						font-size: 14px;
						font-weight: 300;
						line-height: 16px;
						//min-height: 32px;
						text-transform: uppercase;
						text-decoration: none;
						color: #ffeca8;
						@include transition(all 0.5s);
						&:hover {
							color: #ffffff;
						}
					}
				}
			}
		}
	}
}

.homeMovies {
	width: 100%;
	margin: 15px 0;
	padding: 15px 0;
	background: $color-home-movies-bg;
	> .container {
		> .row {
			> div {
				padding-top: 15px;
				padding-bottom: 15px;
			}
		}
	}
}

.homeSpecialLocations {
	width: 100%;
	padding: 0 0 15px 0;
	> .container {
		> .row {
			> div {
				height: 319px;
				padding-top: 15px;
				@include clearfix();
			}
		}
	}
}

.homePopularSecond {
	width: 100%;
	padding: 0 0 15px 0;
	@include clearfix();
	.homePopularSecondTop {
		width: 100%;
		height: 374px;
		padding: 15px 0;
		> .container {
			height: 100%;
			> .row {
				height: 100%;
				> div {
					height: 100%;
					> .row {
						height: 50%;
						padding: 15px 0 0 0;
						&:first-child {
							padding: 0 0 15px 0;
						}
						> div {
							height: 100%;
							@include clearfix();
							> div {
								height: 100%;
							}
						}
					}
				}
			}
		}
	}
	.homePopularSecondBottom {
		width: 100%;
		height: 374px;
		padding: 15px 0;
		> .container {
			height: 100%;
			> .row {
				height: 100%;
				> div {
					height: 100%;
					> .row {
						height: 50%;
						padding: 15px 0 0 0;
						&:first-child {
							padding: 0 0 15px 0;
						}
						> div {
							height: 100%;
							@include clearfix();
							> div {
								height: 100%;
							}
						}
					}
				}
			}
		}
	}
}

@media #{$md} {
	.homePopular {
		.homePopularPromo {
			> ul {
				> li {
					&:first-child {
						margin: 0 0 10px 0;
					}
					> h3 {
						font-size: 1em;
					}
				}
			}
		}
		.homePopularCousine {
			.homePopularCousineBottom {
				> ul {
					padding: 0 30px;
				}
			}
		}
	}
	.homeSpecialLocations {
		> .container {
			> .row {
				> div {
					height: 300px;
				}
			}
		}
	}
}

@media #{$sm} {
	.homeSecondCover {
		padding: 0 0 10px 0;
	}
	.homePopular {
		.homePopularTop {
			height: 660px;
			padding: 10px 0;
			> .container {
				> .row {
					> div {
						> .row {
							padding: 10px 0 0 0;
							&:first-child {
								padding: 0 0 10px 0;
							}
						}
					}
				}
			}
		}
		.homePopularBottom {
			height: 660px;
			padding: 10px 0;
			> .container {
				> .row {
					> div {
						> .row {
							padding: 10px 0 0 0;
							&:first-child {
								padding: 0 0 10px 0;
							}
						}
					}
				}
			}
		}
		.homePopularPromo {
			padding: 20px;
			border: 2px solid $color-home-popular-promo-border;
			> ul {
				> li {
					&:first-child {
						margin: 0 0 10px 0;
					}
					> h3 {
						font-size: 1em;
					}
				}
			}
		}
		.homePopularCousine {
			.homePopularCousineBottom {
				> ul {
					padding: 0 20px;
				}
			}
		}
	}
	.homeMovies {
		margin: 10px 0;
		padding: 10px 0;
		.container {
			> .row {
				> div {
					padding-top: 10px;
					padding-bottom: 10px;
				}
			}
		}
	}
	.homeSpecialLocations {
		padding: 0 0 10px 0;
		> .container {
			> .row {
				> div {
					height: 315px;
					padding-top: 10px;
				}
			}
		}
	}
	.homePopularSecond {
		padding: 0 0 10px 0;
		.homePopularSecondTop {
			height: 370px;
			padding: 10px 0;
		}
		.homePopularSecondBottom {
			height: 370px;
			padding: 10px 0;
		}
	}
}

@media #{$smPortrait} {
	.homeMovies {
		.container {
			> .row {
				> div {
					width: 33.3333%;
					&:first-child {
						+ div + div + div + div + div + div {
							display: none;
							+ div {
								display: none;
							}
						}
					}
				}
			}
		}
	}
	.homeSpecialLocations {
		> .container {
			> .row {
				> div {
					width: 33.3333%;
					height: 260px;
					&:first-child + div + div + div {
						display: none;
					}
				}
			}
		}
	}
}

@media #{$xs} {
	.homeSecondCover {
		padding: 0 0 8px 0;
	}
	.homePopular {
		.homePopularTop {
			height: auto;
			padding: 8px 0;
			> .container {
				> .row {
					> div {
						> .row {
							padding: 0;
							&:first-child {
								padding: 8px 0 0 0;
							}
							> div {
								padding-top: 8px;
								padding-bottom: 8px;
								> div {
									height: 300px;
								}
							}
						}
					}
				}
			}
		}
		.homePopularBottom {
			height: auto;
			padding: 0 0 8px 0;
			> .container {
				> .row {
					> div {
						> .row {
							padding: 8px 0;
							&:first-child {
								padding: 0;
							}
							> div {
								padding-top: 8px;
								padding-bottom: 8px;
								&:first-child {
									padding-top: 0;
								}
								> div {
									height: 300px;
								}
							}
						}
					}
				}
			}
		}
		.homePopularPromo {
			padding: 20px;
			border: 2px solid $color-home-popular-promo-border;
			> ul {
				> li {
					&:first-child {
						margin: 0 0 10px 0;
					}
					> h3 {
						font-size: 1em;
					}
				}
			}
		}
		.homePopularCousine {
			.homePopularCousineBottom {
				> ul {
					padding: 0 20px;
				}
			}
		}
	}
	.homeMovies {
		margin: 8px 0;
		padding: 8px 0;
		.container {
			> .row {
				> div {
					padding-top: 8px;
					padding-bottom: 8px;
				}
			}
		}
	}
	.homeSpecialLocations {
		padding: 0 0 8px 0;
		> .container {
			> .row {
				> div {
					height: 325px;
					padding-top: 8px;
					padding-bottom: 8px;
				}
			}
		}
	}
	.homePopularSecond {
		padding: 0;
		.homePopularSecondTop {
			height: auto;
			padding: 0;
			> .container {
				height: auto;
				> .row {
					height: auto;
					> div {
						height: auto;
						padding-top: 8px;
						padding-bottom: 8px;
						&:first-child {
							padding-top: 0;
						}
						> div {
							height: 300px;
						}
					}
				}
			}
		}
		.homePopularSecondBottom {
			height: auto;
			padding: 0 0 8px 0;
			> .container {
				height: auto;
				> .row {
					height: auto;
					> div {
						height: auto;
						padding-top: 8px;
						padding-bottom: 8px;
						> div {
							height: 300px;
						}
					}
				}
			}
		}
	}
}