.locationsInside {
	width: 100%;
	padding: 15px 0;
	> .container {
		> .row {
			> .jscroll-inner {
				@include clearfix();
				> div {
					padding-top: 15px;
					padding-bottom: 15px;
					&.jscroll-added {
						padding-top: 0;
						padding-bottom: 0;
						@include clearfix();
						> div {
							padding-top: 15px;
							padding-bottom: 15px;
						}
					}
				}
			}
		}
	}
	.promoBlock {
		height: 304px;
	}
	.specialLocation {
		height: 304px;
	}
}

.locationInsideTop {
	width: 100%;
	padding: 0 0 30px 0;
	background: $color-location-inside-top-bg;
	.locationInsideTopImg {
		width: 100%;
		.locationInsideTopImgIn {
			position: relative;
			width: 100%;
			height: 560px;
			background-repeat: no-repeat;
			background-position: center center;
			@include bsize(cover);
			@include clearfix();
			img {
				display: block;
				max-width: 100%;
			}
			h1 {
				display: block;
				width: 100%;
				position: absolute;
				left: 0;
				bottom: 0;
				margin: 0;
				padding: 0 22px 22px 22px;
				font-size: 1.667em;
				font-weight: 900;
				line-height: 1;
				color: $color-location-inside-top;
				text-transform: uppercase;
				@include clearfix();
				> span {
					float: left;
					display: block;
					padding: 8px;
					background: $color-location-inside-top-title-bg;
					span {
						font-weight: 300;
					}
				}
			}
			span.cprt {
				display: block;
				color: $color-location-inside-top-info;
				font-size: 0.778em;
				line-height: 1;
				position: absolute;
				left: 0;
				top: 100%;
				padding-top: 10px;
			}
		}
	}
	.locationInsideTopInfo {
		width: 100%;
		padding: 100px 0 0 0;
		> .container {
			height: 100%;
			padding-bottom: 100px;
			position: relative;
			&:after {
				content: "";
				display: block;
				height: 3px;
				background: $color-location-inside-top-info-border;
				position: absolute;
				left: 15px;
				right: 15px;
				bottom: 0;
			}
			> .row {
				height: 100%;
				letter-spacing: -4px;
				* {
					letter-spacing: 0;
				}
				&:before {
					content: "";
					display: inline-block;
					vertical-align: bottom;
					height: 100%;
				}
				> div {
					float: none;
					display: inline-block;
					vertical-align: bottom;
				}
			}
			.locationInsideTopInfoText {
				width: 100%;
				position: relative;
				padding-top: 125px;
				i {
					position: absolute;
					left: 0;
					top: 0;
					display: block;
					font-size: 82px;
					line-height: 1;
					&:before, &:after {
						display: block;
						position: absolute;
						left: 0;
						top: 0;
					}
					&:before {
						color: $color-location-inside-top-info;
					}
					&:after {
						color: #d7df21;
					}
				}
				p {
					display: block;
					width: 100%;
					margin: 0;
					font-size: 1em;
					line-height: 1.22;
					color: $color-location-inside-top-info;
				}
				&:after {
					content: "";
					display: block;
					width: 44px;
					height: 3px;
					position: absolute;
					left: 0;
					bottom: -23px;
					background: $color-location-inside-top-info-border;
				}
			}
			.locationInsideTopInfoAddress {
				> ul {
					display: block;
					width: 100%;
					margin: 0;
					padding: 0;
					list-style: none;
					> li {
						display: block;
						width: 100%;
						font-size: 1em;
						line-height: 1.22;
						color: $color-location-inside-top-info;
						strong {
							font-weight: 900;
						}
					}
				}
			}
			.locationInsideTopInfoSocial {
				width: 100%;
				@include clearfix();
				> a {
					float: left;
					display: block;
					position: relative;
					width: 70px;
					height: 70px;
					margin: 0 0 0 30px;
					color: $color-location-inside-top-info;
					text-decoration: none;
					font-size: 1.556em;
					i {
						position: absolute;
						left: 50%;
						top: 50%;
						z-index: 2;
						@include translate3d(-50%, -50%, 0);
					}
					&:before {
						content: "";
						display: block;
						width: 100%;
						height: 100%;
						position: absolute;
						left: 0;
						top: 0;
						z-index: 1;
						border: 3px solid $color-location-inside-top-info-social-border;
					}
					&:first-child {
						margin: 0;
					}
				}
			}
		}
	}
}

.locationInsideMap {
	width: 100%;
	height: 640px;
	#map_canvas {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}
}

@media (max-width: 1199px) {
	.locationInsideTop {
		.locationInsideTopInfo  {
			> .container {
				> .row {
					> div {
						&.locationInsideTopInfoSocialWrap {
							margin-left: -2px;
						}
					}
				}
			}
		}
	}
}

@media #{$md} {
	.locationInsideTop {
		.locationInsideTopImg {
			.locationInsideTopImgIn {
				height: 352px;
				h1 {
					font-size: 1.333em;
				}
			}
		}
		.locationInsideTopInfo {
			padding: 60px 0 0 0;
			> .container {
				padding-bottom: 60px;
				.locationInsideTopInfoText {
					padding-top: 100px;
					i {
						font-size: 70px;
					}
					p {
						display: block;
						width: 100%;
						margin: 0;
						font-size: 1em;
						line-height: 1.22;
					}
				}
				.locationInsideTopInfoAddress {
					> ul {
						> li {
						}
					}
				}
				.locationInsideTopInfoSocial {
					float: right;
					width: auto;
					> a {
						width: 60px;
						height: 60px;
						margin: 0 0 0 20px;
						font-size: 1.333em;
						&:before {
							border-width: 2px;
						}
					}
				}
			}
		}
	}
}

@media #{$sm} {
	.locationInsideTop {
		.locationInsideTopImg {
			.locationInsideTopImgIn {
				height: 352px;
				h1 {
					font-size: 1.333em;
				}
			}
		}
		.locationInsideTopInfo {
			padding: 60px 0 0 0;
			> .container {
				padding-bottom: 60px;
				.locationInsideTopInfoText {
					padding-top: 100px;
					i {
						font-size: 70px;
					}
					p {
						display: block;
						width: 100%;
						margin: 0;
						font-size: 1em;
						line-height: 1.22;
					}
				}
				.locationInsideTopInfoAddress {
					> ul {
						> li {
						}
					}
				}
				.locationInsideTopInfoSocial {
					float: right;
					width: auto;
					> a {
						width: 60px;
						height: 60px;
						margin: 0 0 0 20px;
						font-size: 1.333em;
						&:before {
							border-width: 2px;
						}
					}
				}
			}
		}
	}
}

@media #{$xs} {
	.locationInsideTop {
		.locationInsideTopImg {
			.locationInsideTopImgIn {
				width: 100%;
				height: 304px;
				h1 {
					font-size: 1em;
				}
			}
		}
		.locationInsideTopInfo {
			padding: 20px 0 0 0;
			> .container {
				padding-bottom: 20px;
				> .row {
					letter-spacing: 0;
					&:before {
						display: table;
						vertical-align: inherit;
						height: auto;
					}
					> div {
						float: left;
						display: block;
						vertical-align: top;
					}
				}
				.locationInsideTopInfoText {
					margin-top: 20px;
					padding-top: 60px;
					padding-bottom: 23px;
					i {
						font-size: 40px;
					}
					&:after {
						bottom: 0;
					}
					p {
						display: block;
						width: 100%;
						margin: 0;
						font-size: 1em;
						line-height: 1.22;
						color: $color-scene-inside-top-info;
					}
				}
				.locationInsideTopInfoAddress {
					padding: 20px 0;
					> ul {
						display: block;
						width: 100%;
						margin: 0;
						padding: 0;
						list-style: none;
						> li {
							display: block;
							width: 100%;
							font-size: 1em;
							line-height: 1.22;
							color: $color-scene-inside-top-info;
							strong {
								font-weight: 900;
							}
						}
					}
				}
				.locationInsideTopInfoSocial {
					float: none;
					display: table;
					margin: 0 auto;
					width: auto;
					@include clearfix();
					> a {
						width: 54px;
						height: 54px;
						margin: 0 0 0 20px;
						font-size: 1.333em;
						&:before {
							border-width: 2px;
						}
					}
				}
			}
		}
	}
	.locationInsideMap {
		height: 300px;
	}
	.locationInsideOther {
		padding: 8px 0 8px 0;
		h2 {
			padding: 16px 0 10px 0;
		}
		.col-xs-12.col-sm-4.col-md-4.col-lg-4 {
			padding-top: 8px;
			padding-bottom: 8px;
		}
	}
}