.mapFilter{
  width: 100%;
  padding: 15px 0;
  @include clearfix();
  &.open{
    .dropdown-toggle{
      background: $color-map-filter-bg-hover;
    }
  }
  .dropdown-toggle{
    display: none;
    position: relative;
    float: left;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    font-weight: 900;
    font-size: 0.778em;
    color: $color-map-filter;
    background: $color-map-filter-bg;
    text-transform: uppercase;
    text-decoration: none;
    @include transition(all 0.3s);
    &:hover,&.selected{
      background: $color-map-filter-bg-hover;
    }
    &:before{
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 2px solid $color-map-filter-border;
      @include transition(all 0.3s);
    }
  }
  .dropdown-menu{
    display: block;
    position: relative;
    top: auto;
    left: auto;
    z-index: 1;
    float: none;
    min-width: 100%;
    padding: 0 0 2px 0;
    margin: 0;
    font-size: 1em;
    text-align: center;
    background-color: transparent;
    border: none;
    border-left: 2px solid $color-map-filter-border;
    @include br(0);
    @include bs(none);
    @include clearfix();
    > li{
      float: left;
      display: block;
      border: 2px solid $color-map-filter-border;
      margin: 0 0 -2px -2px;
      a{
        display: block;
        padding: 0 20px;
        height: 36px;
        line-height: 36px;
        font-weight: 900;
        font-size: 1em;
        color: $color-map-filter;
        background: $color-map-filter-bg;
        text-transform: uppercase;
        text-decoration: none;
        @include transition(all 0.3s);
        &:hover,&.selected{
          background: $color-map-filter-bg-hover;
        }
      }
    }
  }
}

.mainMap{
  position: relative;
  width: 100%;
  height: 100%;
  .mapFilter{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    padding: 20px 20px 0 20px;
  }
  #map_canvas{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

#map_canvas{
  .gm-style-iw {
    width: 400px!important;
    top: 40px !important;
    right: auto !important;
    bottom: auto !important;
    left: 50% !important;
    @include translate(-50%, 0);
    + div{
      right: 26px!important;
      top: 38px!important;
      margin: 5px!important;
    }
  }
	.mainIconWrap {
		width: 47px;
		height: 51px;
		.mainIcon {
			width: 47px;
			height: 51px;
			overflow: hidden;
			position: absolute;
			cursor: pointer;
			background-image: url(/img/marker.svg);
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
  .mapCustomInfoWindow{
	  position: absolute;
	  bottom: 100%;
	  left: 23px;
	  z-index: 10000;
	  transform: translate(-50%, 0);
    width: 400px!important;
    font-family: Lato, sans-serif!important;
    padding: 0 0 18px 0;
    overflow: hidden;
	  .closeIcon {
		  width: 13px;
		  height: 13px;
		  overflow: hidden;
		  position: absolute;
		  right: 0;
		  top: 0;
		  z-index: 10000;
		  cursor: pointer;
		  opacity: 0.7;
		  margin: 5px;
	  }
    &:before{
      content: "";
      display: block;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 18px;
      z-index: 2;
      background: #ffffff!important;
      @include bs(1px 1px 3px rgba(0, 0, 0, 0.15));
    }
    &:after{
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      position: absolute;
      left: 50%;
      bottom: 0;
      z-index: 2;
      background: #ffffff!important;
      @include transform(rotate(45deg) translate(-13px, 0px));
      @include bs(1px 1px 3px rgba(0, 0, 0, 0.15));
    }
    .mapCustomInfoWindowIn{
      position: relative;
      z-index: 3;
      width: 100%;
      padding: 20px 20px 20px 240px;
      @include clearfix();
    }
    .mapCustomInfoWindowLeft{
      position: absolute;
      left: 0;
      top: 0;
      width: 240px;
      height: 100%;
      padding: 20px;
      .mapCustomInfoWindowLeftImg{
        position: relative;
        width: 100%;
        height: 100%;
        a {
          display: block;
          width: 100%;
          height: 100%;
          background-position: center center;
          background-repeat: no-repeat;
          @include bsize(cover);
        }
      }
    }
    .mapCustomInfoWindowRight{
      float: left;
      width: 140px;
      height: 100%;
      .mapCustomInfoWindowRightTop{
        width: 100%;
        padding: 0 0 20px 0;
        h2{
          display: block;
          width: 100%;
          margin: 0;
          padding: 0;
          font-size: 12px;
          line-height: 14px;
          font-weight: 900;
          text-transform: uppercase;
          color: #000000;
        }
        h3{
          display: block;
          width: 100%;
          margin: 0;
          padding: 0;
          font-size: 12px;
          line-height: 14px;
          font-weight: 400;
          text-transform: uppercase;
          color: #000000;
        }
      }
      .mapCustomInfoWindowRightMiddle{
        width: 100%;
        padding: 16px 0;
        border-top: 1px solid #bcbec0;
        border-bottom: 1px solid #bcbec0;
        .mapCustomInfoWindowRightMiddleIn{
          display: table;
          margin: 0 auto;
          @include clearfix();
          a{
            float: left;
            display: block;
            position: relative;
            height: 34px;
            line-height: 34px;
            font-size: 28px;
            margin-left: 20px;
            text-decoration: none;
            color: #000000;
            overflow: hidden;
            text-align: center;
            @include transition(all 0.5s);
            > i{
              display: block;
              width: 100%;
              height: 34px;
              line-height: inherit;
            }
            &:hover{
              color: #00AEEF;
              text-decoration: none;
            }
            &:first-child{
              margin-left: 0;
            }
            &.mapCustomInfoWindowMovieLink{
              width: 28px;
            }
            &.mapCustomInfoWindowMovieLocation{
              width: 28px;
            }
          }
        }
      }
      .mapCustomInfoWindowRightBottom{
        width: 100%;
        padding: 20px 0 0 0;
        h2{
          display: block;
          width: 100%;
          margin: 0;
          padding: 0;
          font-weight: 400;
          font-size: 10px;
          line-height: 12px;
          color: #000000;
          text-transform: uppercase;
        }
      }
    }
  }
	.clusterMarker {
		width: 47px;
		height: 51px;
		line-height: 49px;
		color: #ffffff;
		overflow: hidden;
		position: absolute;
		cursor: pointer;
		background-repeat: no-repeat;
		background-position: center center;
		text-align: center;
		font-size: 14px;
		font-weight: 700;
	}
}

@media #{$sm} {
  .mapFilter{
    .dropdown-toggle{
      display: block;
    }
    .dropdown-menu{
      float: left;
      width: 100%;
      margin: 15px 0 0 0;
      display: none;
      font-size: 0.778em;
      z-index: 1000;
      > li{
        a{
          padding: 0 13px;
          height: 26px;
          line-height: 26px;
        }
      }
    }
    &.open{
      .dropdown-menu {
        display: block;
      }
    }
  }
}

@media #{$xs} {
  .mainMap {
    .mapFilter {
      padding: 20px 16px 0 16px;
    }
  }
  .mapFilter{
    .dropdown-toggle{
      display: block;
      padding: 0 10px;
      height: 26px;
      line-height: 26px;
      font-size: 0.667em;
    }
    .dropdown-menu{
      float: left;
      width: 100%;
      margin: 10px 0 0 0;
      display: none;
      font-size: 0.667em;
      z-index: 1000;
      > li{
        a{
          padding: 0 8px;
          height: 22px;
          line-height: 22px;
        }
      }
    }
    &.open{
      .dropdown-menu {
        display: block;
      }
    }
  }
}