.movieInsideTop {
  width: 100%;
  padding: 0 0 30px 0;
  background: $color-movie-inside-top-bg;
  .movieInsideTopImg {
    width: 100%;
    position: relative;
    .movieInsideTopImgIn {
      position: relative;
      width: 100%;
      @include clearfix();
      .movieInsideTopImgLeft {
        float: left;
        width: 25%;
        img {
          display: block;
          width: 100%;
          max-width: 100%;
        }
      }
      .movieInsideTopImgRight {
        position: absolute;
        right: 0;
        top: 0;
        width: 75%;
        height: 100%;
        padding: 25px;
        overflow: hidden;
        .movieInsideTopImgRightIn {
          display: table;
          width: 100%;
          height: 100%;
          .movieInsideTopImgRightInside {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            //color: $color-movie-inside-top-img-right;
            text-align: center;
            h1 {
              display: block;
              width: 100%;
              margin: 0;
              padding: 0;
              color: inherit;
              font-size: 2.444em;
              line-height: 1;
              font-weight: 300;
              strong {
                font-weight: 900;
              }
            }
            h2 {
              display: block;
              width: 100%;
              margin: 0;
              padding: 30px 0 0 0;
              color: inherit;
              font-size: 1.333em;
              line-height: 1.167;
              font-weight: 300;
            }
            h3 {
              display: block;
              width: 100%;
              margin: 0;
              padding: 54px 0 0 0;
              color: inherit;
              font-size: 0.889em;
              line-height: 1.125;
              font-weight: 300;
              a {
                color: inherit;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
  .movieInsideTopInfo {
    width: 100%;
    padding: 100px 0 0 0;
    > .container {
      height: 100%;
      padding-bottom: 100px;
      position: relative;
      &:after {
        content: "";
        display: block;
        height: 3px;
        background: $color-movie-inside-top-info-border;
        position: absolute;
        left: 15px;
        right: 15px;
        bottom: 0;
      }
      > .row {
        height: 100%;
        letter-spacing: -4px;
        * {
          letter-spacing: 0;
        }
        &:before {
          content: "";
          display: inline-block;
          vertical-align: bottom;
          height: 100%;
        }
        > div {
          float: none;
          display: inline-block;
          vertical-align: bottom;
        }
      }
      .movieInsideTopInfoText {
        position: relative;
        padding-top: 90px;
        p {
          display: block;
          width: 100%;
          margin: 0;
          font-size: 1em;
          line-height: 1.22;
          color: $color-movie-inside-top-info;
        }
        &:after {
          content: "";
          display: block;
          width: 44px;
          height: 3px;
          position: absolute;
          left: 0;
          bottom: -23px;
          background: $color-movie-inside-top-info-border;
        }
      }
      .movieInsideTopInfoAddress {
        > ul {
          display: block;
          width: 100%;
          margin: 0;
          padding: 0;
          list-style: none;
          > li {
            display: block;
            width: 100%;
            font-size: 1em;
            line-height: 1.22;
            color: $color-movie-inside-top-info;
            strong {
              font-weight: 900;
            }
          }
        }
      }
      .movieInsideTopInfoSocial {
        width: 100%;
        @include clearfix();
        > a {
          float: left;
          display: block;
          position: relative;
          width: 70px;
          height: 70px;
          margin: 0 0 0 30px;
          color: $color-movie-inside-top-info;
          text-decoration: none;
          font-size: 1.556em;
          i {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 2;
            @include translate3d(-50%, -50%, 0);
          }
          &:before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            border: 3px solid $color-movie-inside-top-info-social-border;
          }
          &:first-child {
            margin: 0;
          }
        }
      }
    }
  }
}

.movieInsideMap {
  width: 100%;
  height: 640px;
  #map_canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}

.moviesInsideTop {
  width: 100%;
  padding: 30px 0 0 0;
  .moviesInsideTopImg {
    width: 100%;
    position: relative;
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      background: $color-movies-inside-top-bg;
    }
    img {
      display: block;
      width: 100%;
      position: relative;
      z-index: 1;
    }
    .moviesInsideTopImgCaption{
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 2;
      padding: 0 30px 30px 30px;
      max-width: 100%;
      color: $color-movies-inside-top;
      h1{
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 5em;
        line-height: 1;
        text-transform: uppercase;
        font-weight: 900;
        color: inherit;
        @include clearfix();
        a{
          float: left;
          display: block;
          color: inherit;
          text-decoration: none;
        }
      }
      ul{
        display: block;
        width: 100%;
        margin: 0;
        padding: 20px 0 0 0;
        list-style: none;
        @include clearfix();
        li {
          float: left;
          display: block;
          margin: 0;
          padding: 0 20px;
          border-left: 1px solid $color-movies-inside-top;
          &:first-child{
            padding: 0 20px 0 0;
            border-left: none;
          }
          h2{
            display: block;
            width: 100%;
            margin: 0;
            padding: 0;
            color: inherit;
            font-size: 2.333em;
            line-height: 1;
            font-weight: 300;
            text-transform: uppercase;
            @include clearfix();
            a{
              float: left;
              display: block;
              color: inherit;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.moviesInside {
  padding: 15px 0;
  > .container {
    > .row {
	    > div {
		    padding-top: 15px;
		    padding-bottom: 15px;
	    }
    }
  }
}

@media (max-width: 1199px) {
	.movieInsideTop {
		.movieInsideTopInfo {
			> .container {
				> .row {
					> div {
						&.movieInsideTopInfoSocialWrap {
							margin-left: -2px;
						}
					}
				}
			}
		}
	}
}

@media #{$md} {
  .movieInsideTop{
    .movieInsideTopInfo{
      padding: 60px 0 0 0;
      > .container{
        padding-bottom: 60px;
        .movieInsideTopInfoText{
          padding-top: 60px;
          p{

          }
        }
        .movieInsideTopInfoAddress{
          > ul{
            > li{}
          }
        }
        .movieInsideTopInfoSocial{
          float: right;
          width: auto;
          > a{
            width: 60px;
            height: 60px;
            margin: 0 0 0 20px;
            font-size: 1.333em;
            &:before{
              border-width: 2px;
            }
          }
        }
      }
    }
  }
}

@media #{$sm} {
  .movieInsideTop{
    .movieInsideTopInfo{
      padding: 40px 0 0 0;
      > .container{
        padding-bottom: 40px;
        .movieInsideTopInfoText{
          padding-top: 40px;
          p{

          }
        }
        .movieInsideTopInfoAddress{
          > ul{
            > li{}
          }
        }
        .movieInsideTopInfoSocial{
          float: right;
          width: auto;
          > a{
            width: 60px;
            height: 60px;
            margin: 0 0 0 20px;
            font-size: 1.333em;
            &:before{
              border-width: 2px;
            }
          }
        }
      }
    }
  }
	.moviesInside {
		padding: 10px 0;
		> .container {
			> .row {
				> div {
					padding-top: 10px;
					padding-bottom: 10px;
				}
			}
		}
	}
}

@media #{$xs} {
	.moviesInside {
		padding: 8px 0;
		> .container {
			> .row {
				> div {
					padding-top: 8px;
					padding-bottom: 8px;
				}
			}
		}
	}
  .movieInsideTop{
    .movieInsideTopImg{
      .movieInsideTopImgIn{
        .movieInsideTopImgLeft{
          width: 100%;
        }
        .movieInsideTopImgRight{
          position: static;
          top: auto;
          left: auto;
          right: auto;
          bottom: auto;
          height: auto;
          width: 100%;
          padding: 5px 10px;
          .movieInsideTopImgRightIn{
            .movieInsideTopImgRightInside{
              h1{
                font-size: 1em;
              }
            }
          }
        }
      }
    }
    .movieInsideTopInfo{
      padding: 20px 0 0 0;
      > .container{
        padding-bottom: 20px;
        > .row{
          letter-spacing: 0;
          &:before {
            display: table;
            vertical-align: inherit;
            height: auto;
          }
          > div{
            float: left;
            display: block;
            vertical-align: top;
          }
        }
        .movieInsideTopInfoText{
          padding-top: 60px;
          padding-bottom: 23px;
          i{
            font-size: 40px;
          }
          &:after{
            bottom: 0;
          }
        }
        .movieInsideTopInfoAddress{
          padding: 20px 0;
        }
        .movieInsideTopInfoSocial{
          float: none;
          display: table;
          margin: 0 auto;
          width: auto;
          @include clearfix();
          > a{
            width: 54px;
            height: 54px;
            margin: 0 0 0 20px;
            font-size: 1.333em;
            &:before{
              border-width: 2px;
            }
          }
        }
      }
    }
  }
  .movieInsideMap{
    height: 300px;
  }
}

@media (min-width: 500px) and (max-width: 767px) {
	.moviesInside {
		> .container {
			> .row {
				> div {
					width: 50%;
					a.movieThumb {
						height: 0;
						padding-bottom: 139%;
					}
				}
			}
		}
	}
	.relatedWrap {
		.relatedIn {
			&.relatedMovies {
				> .container {
					> .row {
						> div {
							width: 50%;
							a.movieThumb {
								height: 0;
								padding-bottom: 139%;
							}
						}
					}
				}
			}
		}
	}
}