/* perfect-scrollbar v0.6.5 */
.ps-container {
  -ms-touch-action: none;
  -webkit-touch-callout: none;
  overflow: hidden !important;
  &.ps-in-scrolling{
    pointer-events: none;
  }
  &:hover{
    &.ps-in-scrolling{
      pointer-events: none;
    }
  }
  &.ps-active-x {
    > .ps-scrollbar-x-rail{
      display: block;
    }
  }
  &.ps-active-y{
    > .ps-scrollbar-y-rail{
      display: block;
    }
  }
  > .ps-scrollbar-x-rail {
    display: none;
    position: absolute;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
    bottom: 3px;
    height: 8px;
    .ps-scrollbar-x {
      position: absolute;
      background-color: #aaa;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      -webkit-transition: background-color .2s linear;
      -moz-transition: background-color .2s linear;
      -o-transition: background-color .2s linear;
      transition: background-color .2s linear;
      bottom: 0;
      height: 8px;
    }
  }
  .ps-scrollbar-y-rail {
    display: none;
    position: absolute;
    width: 20px;
    right: 0;
    background: rgba(130,202,156,0.15);
    .ps-scrollbar-y {
      position: absolute;
      right: 5px;
      width: 10px;
      &:before{
        content:"";
        display: block;
        width: 100%;
        position: absolute;
        top: 5px;
        bottom: 5px;
        background: rgba(130,202,156,1);
        @include br(5px);
      }
    }
  }
}