.profile {
  .profileTop {
    height: 550px;
    background-repeat: no-repeat;
    background-position: center center;
    @include bsize(cover);
    .profileTopMain {
      padding: 100px 0;
      > .container {
        height: 100%;
        > .row {
          height: 100%;
          letter-spacing: -4px;
          * {
            letter-spacing: 0;
          }
          &:before {
            content: "";
            display: inline-block;
            vertical-align: bottom;
            height: 100%;
          }
          > div {
            float: none;
            display: inline-block;
            vertical-align: bottom;
          }
        }
        .profilePic {
          position: relative;
          width: 100%;
          height: 0;
          padding-bottom: 100%;
          background-repeat: no-repeat;
          @include bsize(cover);
          @include br(50%);
          a {
            display: block;
            width: 60px;
            height: 60px;
            line-height: 60px;
            background: $color-profile-pic-link-bg;
            @include br(50%);
            position: absolute;
            top: 3px;
            right: 8px;
            font-size: 28px;
            text-align: center;
            text-decoration: none;
            color: #ffffff;
            @include transition(all 0.3s);
            i {
              line-height: inherit;
            }
            &:hover {
              color: $color-profile-pic-link-bg;
              background: #ffffff;
            }
          }
        }
        .profileDesc {
          width: 100%;
          position: relative;
          padding: 0 0 15px 0;
          h1 {
            display: block;
            width: 100%;
            margin: 0;
            padding: 0;
            font-size: 2em;
            line-height: 1;
            font-weight: 900;
            color: $color-profile-title-primary;
            @include clearfix();
            span {
              float: left;
              display: block;
              position: relative;
              a {
                display: block;
                width: 36px;
                height: 36px;
                line-height: 36px;
                @include br(50%);
                background: $color-profile-title-edit-link-bg;
                position: absolute;
                left: 100%;
                top: 0;
                margin: 0 0 0 15px;
                font-size: 16px;
                text-align: center;
                text-decoration: none;
                color: #ffffff;
                @include transition(all 0.3s);
                i {
                  line-height: inherit;
                }
                &:hover {
                  color: $color-profile-title-edit-link-bg;
                  background: #ffffff;
                }
              }
            }
          }
          h2 {
            display: block;
            width: 100%;
            margin: 0;
            padding: 4px 0 0 0;
            font-size: 1.333em;
            line-height: 1;
            font-weight: 300;
            color: $color-profile-title-secondary;
          }
          p {
            position: relative;
            display: block;
            width: 100%;
            margin: 0;
            padding: 35px 0 20px 0;
            font-size: 1em;
            line-height: 1.22;
            font-weight: 400;
            color: $color-profile-title-text;
            &:after {
              content: "";
              display: block;
              width: 44px;
              height: 3px;
              position: absolute;
              left: 0;
              bottom: 0;
              background: $color-profile-title-text;
            }
          }
        }
      }
    }
    .profileTopMenu {
      width: 100%;
      .profileMenu {
        position: relative;
        width: 100%;
        > a.dropdown-toggle {
          display: none;
        }
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background: $color-profile-menu-border;
        }
        > ul.dropdown-menu {
          position: relative;
          top: auto;
          left: auto;
          float: none;
          min-width: 0;
          display: block;
          width: 100%;
          height: 80px;
          margin: 0;
          padding: 0;
          list-style: none;
          @include clearfix();
          font-size: inherit;
          background-color: transparent;
          border: none;
          @include br(0);
          @include bs(none);
          z-index: 1;
          > li {
            float: left;
            display: block;
            height: 80px;
            margin: 0 0 0 60px;
            &:first-child {
              margin: 0;
            }
            a {
              position: relative;
              display: block;
              width: 100%;
              height: 80px;
              line-height: 80px;
              padding: 0;
              font-size: 1.333em;
              font-weight: 400;
              text-decoration: none;
              text-transform: uppercase;
              color: $color-profile-menu;
              &:after {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 2px;
                background: transparent;
                @include transition(all 0.3s);
              }
              &:hover, &:focus, &.selected {
                color: $color-profile-menu;
                background-color: transparent;
                &:after {
                  background: $color-profile-menu-border-secondary;
                }
              }
              &.selected {
                font-weight: 900;
                color: $color-profile-menu-selected;
                pointer-events: none;
              }
            }
          }
        }
      }
    }
  }
  .profileBottom {
    padding: 0 0 130px 0;
    .profileInsideBlock {
      padding: 15px 0 10px 0;
      > .row {
        > .col-xs-12 {
          > h2 {
            display: block;
            width: 100%;
            margin: 0;
            padding: 10px 0 15px 0;
            font-size: 1.444em;
            font-weight: 900;
            text-transform: uppercase;
            line-height: 1;
            color: $color-related-title;
          }
        }
	      + .row {
		      > div {
			      padding-top: 15px;
			      padding-bottom: 15px;
		      }
	      }
      }
      .promoBlock {
        height: 304px;
	      &.createBlock {
		      height: 354px;
	      }
      }
	    a.movieThumb {
		    &.moviesFilter {
			    height: 450px;
		    }
	    }
    }
    .profileInEmpty {
      margin: 60px 0 0 0;
      padding: 105px 0;
      a {
        position: relative;
        display: table;
        margin: 0 auto;
        height: 90px;
        line-height: 90px;
        padding: 0 40px;
        font-size: 1.444em;
        font-weight: 900;
        text-decoration: none;
        text-transform: uppercase;
        color: $color-profile-in-empty;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border: 3px solid $color-profile-in-empty-border;
          @include br(3px);
        }
      }
      > .row {
        > div {
          padding-top: 0;
          padding-bottom: 0;
        }
        &:first-child {
          + .row {
            > div {
              padding-top: 15px;
              padding-bottom: 15px;
            }
          }
        }
      }
    }
    a.specialLocation {
      height: 304px;
    }
    > .container {
      > .row {
        > .col-xs-12 {
          > div {
            &:first-child {
              padding-top: 15px;
            }
          }
        }
      }
    }
  }
  .profileCreate {
    width: 100%;
    > .panel-group {
      background: $color-create-top-bg;
      margin: 0;
      .panel-group {
        margin: 0;
      }
      .panel {
        margin: 0;
        background-color: transparent;
        border: none;
        @include br(0);
        @include bs(none);
        .panel-heading {
          color: inherit;
          background-color: transparent;
          border: none;
          padding: 0;
          @include br(0);
        }
        .panel-body {
          border: none;
          padding: 0;
        }
      }
      > .panel {
        > .panel-heading {
          h4 {
            position: relative;
            display: block;
            width: 100%;
            margin: 0;
            padding: 15px;
            font-size: 1.778em;
            line-height: 1;
            font-weight: 900;
            color: $color-create-title;
            background: $color-create-top-in-bg;
            text-transform: uppercase;
            a {
              text-decoration: none;
            }
          }
        }
        .panel {
          > .panel-heading {
            &.panel-heading-step1 {
              background: $color-create-top-bg;
              h4 {
                background: $color-create-top-in-bg;
              }
            }
            &.panel-heading-step2 {
              background: $color-create-bottom-bg;
              h4 {
                background: $color-create-bottom-in-bg;
              }
            }
            h4 {
              position: relative;
              display: block;
              width: 100%;
              margin: 0;
              padding: 60px 100px 45px 100px;
              font-size: 1.556em;
              line-height: 1;
              font-weight: 900;
              color: $color-create-title;
              text-transform: uppercase;
              a {
                text-decoration: none;
              }
              &:after {
                content: "";
                display: block;
                height: 3px;
                position: absolute;
                left: 100px;
                right: 100px;
                bottom: 15px;
                background: $color-create-title-border;
              }
            }
          }
        }
      }
    }
    form {
      display: block;
      width: 100%;
      .profileCreateTop {
        width: 100%;
        background: $color-create-top-bg;
        .profileCreateTopIn {
          width: 100%;
          background: $color-create-top-in-bg;
        }
      }
      .profileCreateBottom {
        width: 100%;
        background: $color-create-bottom-bg;
        .profileCreateBottomIn {
          width: 100%;
          background: $color-create-bottom-in-bg;
        }
      }
      .profileCreateTopIn, .profileCreateBottomIn {
        margin: -15px 0 0 0;
        padding: 0 100px 60px 100px;
        label {
          display: block;
          width: 100%;
          margin: 15px 0 0 0;
          padding: 0 0 0 0;
          font-weight: 400;
          position: relative;
          @include clearfix();
          > span.labelBtns {
            display: table;
            margin: 0 auto;
            @include clearfix();
            > a {
              float: left;
              display: block;
              position: relative;
              padding: 0 20px;
              height: 40px;
              line-height: 40px;
              font-size: 1em;
              font-weight: 400;
              text-transform: uppercase;
              text-align: center;
              text-decoration: none;
              color: #ffffff;
              background: transparent;
              margin: 0 0 0 20px;
              @include transition(all 0.3s);
              &:first-child {
                margin: 0;
              }
              &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                border: 2px solid #ffffff;
                background: transparent;
              }
              &:hover {
                color: #82ca9c;
                background: #ffffff;
              }
            }
          }
          > a {
            display: block;
            width: 41px;
            height: 40px;
            border-left-width: 1px;
            border-left-style: solid;
            text-decoration: none;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;
            @include transition(all 0.5s);
            &:before {
              content: "";
              display: block;
              width: 20px;
              height: 1px;
              position: absolute;
              left: 10px;
              top: 20px;
              z-index: 1;
              @include transition(all 0.5s);
            }
            &:after {
              content: "";
              display: block;
              width: 1px;
              height: 20px;
              position: absolute;
              left: 20px;
              top: 10px;
              z-index: 2;
              @include transition(all 0.5s);
            }
          }
          &.profileCreateTextarea {
            padding: 10px 0 15px 0;
            background: $color-create-input-bg;
          }
          input[type=text] {
            display: block;
            width: 100%;
            height: 40px;
            line-height: 20px;
            margin: 0;
            padding: 10px 15px;
            font-size: 1em;
            font-weight: 400;
            border: none;
            outline: none;
            background: $color-create-input-bg;
          }
          input::-webkit-input-placeholder {
            text-transform: uppercase;
          }
          input:-moz-placeholder {
            text-transform: uppercase;
          }
          input::-moz-placeholder {
            text-transform: uppercase;
          }
          input:-ms-input-placeholder {
            text-transform: uppercase;
          }
          textarea {
            display: block;
            width: 100%;
            height: 100px;
            line-height: 20px;
            margin: 0;
            padding: 0 15px;
            font-size: 1em;
            font-weight: 400;
            border: none;
            outline: none;
            background: $color-create-input-bg;
            resize: none;
            overflow: auto;
          }
          textarea::-webkit-input-placeholder {
            text-transform: uppercase;
          }
          textarea:-moz-placeholder {
            text-transform: uppercase;
          }
          textarea::-moz-placeholder {
            text-transform: uppercase;
          }
          textarea:-ms-input-placeholder {
            text-transform: uppercase;
          }
        }
        .ui-autocomplete {
          width: 100% !important;
          max-width: 100% !important;
          position: absolute !important;
          left: 0 !important;
          top: 100% !important;
          max-height: 400px !important;
          padding: 0;
          margin: 0;
          list-style: none;
          font-size: 1em;
          background-color: #ffffff;
          border: none;
          @include br(0);
          @include bs(none);
          overflow: auto;
          > li {
            display: block;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;
            padding: 10px 15px;
            line-height: 20px;
            color: inherit;
            text-transform: uppercase;
            text-decoration: none;
            cursor: pointer;
            > a {
              display: block;
              width: 100%;
              padding: 10px 15px;
              line-height: 20px;
              color: inherit;
              text-transform: uppercase;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              text-decoration: none;
              cursor: pointer;
            }
          }
        }
        #map_canvas {
          margin: 15px -100px 0 -100px;
          height: 640px;
        }
        .profileCreateUploadImage {
          width: 100%;
          border: 2px solid $color-create-input-border;
          padding: 30px;
          margin: 15px 0 0 0;
          position: relative;
          @include clearfix();
          .profileCreateUploadImageLeft {
            position: relative;
            float: left;
            width: 374px;
            height: 308px;
            border: 2px solid #ffffff;
            background: rgba(255, 255, 255, 0.15);
            color: #fdfdfd;
            .profileCreateUploadImageLeftIn {
              display: block;
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0;
              top: 0;
              z-index: 2;
              background-position: center center;
              background-repeat: no-repeat;
              @include bsize(auto 100%);
            }
            .profileCreateUploadImageLeftText {
              display: table;
              width: 100%;
              height: 100%;
              padding: 45px;
              position: relative;
              z-index: 1;
              span {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                text-transform: uppercase;
                font-size: 1.667em;
                font-weight: 400;
                line-height: 1;
              }
            }
          }
          .profileCreateUploadImageRight {
            position: absolute;
            left: 404px;
            right: 0;
            top: 0;
            bottom: 0;
            padding: 30px;
            .profileCreateUploadImageRightIn {
              display: table;
              height: 100%;
              margin: 0 auto;
              .profileCreateUploadImageRightInside {
                display: table-cell;
                vertical-align: middle;
                .profileCreateUploadImg {
                  display: table;
                  margin: 0 auto;
                  position: relative;
                  label {
                    position: relative;
                    margin: 0;
                    padding: 0;
                    z-index: 2;
                    @include transition(all 0.5s);
                    @include opacity(1);
                    visibility: visible;
                    &.labelHidden {
                      @include opacity(0);
                      visibility: hidden;
                    }
                    span {
                      position: relative;
                      z-index: 1;
                      display: block;
                      width: 100%;
                      height: 40px;
                      line-height: 20px;
                      margin: 0;
                      padding: 10px 15px;
                      font-size: 1em;
                      font-weight: 400;
                      color: $color-create-upload-input;
                      background: $color-create-upload-input-bg;
                      text-transform: uppercase;
                    }
                    input {
                      position: absolute;
                      left: 0;
                      top: 0;
                      z-index: 2;
                      cursor: pointer;
                      display: block;
                      width: 100%;
                      height: 100%;
                      @include opacity(0);
                    }
                  }
                  .progress {
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    border: 2px solid $color-create-input-border;
                    margin-bottom: 0;
                    background-color: $color-create-bottom-in-bg;
                    @include br(0);
                    @include bs(none);
                    .progress-bar {
                      position: absolute;
                      float: none;
                      left: 0;
                      top: 0;
                      border: 2px solid transparent;
                      background-color: $color-create-upload-input-bg;
                      @include bs(none);
                    }
                  }
                }
                .profileCreateUploadImgExisting {
                  display: table;
                  margin: 0 auto;
                  padding: 10px 0 0 0;
                  line-height: 20px;
                  font-size: 0.778em;
                  color: $color-create-upload-bottom;
                  a {
                    font-weight: 900;
                    color: inherit;
                    text-decoration: underline;
                    &:hover {
                      text-decoration: none;
                    }
                  }
                }
              }
            }
          }
        }
        .profileCreateSubmit {
          display: table;
          margin: 0 auto;
          padding: 65px 0 0 0;
          @include clearfix();
          input {
            float: left;
            display: block;
            padding: 8px 20px;
            height: 40px;
            line-height: 20px;
            font-size: 1em;
            font-weight: 400;
            text-transform: uppercase;
            text-align: center;
            color: $color-create-submit;
            border: 2px solid $color-create-submit-border;
            background: transparent;
            @include transition(all 0.3s);
            &:hover {
              color: #82ca9c;
              background: $color-create-submit;
            }
          }
          a {
            float: left;
            display: block;
            position: relative;
            padding: 0 20px;
            height: 40px;
            line-height: 40px;
            font-size: 1em;
            font-weight: 400;
            text-transform: uppercase;
            text-align: center;
            text-decoration: none;
            color: #ffffff;
            background: transparent;
            @include transition(all 0.3s);
            &:hover {
              color: #82ca9c;
              background: #ffffff;
            }
            &:before {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              border: 2px solid #ffffff;
              background: transparent;
            }
          }
          > * {
            margin: 0 0 0 20px;
            &:first-child {
              margin: 0;
            }
          }
        }
      }
      .profileCreateTopIn {
        .ui-autocomplete {
          color: $color-create-top-in-input !important;
          > li {
            border-bottom: 1px solid #cee6c1;
            color: #b4ddc0;
            &:hover {
              color: #b4ddc0;
              background: rgba(142, 207, 164, 0.1);
            }
            > a {
              color: #b4ddc0;
              &:hover {
                color: #b4ddc0;
                background: rgba(142, 207, 164, 0.1);
              }
            }
            &.selected {
              color: #b4ddc0;
              background: rgba(142, 207, 164, 0.1);
              a {
                color: #b4ddc0;
                background: rgba(142, 207, 164, 0.1);
              }
            }
          }
        }
        label {
          input[type=text] {
            color: $color-create-top-in-input;
          }
          input::-webkit-input-placeholder {
            color: $color-create-top-in-input;
          }
          input:-moz-placeholder {
            color: $color-create-top-in-input;
          }
          input::-moz-placeholder {
            color: $color-create-top-in-input;
          }
          input:-ms-input-placeholder {
            color: $color-create-top-in-input;
          }
          textarea {
            color: $color-create-top-in-input;
          }
          textarea::-webkit-input-placeholder {
            color: $color-create-top-in-input;
          }
          textarea:-moz-placeholder {
            color: $color-create-top-in-input;
          }
          textarea::-moz-placeholder {
            color: $color-create-top-in-input;
          }
          textarea:-ms-input-placeholder {
            color: $color-create-top-in-input;
          }
          .bootstrap-select {
            .btn-default {
              color: $color-create-top-in-input !important;
            }
            &.btn-group {
              .dropdown-menu {
                > li {
                  border-bottom: 1px solid #cee6c1;
                  > a {
                    color: #b4ddc0;
                    &:hover {
                      color: #b4ddc0;
                      background: rgba(142, 207, 164, 0.1);
                    }
                  }
                  &.selected {
                    a {
                      color: #b4ddc0;
                      background: rgba(142, 207, 164, 0.1);
                    }
                  }
                }
              }
            }
          }
          a {
            border-left-color: $color-create-top-in-input;
            &:before, &:after {
              background: $color-create-top-in-input;
            }
            &:hover {
              background: $color-create-top-in-input;
              &:before, &:after {
                background: #ffffff;
              }
            }
          }
        }
        .profileCreateUploadImage {
          @include clearfix();
          .profileCreateUploadImageRight {
            .profileCreateUploadImageRightIn {
              .profileCreateUploadImageRightInside {
                .profileCreateUploadImg {
                  label {
                    span {
                      &:after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        border: 2px solid $color-create-input-border;
                      }
                    }
                  }
                  .progress {
                    background-color: $color-create-top-in-bg;
                    .progress-bar {
                      background-color: $color-create-input-border;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .profileCreateBottomIn {
        .ui-autocomplete {
          color: $color-create-bottom-in-input;
          > li {
            border-bottom: 1px solid $color-create-bottom-bg;
            color: #FF8D77;
            &:hover {
              color: #FF8D77;
              background: rgba(239, 65, 48, 0.1);
            }
            > a {
              color: #FF8D77;
              &:hover {
                color: #FF8D77;
                background: rgba(239, 65, 48, 0.1);
              }
            }
            &.selected {
              color: #FF8D77;
              background: rgba(239, 65, 48, 0.1);
              a {
                color: #FF8D77;
                background: rgba(239, 65, 48, 0.1);
              }
            }
          }
        }
        label {
          a {
            border-left-color: $color-create-bottom-in-input;
            &:before, &:after {
              background: $color-create-bottom-in-input;
            }
            &:hover {
              background: $color-create-bottom-in-input;
              &:before, &:after {
                background: #ffffff;
              }
            }
          }
          input[type=text] {
            color: $color-create-bottom-in-input;
          }
          input::-webkit-input-placeholder {
            color: $color-create-bottom-in-input;
          }
          input:-moz-placeholder {
            color: $color-create-bottom-in-input;
          }
          input::-moz-placeholder {
            color: $color-create-bottom-in-input;
          }
          input:-ms-input-placeholder {
            color: $color-create-bottom-in-input;
          }
          textarea {
            color: $color-create-bottom-in-input;
          }
          textarea::-webkit-input-placeholder {
            color: $color-create-bottom-in-input;
          }
          textarea:-moz-placeholder {
            color: $color-create-bottom-in-input;
          }
          textarea::-moz-placeholder {
            color: $color-create-bottom-in-input;
          }
          textarea:-ms-input-placeholder {
            color: $color-create-bottom-in-input;
          }
          .bootstrap-select {
            .btn-default {
              color: $color-create-bottom-in-input !important;
            }
            &.btn-group {
              .dropdown-menu {
                > li {
                  border-bottom: 1px solid $color-create-bottom-bg;
                  > a {
                    color: #FF8D77;
                    &:hover {
                      color: #FF8D77;
                      background: rgba(239, 65, 48, 0.1);
                    }
                  }
                  &.selected {
                    a {
                      color: #FF8D77;
                      background: rgba(239, 65, 48, 0.1);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media #{$md} {
  .profile {
    .profileTop {
      height: auto;
    }
	  .profileBottom {
		  .profileInsideBlock {
			  //.promoBlock {
				 // height: 304px;
				 // &.createBlock {
					//  height: 354px;
				 // }
			  //}
			  a.movieThumb {
				  &.moviesFilter {
					  height: 390px;
				  }
			  }
		  }
		  .profileInEmpty {
			  margin: 60px 0 0 0;
			  padding: 105px 0;
			  a {
				  position: relative;
				  display: table;
				  margin: 0 auto;
				  height: 90px;
				  line-height: 90px;
				  padding: 0 40px;
				  font-size: 1.444em;
				  font-weight: 900;
				  text-decoration: none;
				  text-transform: uppercase;
				  color: $color-profile-in-empty;
				  &:before {
					  content: "";
					  position: absolute;
					  top: 0;
					  right: 0;
					  bottom: 0;
					  left: 0;
					  border: 3px solid $color-profile-in-empty-border;
					  @include br(3px);
				  }
			  }
			  > .row {
				  > div {
					  padding-top: 0;
					  padding-bottom: 0;
				  }
				  &:first-child {
					  + .row {
						  > div {
							  padding-top: 15px;
							  padding-bottom: 15px;
						  }
					  }
				  }
			  }
		  }
		  a.specialLocation {
			  height: 304px;
		  }
		  > .container {
			  > .row {
				  > .col-xs-12 {
					  > div {
						  &:first-child {
							  padding-top: 15px;
						  }
					  }
				  }
			  }
		  }
	  }
    .profileCreate {
      > .panel-group {
        > .panel {
          .panel {
            > .panel-heading {
              h4 {
                padding: 50px 40px 35px 40px;
                &:after {
                  left: 40px;
                  right: 40px;
                }
              }
            }
          }
        }
      }
      form {
        .profileCreateTopIn, .profileCreateBottomIn {
          padding: 0 40px 30px 40px;
          #map_canvas {
            margin: 15px -40px 0 -40px;
            height: 600px;
          }
        }
      }
    }
  }
}

@media #{$sm} {
  .profile {
    .profileTop {
      height: auto;
      .profileTopMenu {
        .profileMenu {
          > ul.dropdown-menu {
            height: 60px;
            z-index: 1;
            > li {
              height: 60px;
              margin: 0 0 0 40px;
              a {
                height: 60px;
                line-height: 60px;
                font-size: 1em;
              }
            }
          }
        }
      }
    }
    .profileBottom {
      .col-sm-4 {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      > .container {
        > .row {
          > .col-xs-12 {
            > div {
              &:first-child {
                padding-top: 10px;
              }
            }
          }
        }
      }
      .profileInEmpty {
        a {
          height: 70px;
          line-height: 70px;
          font-size: 1.222em;
          padding: 0 30px;
        }
      }
    }
    .profileCreate {
      > .panel-group {
        > .panel {
          > .panel-heading {
            h4 {
              padding: 12px 10px;
              font-size: 1.444em;
            }
          }
          .panel {
            > .panel-heading {
              h4 {
                font-size: 1.222em;
                padding: 40px 20px 30px 20px;
                &:after {
                  left: 20px;
                  right: 20px;
                }
              }
            }
          }
        }
      }
      form {
        .profileCreateTopIn, .profileCreateBottomIn {
          padding: 0 25px 20px 25px;
          #map_canvas {
            margin: 15px -25px 0 -25px;
            height: 440px;
          }
        }
      }
    }
  }
}

@media #{$smPortrait} {
  .profile {
    .profileBottom {
      .col-sm-4 {
        width: 50%;
      }
    }
  }
}

@media #{$xs} {
  .profile {
    .profileTop {
      height: auto;
      .profileTopMain {
        width: 100%;
        padding: 50px 0;
        > .container {
          > .row {
            &:before {
              display: none;
            }
            > div {
              float: inherit;
              display: block;
            }
          }
          .profilePic {
            width: 240px;
            height: 240px;
            padding: 0;
            margin: 0 auto;
            a {
              display: block;
              width: 50px;
              height: 50px;
              line-height: 50px;
              font-size: 20px;
            }
          }
          .profileDesc {
            padding: 15px 0 0 0;
            h1 {
              font-size: 1.5em;
              span {
                a {
                  width: 24px;
                  height: 24px;
                  line-height: 24px;
                  font-size: 12px;
                }
              }
            }
            h2 {
              font-size: 1em;
            }
          }
        }
      }
      .profileTopMenu {
        .profileMenu {
          > a.dropdown-toggle {
            display: block;
            width: 40px;
            height: 40px;
            position: relative;
            > span {
              position: absolute;
              left: 10px;
              display: block;
              width: 20px;
              height: 2px;
              background: #ffffff;
              &:first-child {
                top: 12px;
                + span {
                  top: 18px;
                  + span {
                    top: 24px;
                  }
                }
              }
            }
          }
          > ul.dropdown-menu {
            position: absolute;
            display: none;
            width: 100%;
            height: auto;
            margin: 0;
            font-size: 0.889em;
            background: #ffffff;
            > li {
              float: none;
              display: block;
              width: 100%;
              height: auto;
              margin: 0;
              padding: 0;
              a {
                height: 40px;
                line-height: 40px;
                font-size: 1em;
                padding: 0 10px;
                color: #1f222b;
                &:hover, &:focus, &.selected {
                  color: $color-profile-menu-border-secondary;
                  background-color: transparent;
                  &:after {
                    display: none;
                  }
                }
                &.selected {
                  color: $color-profile-menu-border-secondary;
                }
              }
            }
          }
          &.open {
            > ul.dropdown-menu {
              display: block;
            }
          }
        }
      }
    }
    .profileBottom {
      .col-sm-4 {
        padding-top: 8px;
        padding-bottom: 8px;
      }
      > .container {
        > .row {
          > .col-xs-12 {
            > div {
              &:first-child {
                padding-top: 8px;
              }
            }
          }
        }
      }
      .profileInEmpty {
        margin: 20px 0 0 0;
        padding: 60px 10px;
        a {
          height: 40px;
          line-height: 40px;
          font-size: 0.778em;
          padding: 0 15px;
          &:before {
            border: 2px solid #000000;
          }
        }
      }
    }
    .profileCreate {
      > .panel-group {
        > .panel {
          > .panel-heading {
            h4 {
              padding: 12px 10px;
              font-size: 1em;
            }
          }
          .panel {
            > .panel-heading {
              h4 {
                font-size: 0.889em;
                padding: 20px 15px 25px 15px;
                a {
                  position: relative;
                  display: block;
                  width: 100%;
                  padding: 0 0 0 20px;
                  span {
                    position: absolute;
                    left: 0;
                    top: 0;
                  }
                }
                &:after {
                  left: 15px;
                  right: 15px;
                }
              }
            }
          }
        }
      }
      form {
        .profileCreateTopIn, .profileCreateBottomIn {
          padding: 0 15px 20px 15px;
          #map_canvas {
            margin: 15px -15px 0 -15px;
            height: 340px;
          }
          label {
            > span.labelBtns {
              > a {
                padding: 0 10px;
                height: 30px;
                line-height: 30px;
                margin: 0 0 0 10px;
                font-size: 0.889em;
              }
            }
            > a {
              width: 31px;
              height: 30px;
              &:before {
                width: 15px;
                height: 1px;
                left: 7.5px;
                top: 15px;
              }
              &:after {
                width: 1px;
                height: 15px;
                left: 15px;
                top: 7.5px;
              }
            }
            &.profileCreateTextarea {
              padding: 10px 0 15px 0;
              background: $color-create-input-bg;
            }
            input[type=text] {
              height: 30px;
              line-height: 20px;
              padding: 5px 10px;
              font-size: 0.889em;
            }
            textarea {
              height: 100px;
              line-height: 20px;
              padding: 0 10px;
              font-size: 0.889em;
            }
          }
          .ui-autocomplete {
            max-height: 200px !important;
            font-size: 0.889em;
            > li {
              padding: 5px 10px;
              > a {
                padding: 5px 10px;
              }
            }
          }
          .profileCreateUploadImage {
            padding: 10px;
            .profileCreateUploadImageLeft {
              float: none;
              width: 100%;
              height: 0;
              padding-bottom: 100%;
              border: none;
              background: rgba(255, 255, 255, 0.15);
              &:before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border: 2px solid #ffffff;
                z-index: 1;
              }
              .profileCreateUploadImageLeftIn {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                border: 2px solid #ffffff;
                z-index: 3;
              }
              .profileCreateUploadImageLeftText {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 2;
                padding: 20px;
                span {
                  font-size: 1em;
                }
              }
            }
            .profileCreateUploadImageRight {
              position: static;
              left: auto;
              right: auto;
              top: auto;
              bottom: auto;
              padding: 10px 0;
              .profileCreateUploadImageRightIn {
                .profileCreateUploadImageRightInside {
                  .profileCreateUploadImg {
                    label {
                      span {
                        height: 30px;
                        padding: 5px 10px;
                        font-size: 0.889em;
                      }
                    }
                  }
                }
              }
            }
          }
          .profileCreateSubmit {
            padding: 40px 0 0 0;
            input {
              padding: 5px 10px;
              height: 30px;
              line-height: 20px;
              font-size: 0.889em;
            }
            a {
              padding: 0 10px;
              height: 30px;
              line-height: 30px;
            }
            > * {
              margin: 0 0 0 15px;
              &:first-child {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}