.register {
  width: 100%;
  padding: 0 0 150px 0;
  h1 {
    display: block;
    width: 100%;
    margin: 0;
    padding: 65px 0 55px 0;
    font-size: 2.222em;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    color: $color-register;
    strong {
      font-weight: 900;
    }
  }
  form {
    display: block;
    width: 100%;
    @include clearfix();
    label {
      display: block;
      width: 100%;
      padding: 0 0 30px 0;
      input {
        display: block;
        width: 100%;
        height: 76px;
        line-height: 40px;
        padding: 18px 30px;
        font-size: 1.556em;
        font-weight: 400;
        background: $color-register-bg;
        border: 1px solid $color-register-border;
        color: $color-register;
      }
      input::-webkit-input-placeholder {
        color: $color-register;
        text-transform: uppercase;
      }
      input:-moz-placeholder {
        color: $color-register;
        text-transform: uppercase;
      }
      input::-moz-placeholder {
        color: $color-register;
        text-transform: uppercase;
      }
      input:-ms-input-placeholder {
        color: $color-register;
        text-transform: uppercase;
      }
    }
    input[type=submit] {
      float: right;
      display: block;
      height: 76px;
      line-height: 76px;
      font-size: 1.556em;
      font-weight: 400;
      padding: 0 120px;
      text-align: center;
      text-transform: uppercase;
      color: $color-register-submit;
      background-color: $color-register-submit-bg;
      background-repeat: no-repeat;
      background-position: center center;
      @include bsize(36px 36px);
      cursor: pointer;
      border: none;
      overflow: hidden;
      @include transition(background-color 0.3s,color 0.3s);
      &.loading {
        color: rgba(255,255,255,0);
        background-image: url(../img/frontend/oval.svg);
        background-color: $color-register-submit-bg;
        &:hover {
          background-color: $color-register-submit-bg;
        }
      }
      &:hover {
        background-color: $color-register-submit-bg-hover;
      }
    }
    a, button {
      float: left;
      display: block;
      position: relative;
      height: 76px;
      line-height: 76px;
      padding: 0 30px;
      font-size: 1.556em;
      text-decoration: none;
      text-transform: uppercase;
      color: $color-register-fb;
      background: $color-register-fb-bg;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      outline: none;
      @include transition(all 0.3s);
      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border: 1px solid $color-register-fb-border;
        @include transition(all 0.3s);
      }
      i {
        position: relative;
        z-index: 2;
      }
      span {
        position: relative;
        z-index: 2;
        padding: 0 0 0 10px;
      }
      &:hover {
        color: $color-register-fb-hover;
        &:before {
          border-color: $color-register-fb-border-hover;
        }
      }
    }
  }
}