.sceneInsideTop {
	width: 100%;
	padding: 30px 0;
	background: $color-scene-inside-top-bg;
	.sceneInsideTopImg {
		width: 100%;
		position: relative;
		.sceneInsideTopImgIn {
			position: relative;
			width: 100%;
			@include clearfix();
			.sceneInsideTopImgLeft {
				position: relative;
				float: left;
				width: 75%;
				height: 410px;
				background-repeat: no-repeat;
				background-position: center center;
				@include bsize(cover);
				img {
					display: block;
					max-width: 100%;
				}
				h1 {
					display: block;
					width: 100%;
					position: absolute;
					left: 0;
					bottom: 0;
					margin: 0;
					padding: 0 22px 22px 22px;
					font-size: 1.667em;
					font-weight: 900;
					line-height: 1;
					color: $color-scene-inside-top;
					text-transform: uppercase;
					@include clearfix();
					> span {
						float: left;
						display: block;
						padding: 8px;
						background: $color-scene-inside-top-title-bg;
						span {
							font-weight: 300;
							a {
								font-size: inherit;
								font-weight: inherit;
								color: inherit;
								text-decoration: underline;
								&:hover {
									text-decoration: none;
								}
							}
						}
					}
				}
				span.cprt {
					display: block;
					color: $color-scene-inside-top-info;
					font-size: 0.778em;
					line-height: 1;
					position: absolute;
					left: 0;
					top: 100%;
					padding-top: 10px;
				}
				i {
					@extend .editorsChoiceBadge;
				}
			}
			.sceneInsideTopImgRight {
				position: absolute;
				right: 0;
				top: 0;
				width: 25%;
				height: 100%;
				padding: 25px;
				border: 3px solid $color-scene-inside-top-info-border;
				overflow: hidden;
				> a {
					width: 100%;
					height: 100%;
					overflow: hidden;
					position: relative;
					img {
						width: auto;
						max-width: 1000px;
						height: 100%;
						position: absolute;
						left: 50%;
						top: 50%;
						@include translate3d(-50%, -50%, 0);
					}
				}
			}
		}
	}
	.sceneInsideTopInfo {
		width: 100%;
		padding: 100px 0 0 0;
		> .container {
			height: 100%;
			padding-bottom: 100px;
			position: relative;
			&:after {
				content: "";
				display: block;
				height: 3px;
				background: $color-scene-inside-top-info-border;
				position: absolute;
				left: 15px;
				right: 15px;
				bottom: 0;
			}
			> .row {
				height: 100%;
				letter-spacing: -4px;
				* {
					letter-spacing: 0;
				}
				&:before {
					content: "";
					display: inline-block;
					vertical-align: bottom;
					height: 100%;
				}
				> div {
					float: none;
					display: inline-block;
					vertical-align: bottom;
				}
			}
			.sceneInsideTopInfoText {
				width: 100%;
				position: relative;
				padding-top: 125px;
				i {
					position: absolute;
					left: 0;
					top: 0;
					display: block;
					font-size: 82px;
					line-height: 1;
					&:before, &:after {
						display: block;
						position: absolute;
						left: 0;
						top: 0;
					}
					&:before {
						color: $color-scene-inside-top-info;
					}
					&:after {
						color: #d7df21;
					}
				}
				p {
					display: block;
					width: 100%;
					margin: 0;
					font-size: 1em;
					line-height: 1.22;
					color: $color-scene-inside-top-info;
				}
				&:after {
					content: "";
					display: block;
					width: 44px;
					height: 3px;
					position: absolute;
					left: 0;
					bottom: -23px;
					background: $color-scene-inside-top-info-border;
				}
			}
			.sceneInsideTopInfoAddress {
				> ul {
					display: block;
					width: 100%;
					margin: 0;
					padding: 0;
					list-style: none;
					> li {
						display: block;
						width: 100%;
						font-size: 1em;
						line-height: 1.22;
						color: $color-scene-inside-top-info;
						strong {
							font-weight: 900;
						}
						a {
							color: inherit;
							text-decoration: underline;
							&:hover {
								text-decoration: none;
							}
						}
					}
				}
			}
			.sceneInsideTopInfoSocial {
				width: 100%;
				@include clearfix();
				> a {
					float: left;
					display: block;
					position: relative;
					width: 70px;
					height: 70px;
					margin: 0 0 0 30px;
					color: $color-scene-inside-top-info;
					text-decoration: none;
					font-size: 1.556em;
					i {
						position: absolute;
						left: 50%;
						top: 50%;
						z-index: 2;
						@include translate3d(-50%, -50%, 0);
					}
					&:before {
						content: "";
						display: block;
						width: 100%;
						height: 100%;
						position: absolute;
						left: 0;
						top: 0;
						z-index: 1;
						border: 3px solid $color-scene-inside-top-info-social-border;
					}
					&:first-child {
						margin: 0;
					}
				}
			}
		}
	}
}

.sceneInsideMap {
	width: 100%;
	height: 640px;
	#map_canvas {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}
}

.sceneInsideOther {
	width: 100%;
	padding: 30px 0 100px 0;
	background: $color-scene-inside-top-bg;
	h2 {
		position: relative;
		display: block;
		width: 100%;
		margin: 0;
		padding: 70px 0 30px 0;
		font-size: 1.444em;
		font-weight: 900;
		text-transform: uppercase;
		line-height: 1;
		color: $color-scene-inside-top-info;
		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 3px;
			position: absolute;
			left: 0;
			top: 0;
			background: $color-scene-inside-top-info-border;
		}
	}
	.promoBlock {
		height: 304px;
	}
}

.scenesInside {
	padding: 15px 0;
	> .container {
		> .row {
			> div {
				padding-top: 15px;
				padding-bottom: 15px;
			}
		}
	}
	.promoBlock {
		height: 304px;
	}
}

@media (max-width: 1199px) {
	.sceneInsideTop {
		.sceneInsideTopInfo {
			> .container {
				> .row {
					> div {
						&.sceneInsideTopInfoSocialWrap {
							margin-left: -2px;
						}
					}
				}
			}
		}
	}
}

@media #{$md} {
	.sceneInsideTop {
		.sceneInsideTopImg {
			.sceneInsideTopImgIn {
				.sceneInsideTopImgLeft {
					width: 70%;
					height: 352px;
					h1 {
						font-size: 1.333em;
					}
				}
				.sceneInsideTopImgRight {
					width: 30%;
				}
			}
		}
		.sceneInsideTopInfo {
			padding: 60px 0 0 0;
			> .container {
				padding-bottom: 60px;
				.sceneInsideTopInfoText {
					padding-top: 100px;
					i {
						font-size: 70px;
					}
					p {
						display: block;
						width: 100%;
						margin: 0;
						font-size: 1em;
						line-height: 1.22;
						color: $color-scene-inside-top-info;
					}
				}
				.sceneInsideTopInfoAddress {
					> ul {
						> li {
						}
					}
				}
				.sceneInsideTopInfoSocial {
					float: right;
					width: auto;
					> a {
						width: 60px;
						height: 60px;
						margin: 0 0 0 20px;
						font-size: 1.333em;
						&:before {
							border-width: 2px;
						}
					}
				}
			}
		}
	}
	.sceneInsideMap {
		width: 100%;
		height: 420px;
	}
	.sceneInsideOther {
		padding: 20px 0 60px 0;
		h2 {
			padding: 40px 0 20px 0;
		}
	}
}

@media #{$sm} {
	.sceneInsideTop {
		.sceneInsideTopImg {
			.sceneInsideTopImgIn {
				.sceneInsideTopImgLeft {
					width: 74%;
					height: 352px;
					h1 {
						font-size: 1.333em;
					}
				}
				.sceneInsideTopImgRight {
					width: 26%;
				}
			}
		}
		.sceneInsideTopInfo {
			padding: 60px 0 0 0;
			> .container {
				padding-bottom: 60px;
				.sceneInsideTopInfoText {
					padding-top: 80px;
					i {
						font-size: 50px;
					}
					p {
						display: block;
						width: 100%;
						margin: 0;
						font-size: 1em;
						line-height: 1.22;
						color: $color-scene-inside-top-info;
					}
				}
				.sceneInsideTopInfoAddress {
					> ul {
						display: block;
						width: 100%;
						margin: 0;
						padding: 0;
						list-style: none;
						> li {
							display: block;
							width: 100%;
							font-size: 1em;
							line-height: 1.22;
							color: $color-scene-inside-top-info;
							strong {
								font-weight: 900;
							}
						}
					}
				}
				.sceneInsideTopInfoSocial {
					float: right;
					width: auto;
					@include clearfix();
					> a {
						width: 60px;
						height: 60px;
						margin: 0 0 0 20px;
						font-size: 1.333em;
						&:before {
							border-width: 2px;
						}
					}
				}
			}
		}
	}
	.sceneInsideMap {
		width: 100%;
		height: 420px;
	}
	.sceneInsideOther {
		padding: 20px 0 60px 0;
		h2 {
			padding: 40px 0 20px 0;
		}
	}
}

@media #{$smPortrait} {
	.scenesInside {
		> .container {
			> .row {
				> div {
					width: 50%;
				}
			}
		}
	}
	.sceneInsideTop {
		.sceneInsideTopImg {
			.sceneInsideTopImgIn {
				.sceneInsideTopImgLeft {
					width: 65%;
				}
				.sceneInsideTopImgRight {
					width: 35%;
				}
			}
		}
	}
}

@media #{$xs} {
	.sceneInsideTop {
		.sceneInsideTopImg {
			.sceneInsideTopImgIn {
				.sceneInsideTopImgLeft {
					width: 100%;
					height: 304px;
					h1 {
						font-size: 1em;
					}
				}
				.sceneInsideTopImgRight {
					width: 100%;
					position: static;
					right: auto;
					top: auto;
					height: auto;
					padding: 50px 0 0 0;
					border: none;
					overflow: hidden;
					> a {
						> img {
							width: 100%;
							max-width: 100%;
							height: auto;
							position: static;
							left: auto;
							top: auto;
							@include translate3d(0, 0, 0);
						}
					}
				}
			}
		}
		.sceneInsideTopInfo {
			padding: 20px 0 0 0;
			> .container {
				padding-bottom: 20px;
				> .row {
					letter-spacing: 0;
					&:before {
						display: table;
						vertical-align: inherit;
						height: auto;
					}
					> div {
						float: left;
						display: block;
						vertical-align: top;
					}
				}
				.sceneInsideTopInfoText {
					padding-top: 60px;
					padding-bottom: 23px;
					i {
						font-size: 40px;
					}
					&:after {
						bottom: 0;
					}
					p {
						display: block;
						width: 100%;
						margin: 0;
						font-size: 1em;
						line-height: 1.22;
						color: $color-scene-inside-top-info;
					}
				}
				.sceneInsideTopInfoAddress {
					padding: 20px 0;
					> ul {
						display: block;
						width: 100%;
						margin: 0;
						padding: 0;
						list-style: none;
						> li {
							display: block;
							width: 100%;
							font-size: 1em;
							line-height: 1.22;
							color: $color-scene-inside-top-info;
							strong {
								font-weight: 900;
							}
						}
					}
				}
				.sceneInsideTopInfoSocial {
					float: none;
					display: table;
					margin: 0 auto;
					width: auto;
					@include clearfix();
					> a {
						width: 54px;
						height: 54px;
						margin: 0 0 0 20px;
						font-size: 1.333em;
						&:before {
							border-width: 2px;
						}
					}
				}
			}
		}
	}
	.sceneInsideMap {
		height: 300px;
	}
	.sceneInsideOther {
		padding: 8px 0 8px 0;
		h2 {
			margin: -8px 0 -8px 0;
			padding: 16px 0 10px 0;
		}
		> .container {
			> .row {
				> div {
					padding-top: 8px;
					padding-bottom: 8px;
				}
			}
		}
	}
}