.staticPage {
  width: 100%;
  padding: 50px 0 40px 0;
  h1, h2, h3, h4 {
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 900;
    color: #1f222b;
    @include clearfix();
    span {
      float: left;
      display: block;
      padding: 0 0 2px 0;
      border-bottom: 2px solid #1f222b;
    }
    + h1, + h2, + h3, + h4 {
      padding-top: 15px;
    }
    + p {
      padding-top: 0;
    }
  }
  h1 {
    font-size: 1.444em;
  }
  h2 {
    font-size: 1.222em;
  }
  h3 {
    font-size: 1em;
  }
  h4 {
    font-size: 0.889em;
  }
  p {
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 20px;
    font-size: 0.889em;
    font-weight: 400;
    color: #1f222b;
    a {
      color: inherit;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  form {
    display: block;
    width: 100%;
    > ul {
      display: table;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: table-row;
        width: 100%;
        &:first-child {
          div {
            padding-top: 0;
          }
        }
        div {
          display: table-cell;
          vertical-align: top;
          padding-top: 15px;
          text-align: left;
          @include clearfix();
          &:first-child {
            padding-right: 15px;
          }
          label {
            display: block;
            width: 100%;
            font-weight: 700;
            font-size: 0.889em;
            height: 30px;
            line-height: 30px;
            text-align: left;
            color: #1f222b;
            cursor: pointer;
          }
          input {
            &[type=text], &[type=email], &[type=password] {
              display: block;
              width: 100%;
              min-width: 200px;
              height: 30px;
              padding: 5px 10px;
              line-height: 20px;
              font-size: 0.889em;
              font-weight: 700;
              color: #1f222b;
              border: 1px solid #1f222b;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
            }
          }
          button, a {
            float: left;
            display: block;
            position: relative;
            height: 40px;
            line-height: 40px;
            padding: 0 15px;
            font-size: 1em;
            font-weight: 700;
            background: #1f222b;
            color: #ffffff;
            border: none;
            outline: none;
            text-transform: uppercase;
            text-decoration: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            @include transition(all 0.3s);
            &:before {
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              border: 2px solid #1f222b;
              @include transition(all 0.3s);
            }
            &:hover{
              background: #ffffff;
              color: #1f222b;
            }
          }
        }
      }
    }
  }
}