@charset "UTF-8";

/* helpers */
@import "helpers/helpers";
@import "bootstrap/mixins";

@mixin clearfix() {
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin transition($transition...) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@mixin br($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@mixin bs($hShadow, $vShadow:"", $blur:"", $spread:"", $color:"") {
	-webkit-box-shadow: $hShadow unquote($vShadow) unquote($blur) unquote($spread) unquote($color);
	-moz-box-shadow: $hShadow unquote($vShadow) unquote($blur) unquote($spread) unquote($color);
	box-shadow: $hShadow unquote($vShadow) unquote($blur) unquote($spread) unquote($color);
}

@mixin rotate($degrees) {
	-webkit-transform: rotate($degrees);
	-moz-transform: rotate($degrees);
	-ms-transform: rotate($degrees);
	-o-transform: rotate($degrees);
	transform: rotate($degrees);
}

@mixin opacity($opacity) {
	opacity: $opacity;
	-moz-opacity: $opacity;
	-khtml-opacity: $opacity;
	$opacity-ie: ($opacity * 100);
	filter: alpha(opacity=$opacity-ie);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=#{$opacity-ie})";
}

@mixin saturate($saturate) {
	filter: saturate($saturate);
	-webkit-filter: saturate($saturate);
	-moz-filter: saturate($saturate);
	-o-filter: saturate($saturate);
	-ms-filter: saturate($saturate);
}

@mixin user-select($userSelect) {
	user-select: $userSelect;
	-webkit-user-select: $userSelect;
	-moz-user-select: $userSelect;
	-ms-user-select: $userSelect;
	-o-user-select: $userSelect;
}

@mixin translate3d($x, $y, $z) {
	-webkit-transform: translate3d($x, $y, $z);
	-moz-transform: translate3d($x, $y, $z);
	-ms-transform: translate3d($x, $y, $z);
	-o-transform: translate3d($x, $y, $z);
	transform: translate3d($x, $y, $z);
}

@mixin translate($x, $y) {
	-webkit-transform: translate($x, $y);
	-moz-transform: translate($x, $y);
	-ms-transform: translate($x, $y);
	-o-transform: translate($x, $y);
	transform: translate($x, $y);
}

@mixin transform($transform) {
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
	-o-transform: $transform;
	transform: $transform;
}

@mixin bsize($bSize) {
	background-size: $bSize;
	-webkit-background-size: $bSize;
	-moz-background-size: $bSize;
	-o-background-size: $bSize;
}

/* Main Styles */

html {

}

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-size: $font-base;
	font-family: $fontSansPro;
	background: $color-body-bg;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&.noScroll {
		overflow: hidden;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: inherit;
	text-decoration: none;
}

h1 {

}

a {
	outline: 0 !important;
}

p {
	cursor: default;
}

.editorsChoiceBadge {
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	display: block;
	width: 32px;
	height: 70px;
	font-size: 70px;
	z-index: 20;
	&:before, &:after {
		position: absolute;
		left: 0;
		display: block;
		width: 100%;
		font-size: inherit;
	}
	&:before {
		color: #1d212b;
		top: 0;
	}
	&:after {
		color: #d7df21;
		top: 2px;
		font-size: 66px;
	}
}

.promoBlock {
	position: relative;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	@include bsize(cover);
	@include clearfix();
	overflow: hidden;
	> * {
		@include transition(opacity 0.3s);
	}
	&.loading {
		&.sceneBlock {
			background: rgba($color-promo-scene-block-bg, 0.7) !important;
		}
		&.locationBlock, &.locationInsideBlock {
			background: rgba($color-promo-location-block-bg, 0.7) !important;
		}
		&.blogBlock {
			background: rgba($color-promo-blog-block-bg, 0.7) !important;
		}
		> * {
			@include opacity(0);
			visibility: hidden;
		}
		&:before {
			content: "";
			display: block;
			width: 50px;
			height: 50px;
			font-size: 50px;
			color: #ffffff;
			background-image: url(../img/loader-white.svg);
			background-repeat: no-repeat;
			background-position: center center;
			@include bsize(100%);
			position: absolute;
			left: 50%;
			top: 50%;
			visibility: visible;
			@include translate(-50%, -50%);
			@include opacity(1);
			@extend .fnicon;
			z-index: 10;
		}
		&.notfound {
			background: transparent!important;
			&:before {
				content: $fnicon-warning;
				background-image: none;
			}
			> * {
				@include opacity(1);
				visibility: visible;
			}
			a.promoBlockInfo {
				&:before {
					@include opacity(0.7);
				}
				&:hover {
					&:before {
						@include opacity(1);
					}
				}
				> div {
					padding-right: 20px;
					h3 {
						max-height: 56px;
						overflow: hidden;
					}
					h4 {
						display: none;
					}
				}
			}
			&.locationInsideBlock {
				> a {
					&:hover {
						&:before {
							@include opacity(1);
						}
					}
					&:before {
						@include opacity(0.7);
					}
					> h3 {
						@include opacity(0);
						visibility: hidden;
					}
					> div {
						@include opacity(1);
						visibility: visible;
						i {
							display: none;
						}
					}
				}
			}
		}
	}
	a.promoBlock-topLink {
		display: block;
		padding: 0 10px;
		height: 28px;
		line-height: 28px;
		font-size: 0.611em;
		font-weight: 700;
		text-decoration: none;
		text-transform: uppercase;
		color: $color-promo-block-top-link;
		position: absolute;
		left: 20px;
		top: 20px;
		z-index: 3;
		@include transition(all 0.5s);
		span {
			position: relative;
			z-index: 3;
		}
		&:before, &:after {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
		}
		&:before {
			left: 50%;
			top: 50%;
			z-index: 2;
			background: $color-promo-block-top-link-bg;
			@include translate3d(-50%, -50%, 0);
			@include transition(all 0.5s);
		}
		&:after {
			left: 0;
			top: 0;
			z-index: 1;
			border: 1px solid $color-promo-block-top-link-border;
		}
		&:hover {
			color: $color-promo-block-top-link-hover;
			&:before {
				width: 125%;
				height: 175%;
				@include opacity(0);
			}
		}
	}
	span.promoBlockAuthor {
		display: block;
		padding: 0 20px 20px 20px;
		font-size: 0.667em;
		line-height: 1;
		font-weight: 300;
		font-style: italic;
		color: $color-promo-block-info;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 3;
		@include opacity(0);
		@include transition(all 0.5s);
		a {
			font-size: inherit;
			line-height: 1;
			font-weight: 700;
			font-style: normal;
			text-decoration: none;
			color: $color-promo-block-info;
		}
		&:before {
			content: "";
			display: block;
			width: 14px;
			height: 1px;
			background: $color-promo-block-info;
			position: absolute;
			left: 20px;
			top: -10px;
		}
		& + a.promoBlockInfo {
			> div {
				padding: 0 35% 50px 20px;
			}
		}
	}
	a.promoBlockInfo {
		display: block;
		width: 100%;
		height: 100%;
		padding: 20px;
		text-decoration: none;
		text-transform: uppercase;
		position: absolute;
		color: $color-promo-block-info;
		left: 0;
		top: 0;
		z-index: 2;
		@include opacity(0);
		@include transition(all 0.5s);
		> div {
			display: block;
			width: 100%;
			padding: 0 35% 20px 20px;
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: 2;
			h3, h4 {
				display: block;
				width: 100%;
				margin: 0;
				padding: 0;
				span {
					font-weight: 400;
				}
				&:empty {
					display: none;
				}
			}
			h3 {
				font-size: 1.333em;
				line-height: 1.2;
				font-weight: 700;
			}
			h4 {
				margin: 16px 0 0 0;
				font-size: 0.667em;
				line-height: 1.2;
				font-weight: 300;
			}
		}
		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
			@include opacity(0);
			@include transition(all 0.5s);
		}
		&:hover {
			@include opacity(1);
		}
	}
	> div.promoBlockImg {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		padding: 0;
		z-index: 1;
		background-position: center center;
		background-repeat: no-repeat;
		@include bsize(cover);
		//-webkit-filter: blur(10px);
		//filter: blur(10px);
		overflow: hidden;
		@include transition(all 0.3s);
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	&.editorsChoice {
		> i {
			content: $fnicon-editors-choice;
			@extend .fnicon;
			display: block;
			position: absolute;
			right: 10px;
			top: 10px;
			color: rgb(255, 255, 255);
			font-size: 60px;
			z-index: 20;
		}
	}
	&.locationBlock {
		a.promoBlockInfo {
			&:before {
				background: $color-promo-location-block-bg;
			}
			&:hover {
				&:before {
					@include opacity(0.8);
				}
			}
		}
	}
	&.sceneBlock {
		a.promoBlockInfo {
			&:before {
				background: $color-promo-scene-block-bg;
			}
			&:hover {
				&:before {
					@include opacity(0.7);
				}
			}
		}
	}
	&.blogBlock {
		a.promoBlockInfo {
			&:before {
				background: $color-promo-blog-block-bg;
			}
			&:hover {
				&:before {
					@include opacity(0.7);
				}
			}
		}
	}
	&.promoBlockNoPic {
		span.promoBlockAuthor {
			@include opacity(1);
		}
		a.promoBlockInfo {
			@include opacity(1);
		}
		&.sceneBlock {
			a.promoBlockInfo {
				&:before {
					background: transparent;
				}
			}
		}
		&.locationBlock {
			a.promoBlockInfo {
				&:before {
					background: transparent;
				}
			}
		}
	}
	&.promoBlockBordered {
		border-width: 3px;
		border-style: solid;
		a.promoBlock-topLink {
			left: 17px;
			top: 17px;
		}
		span.promoBlockAuthor {
			padding: 0 20px 20px 17px;
			&:before {
				left: 17px;
			}
			& + a.promoBlockInfo {
				> div {
					padding: 0 35% 47px 17px;
				}
			}
		}
		a.promoBlockInfo {
			padding: 17px;
			> div {
				padding: 0 35% 17px 17px;
			}
		}
	}
	&.createBlock {
		color: $color-create-block;
		background: $color-create-block-bg;
		border: 3px solid $color-create-block-border;
		a {
			display: table;
			width: 100%;
			height: 100%;
			color: inherit;
			font-size: 2.111em;
			line-height: 1.05;
			text-transform: uppercase;
			text-decoration: none;
			padding: 45px;
			h5 {
				display: table-cell;
				vertical-align: middle;
				margin: 0;
				padding: 0;
				font-size: inherit;
				line-height: inherit;
				font-weight: 900;
			}
		}
	}
	&.locationInsideBlock {
		a {
			position: relative;
			display: table;
			width: 100%;
			height: 100%;
			padding: 45px;
			text-decoration: none;
			color: #FFF;
			h3 {
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				margin: 0;
				padding: 20px 20px 0 20px;
				font-size: 0.722em;
				line-height: 1.154;
				font-weight: 900;
				color: inherit;
				text-transform: uppercase;
				@include transition(all 0.3s);
				span {
					font-weight: 400;
				}
			}
			div {
				position: relative;
				display: table-cell;
				vertical-align: middle;
				width: 100%;
				z-index: 2;
				@include transition(all 0.3s);
				@include opacity(0);
				h4 {
					position: absolute;
					left: 0;
					bottom: 0;
					display: block;
					width: 100%;
					text-align: center;
					margin: 0;
					font-size: 0.722em;
					line-height: 1.154;
					font-weight: 900;
					color: inherit;
					text-transform: uppercase;
					span {
						font-weight: 400;
					}
				}
				i {
					position: absolute;
					left: 0;
					top: 0;
					text-align: center;
					display: block;
					width: 100%;
					height: 140px;
					font-size: 144px;
					&:before, &:after {
						position: absolute;
						left: 0;
						top: 0;
						display: block;
						width: 100%;
						height: 100%;
						font-size: inherit;
					}
					&:before {
						color: #ffffff;
					}
					&:after {
						color: #d7df21;
					}
				}
			}
			&:before {
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 1;
				background: $color-promo-location-block-bg;
				@include transition(all 0.3s);
				@include opacity(0);
			}
			&:hover {
				h3 {
					@include opacity(0);
				}
				div {
					@include opacity(1);
				}
				&:before {
					@include opacity(0.7);
				}
			}
		}
	}
	&.movieBlock {
		a.promoBlockInfo {
			@include opacity(1);
			&:before {
				background: $color-promo-movie-block-bg;
			}
			&:hover {
				&:before {
					@include opacity(0.8);
				}
			}
		}
		a.promoBlockInfo {
			> div {
				padding: 0 20px 20px 20px;
				h4 {
					display: block;
					display: -webkit-box;
					height: 58px;
					-webkit-line-clamp: 4;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
		&:hover {
			> div.promoBlockImg {
				//-webkit-filter: blur(5px);
				//filter: blur(5px);
			}
		}
	}
	i.fnicon-editors-choice {
		@extend .editorsChoiceBadge;
	}
	&:hover {
		span.promoBlockAuthor {
			@include opacity(1);
		}
		a.promoBlockInfo {
			@include opacity(1);
		}
		&.locationBlock {
			a.promoBlockInfo {
				&:before {
					@include opacity(0.8);
				}
			}
		}
		&.sceneBlock {
			a.promoBlockInfo {
				&:before {
					@include opacity(0.7);
				}
			}
		}
	}
}

.quoteBlock {
	position: relative;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	@include bsize(cover);
	@include clearfix();
	.quoteBlockText {
		width: 100%;
		padding: 0 20px 20px 20px;
		position: absolute;
		left: 0;
		bottom: 0;
		img {
			display: block;
			max-width: 100%;
			margin-bottom: 15px;
			@include user-select(none);
		}
		h3, h4 {
			display: block;
			width: 100%;
			margin: 0;
			padding: 0 50px 0 0;
			font-size: 1.222em;
			text-transform: uppercase;
			line-height: 1.3;
			color: $color-quote-block;
		}
		h3 {
			font-weight: 300;
		}
		h4 {
			font-weight: 900;
		}
	}
}

a.specialLocation {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	color: $color-special-location-caption;
	text-transform: uppercase;
	text-decoration: none;
	overflow: hidden;
	@include bsize(cover);
	@include clearfix();
	&.loading {
		.specialLocationBg {
			position: relative;
			background: lighten($color-special-location-caption-bg, 20%)!important;
			&:before {
				content: "";
				display: block;
				width: 50px;
				height: 50px;
				font-size: 50px;
				color: #ffffff;
				background-image: url(../img/loader-white.svg);
				background-repeat: no-repeat;
				background-position: center center;
				@include bsize(100%);
				position: absolute;
				left: 50%;
				top: 50%;
				visibility: visible;
				@include translate(-50%, -50%);
				@include opacity(1);
				@extend .fnicon;
				z-index: 10;
			}
		}
		&.notfound {
			.specialLocationBg {
				&:before {
					content: $fnicon-warning;
					background-image: none;
				}
			}
		}
	}
	.specialLocationBg {
		width: 100%;
		height: 50%;
		background-position: center center;
		background-repeat: no-repeat;
		@include bsize(cover);
		@include clearfix();
	}
	.specialLocationCaption {
		width: 100%;
		height: 50%;
		padding: 15px;
		background: $color-special-location-caption-bg;
		@include clearfix();
		@include transition(all 0.5s);
		h3, h4 {
			display: block;
			width: 100%;
			margin: 0;
			padding: 0;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		h3 {
			font-size: 1em;
			line-height: 1.2;
			max-height: 105px;
			-webkit-line-clamp: 5;
		}
		h4 {
			margin: 6px 0 0 0;
			font-size: 0.667em;
			line-height: 1.3;
			max-height: 15px;
			-webkit-line-clamp: 1;
		}
	}
	i.fnicon-editors-choice {
		@extend .editorsChoiceBadge;
	}
	&:hover {
		color: $color-special-location-caption;
	}
}

.visitBlock {
	position: relative;
	width: 100%;
	height: 100%;
	border: 3px solid $color-visit-block-border;
	padding-top: 116px;
	@include clearfix();
	h3 {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0 20px;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1.333em;
		line-height: 1.2;
		color: $color-visit-block-title;
	}
	> ul {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0 0 0 20px;
		list-style: none;
		position: absolute;
		left: 0;
		bottom: 0;
		> li {
			display: block;
			width: 100%;
			margin: 0;
			padding: 14px 20px 13px 0;
			border-top: 1px solid $color-visit-block-border;
			&:first-child {
				border-top: none;
				padding-top: 0;
			}
			a {
				display: block;
				width: 100%;
				font-size: 0.667em;
				line-height: 1.2;
				text-transform: uppercase;
				text-decoration: none;
				color: $color-visit-block;
				&:hover {
					color: $color-visit-block-hover;
				}
			}
		}
	}
	.badgeBlock {
		background: $color-visit-block-border;
		border-left-color: $color-visit-block-border;
		border-right-color: $color-visit-block-border;
		&:before, &:after {
			border-color: $color-visit-block-border;
		}
	}
}

.badgeBlock {
	position: absolute;
	top: 0;
	right: 30px;
	width: 30px;
	height: 62px;
	border-left-width: 3px;
	border-right-width: 3px;
	border-left-style: solid;
	border-right-style: solid;
	overflow: hidden;
	&:before, &:after {
		content: "";
		display: block;
		width: 30px;
		height: 30px;
		position: absolute;
		left: 50%;
		border-width: 3px;
		border-style: solid;
		border-right: 0;
		border-bottom: 0;
		@include transform(translate(-50%, 0) rotate(45deg));
	}
	&:before {
		bottom: -19px;
		background: $color-body-bg;
	}
	&:after {
		bottom: -18px;
	}
}

.movieTripAd {
	width: 100%;
	height: 100%;
	a {
		display: block;
		width: 100%;
		height: 100%;
		overflow: hidden;
		img {
			display: block;
			width: 100%;
			max-width: 100%;
		}
	}
}

a.movieThumb {
	position: relative;
	display: block;
	width: 100%;
	height: 400px;
	overflow: hidden;
	text-decoration: none;
	> * {
		@include transition(opacity 0.3s);
	}
	&.loading {
		background: $color-related-title!important;
		&:before {
			content: "";
			display: block;
			width: 50px;
			height: 50px;
			font-size: 50px;
			color: #ffffff;
			background-image: url(../img/loader-white.svg);
			background-repeat: no-repeat;
			background-position: center center;
			@include bsize(100%);
			position: absolute;
			left: 50%;
			top: 50%;
			visibility: visible;
			@include translate(-50%, -50%);
			@include opacity(1);
			@extend .fnicon;
			z-index: 10;
		}
		&.notfound {
			&:before {
				content: $fnicon-warning;
				background-image: none;
			}
			h2 {
				@include opacity(1);
				visibility: visible;
			}
		}
		> * {
			@include opacity(0);
			visibility: hidden;
		}
	}
	figure {
		display: block;
		height: 100%;
		img {
			display: block;
			height: 100%;
			width: auto;
			position: absolute;
			top: 0;
			left: 50%;
			@include translate(-50%, 0);
		}
	}
	h2 {
		@include opacity(0);
		position: absolute;
		left: 0;
		bottom: 20px;
		color: #ffffff;
		text-transform: uppercase;
		font-size: 1em;
		line-height: 1.2;
		text-align: center;
		padding: 0 20px;
		font-weight: 700;
		z-index: 2;
		width: 100%;
	}
	&.moviesFilter {
		color: $color-create-block;
		background: $color-create-block-bg;
		border: 3px solid $color-create-block-border;
		&:hover {
			text-decoration: none;
		}
		div {
			display: table;
			width: 100%;
			height: 100%;
			color: inherit;
			font-size: 2.111em;
			line-height: 1.05;
			text-transform: uppercase;
			text-decoration: none;
			padding: 45px;
			h5 {
				display: table-cell;
				vertical-align: middle;
				margin: 0;
				padding: 0;
				font-size: inherit;
				line-height: inherit;
				font-weight: 900;
			}
		}
	}
}

.thumbBtns {
	position: absolute;
	right: 15px;
	top: 15px;
	z-index: 3;
	@include clearfix();
	a {
		float: left;
		display: block;
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		text-decoration: none;
		@include opacity(0.9);
		@include transition(all 0.3s);
		&:hover {
			@include opacity(1);
		}
		&.editThumb {
			font-size: 16px;
			text-indent: 1px;
			background: #82ca9c;
			color: #ffffff;
		}
		&.deleteThumb {
			font-size: 14px;
			background: #ef4130;
			color: #ffffff;
		}
		i {
			display: block;
			width: 100%;
			height: 100%;
			line-height: inherit;
		}
	}
}

.relatedWrap {
	width: 100%;
	padding: 50px 0 10px 0;
	.relatedIn {
		width: 100%;
		padding: 0 0 35px 0;
		> .container {
			> .row {
				> div {
					//padding-top: 15px;
					//padding-bottom: 15px;
				}
			}
		}
		h2 {
			display: block;
			width: 100%;
			margin: 0;
			padding: 10px 0 15px 0;
			font-size: 1.444em;
			font-weight: 900;
			text-transform: uppercase;
			line-height: 1;
			color: $color-related-title;
		}
		&.relatedScenes, &.relatedLocations {
			.promoBlock {
				height: 304px;
			}
		}
	}
}

.tripsInside {
	width: 100%;
	padding: 15px 0 15px 0;
	> .container {
		> .row {
			> div {
				height: 334px;
				padding-top: 15px;
				padding-bottom: 15px;
				@include clearfix();
			}
		}
	}
}

.styledCheckbox {
	label {
		position: relative;
		display: block;
		font-size: 1em;
		line-height: 20px;
		font-weight: 400;
		color: $color-styled-checkbox;
		text-transform: uppercase;
		cursor: pointer;
		margin: 0;
		padding: 0;
		input[type=checkbox] {
			display: none;
			&:checked {
				+ span {
					&:before {
						background: $color-styled-checkbox-bg;
					}
				}
			}
		}
		span {
			display: block;
			position: relative;
			padding: 0 0 0 24px;
			&:before {
				content: "";
				position: absolute;
				left: 0;
				top: 3px;
				display: block;
				width: 14px;
				height: 14px;
				border: 1px solid $color-styled-checkbox-border;
			}
		}
	}
}

.styledRadio {
	label {
		position: relative;
		display: block;
		font-size: 1em;
		line-height: 20px;
		font-weight: 400;
		color: #ffffff;
		text-transform: uppercase;
		cursor: pointer;
		margin: 0;
		padding: 0;
		input[type=radio] {
			display: none;
			&:checked {
				+ span {
					&:before {
						background: #82ca9c;
					}
				}
			}
		}
		span {
			display: block;
			position: relative;
			padding: 0 0 0 30px;
			&:before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				display: block;
				width: 20px;
				height: 20px;
				background: #ffffff;
				border: 5px solid #ffffff;
				@include br(50%);
				@include transition(all 0.3s);
			}
		}
	}
}

.radioWrap {
	width: 100%;
	padding: 15px 0 0 0;
	@include clearfix();
	> ul {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
		@include clearfix();
		> li {
			float: left;
			display: block;
			margin: 0 0 0 30px;
			&:first-child {
				margin: 0;
			}
			&.active {
				> a {
					&:before {
						background: #82ca9c;
					}
				}
			}
			> a {
				position: relative;
				display: block;
				font-size: 1em;
				line-height: 20px;
				font-weight: 400;
				color: #ffffff;
				text-transform: uppercase;
				text-decoration: none;
				cursor: pointer;
				margin: 0;
				padding: 0 0 0 30px;
				&:before {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					display: block;
					width: 20px;
					height: 20px;
					background: #ffffff;
					border: 5px solid #ffffff;
					@include br(50%);
					@include transition(all 0.3s);
				}
			}
		}
	}
}

.pointsWrap {
	width: 100%;
	padding: 10px 0 0 0;
	&:empty {
		padding: 0;
	}
	.radioWrap {
		> ul {
			> li {
				&.active {
					> a {
						&:before {
							background: #82ca9c;
						}
					}
				}
				> a {
					color: #82ca9c;
					&:before {
						background: #ffffff;
						border: 5px solid #82ca9c;
					}
				}
			}
		}
	}
	.pointsWrapIn {
		position: relative;
		width: 100%;
		min-height: 184px;
		margin: 5px 0 0 0;
		padding: 0 80px 0 220px;
		background: #ffffff;
		&:first-child {
			margin: 0;
		}

		.pointsWrapInDots {
			position: absolute;
			left: 0;
			top: 0;
			width: 35px;
			height: 184px;
			> span {
				position: absolute;
				display: block;
				width: 4px;
				height: 4px;
				background: #82ca9c;
				@include br(50%);
				&:first-child {
					left: 10px;
					top: 10px;
					+ span {
						left: 10px;
						top: 26px;
						+ span {
							left: 10px;
							top: 42px;
							+ span {
								left: 10px;
								top: 58px;
								+ span {
									left: 10px;
									top: 74px;
									+ span {
										left: 10px;
										top: 90px;
										+ span {
											left: 10px;
											top: 106px;
											+ span {
												left: 10px;
												top: 122px;
												+ span {
													left: 10px;
													top: 138px;
													+ span {
														left: 10px;
														top: 154px;
														+ span {
															left: 10px;
															top: 170px;
															+ span {
																right: 10px;
																top: 10px;
																+ span {
																	right: 10px;
																	top: 26px;
																	+ span {
																		right: 10px;
																		top: 42px;
																		+ span {
																			right: 10px;
																			top: 58px;
																			+ span {
																				right: 10px;
																				top: 74px;
																				+ span {
																					right: 10px;
																					top: 90px;
																					+ span {
																						right: 10px;
																						top: 106px;
																						+ span {
																							right: 10px;
																							top: 122px;
																							+ span {
																								right: 10px;
																								top: 138px;
																								+ span {
																									right: 10px;
																									top: 154px;
																									+ span {
																										right: 10px;
																										top: 170px;
																									}
																								}
																							}
																						}
																					}
																				}
																			}
																		}
																	}
																}
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.pointsWrapInImg {
			position: absolute;
			left: 55px;
			top: 0;
			width: 134px;
			height: 184px;
			padding: 25px 0;
			.pointsWrapInImgInside {
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-position: center center;
				@include bsize(cover);
				@include br(50%);
			}
		}
		.pointsWrapInText {
			width: 100%;
			height: 184px;
			padding: 25px 0;
			display: table;
			.pointsWrapInTextRow {
				display: table-row;
				width: 100%;
				height: 100%;
				vertical-align: middle;
				.pointsWrapInTextCell {
					display: table-cell;
					width: 100%;
					vertical-align: middle;
					h2, h3 {
						display: block;
						width: 100%;
						margin: 0;
						padding: 0;
						font-size: 28px;
						line-height: 1;
						color: #82ca9c;
						text-transform: uppercase;
					}
					h2 {
						font-weight: 900;
						+ h3 {
							padding: 10px 0 0 0;
						}
					}
					h3 {
						font-weight: 400;
					}
				}
			}
		}
		.pointsWrapInTextToolbox {
			position: absolute;
			right: 20px;
			top: 0;
			width: 90px;
			height: 184px;
			.pointsWrapInTextToolboxTop {
				position: absolute;
				right: 0;
				top: 20px;
				> a {
					position: relative;
					display: block;
					width: 40px;
					height: 40px;
					line-height: 40px;
					font-size: 16px;
					text-align: center;
					text-decoration: none;
					text-indent: 1px;
					color: #ef4535;
					@include br(50%);
					@include transition(all 0.3s);
					&:hover {
						background: #ef4535;
						color: #ffffff !important;
					}
					i {
						display: block;
						line-height: inherit;
					}
					&:before {
						content: "";
						position: absolute;
						left: 0;
						top: 0;
						right: 0;
						bottom: 0;
						border: 1px solid #ef4535;
						@include br(50%);
					}
				}
			}
			.pointsWrapInTextToolboxBottom {
				width: 100%;
				height: 40px;
				position: absolute;
				right: 0;
				bottom: 20px;
				> a {
					position: absolute;
					bottom: 0;
					display: block;
					width: 40px;
					height: 40px;
					line-height: 40px;
					font-size: 16px;
					text-align: center;
					text-decoration: none;
					color: #85cb9e;
					@include br(50%);
					@include transition(all 0.3s);
					&:hover {
						background: #85cb9e;
						color: #ffffff !important;
					}
					i {
						position: absolute;
						left: 0;
						top: 0;
						display: block;
						width: 100%;
						line-height: inherit;
						text-indent: 1px;
						@include transition(opacity 0.3s);
						&.fa {
							text-indent: 0;
							font-size: 18px;
						}
					}
					&:before {
						content: "";
						position: absolute;
						left: 0;
						top: 0;
						right: 0;
						bottom: 0;
						border: 1px solid #85cb9e;
						@include br(50%);
					}
					&:first-child {
						right: 0;
						&.collapsed {
							+ a {
								@include opacity(0);
							}
							> i {
								@include opacity(1);
								&:first-child {
									+ i {
										@include opacity(0);
									}
								}
							}
						}
						> i {
							@include opacity(0);
							&:first-child {
								+ i {
									@include opacity(1);
								}
							}
						}
						+ a {
							left: 0;
						}
					}
				}
			}
		}
		.pointsWrapEditCollapse {
			margin: 0 -60px 0 -200px;
			.pointsWrapEditIn {
				padding: 10px 0 20px 0;
				@include clearfix();
				label {
					display: block;
					width: 100%;
					margin: 15px 0 0 0;
					padding: 0 0 0 0;
					font-weight: 400;
					position: relative;
					border: 1px solid #82ca9c;
				}
			}
		}
	}
}

.tripInsideTop {
	background: #fff8f1;
	.tripInsideTopImg {
		.tripInsideTopImgIn {
			position: relative;
			img {
				display: block;
				max-width: 100%;
			}
			i {
				@extend .editorsChoiceBadge;
			}
		}
		.tripInsideTopImgWrap {
			width: 100%;
			height: 560px;
			background-position: center center;
			background-repeat: no-repeat;
			@include bsize(cover);
		}
	}
	.tripInsideTopText {
		width: 100%;
		padding: 50px 0 0 0;
		.tripInsideTopUser {
			max-width: 70px;
			> a {
				display: block;
				width: 100%;
				height: 0;
				padding-bottom: 100%;
				background-repeat: no-repeat;
				background-position: center center;
				@include bsize(cover);
				@include br(50%);
			}
		}
		.tripInsideTopDescription {
			width: 100%;
			h2 {
				display: block;
				width: 100%;
				margin: 0;
				padding: 0;
				color: #1f222b;
				font-size: 28px;
				line-height: 1;
				font-weight: 900;
				text-transform: uppercase;
			}
			p {
				position: relative;
				display: block;
				width: 100%;
				margin: 0;
				padding: 24px 0 20px 0;
				font-size: 18px;
				line-height: 24px;
				font-weight: 400;
				color: #1f222b;
				&:after {
					content: "";
					display: block;
					width: 44px;
					height: 3px;
					position: absolute;
					left: 0;
					bottom: 0;
					background: #1f222b;
				}
			}
		}
		.tripInsideTopSocial {
			float: right;
			@include clearfix();
			> a {
				float: left;
				display: block;
				position: relative;
				width: 70px;
				height: 70px;
				margin: 0 0 0 30px;
				color: $color-scene-inside-top-info;
				text-decoration: none;
				font-size: 1.556em;
				i {
					position: absolute;
					left: 50%;
					top: 50%;
					z-index: 2;
					@include translate3d(-50%, -50%, 0);
				}
				&:before {
					content: "";
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					left: 0;
					top: 0;
					z-index: 1;
					border: 3px solid $color-scene-inside-top-info-social-border;
				}
				&:first-child {
					margin: 0;
				}
			}
		}
	}
}

.tripInsideBody {
	width: 100%;
	background: #fff8f1;
	padding: 0 0 80px 0;
	.tripInsidePoint {
		width: 100%;
		padding: 80px 0 0 0;
		.tripInsidePointImg {
			width: 100%;
			img {
				display: block;
				max-width: 100%;
			}
			.tripInsidePointImgWrap {
				width: 100%;
				height: 560px;
				background-position: center center;
				background-repeat: no-repeat;
				@include bsize(cover);
			}
		}
		.tripInsidePointText {
			width: 100%;
			padding: 40px 0 0 0;
			h2 {
				display: block;
				width: 100%;
				margin: 0;
				padding: 0;
				font-size: 28px;
				line-height: 28px;
				color: #1f222b;
				text-transform: uppercase;
				font-weight: 900;
			}
			h3 {
				display: block;
				width: 100%;
				margin: 0;
				padding: 0;
				font-size: 24px;
				line-height: 28px;
				color: #1f222b;
				text-transform: uppercase;
				font-weight: 400;
			}
			h4 {
				display: block;
				width: 100%;
				margin: 0;
				padding: 10px 0 0 0;
				font-size: 18px;
				line-height: 24px;
				color: #8c8c8c;
				font-weight: 400;
			}
			p {
				display: block;
				width: 100%;
				margin: 0;
				padding: 24px 0 48px 0;
				border-bottom: 1px solid #b3b3b3;
				font-size: 18px;
				line-height: 24px;
				color: #4c4c4c;
				font-weight: 400;
			}
			.tripInsidePointIcon {
				width: 100%;
				i {
					font-size: 66px;
					&:after {
						display: none;
					}
				}
			}
		}
	}
}

.addForm {
	padding: 0 40px;
	h3 {
		position: relative;
		margin: 0 0 15px 0;
		padding: 10px 0 15px 0;
		font-size: 1.222em;
		font-weight: 900;
		text-transform: uppercase;
		line-height: 1;
		color: $color-related-title;
		&:before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			bottom: 6px;
			height: 3px;
			background: $color-related-title;
		}
	}
	.form-group {
		> label {
			display: block;
			font-size: 1.111em;
			line-height: 30px;
			color: $color-related-title;
			cursor: pointer;
			margin: 0 0 6px 0;
		}
		.mapWrap {
			border: 2px solid $color-related-title;
			#map_canvas {
				height: 320px;
			}
		}
	}
}

.mtInputWrap {
	position: relative;
	height: 36px;
	padding-right: 34px;
	margin: 0;
	outline: none;
	border: 2px solid $color-related-title;
	color: $color-related-title;
	background: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	input {
		display: block;
		width: 100%;
		height: 32px;
		line-height: 26px;
		padding: 3px 10px;
		font-size: 0.889em;
		margin: 0;
		outline: none;
		border: none;
		color: $color-related-title;
		background: #fff;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	button {
		&.mtModalBtn {
			position: absolute;
			right: -2px;
			top: -2px;
			width: 36px;
			height: 36px;
			line-height: 36px;
			padding: 0;
			font-size: 28px;
			background: lighten($color-related-title, 30%);
			color: #ffffff;
			text-align: center;
			border: none;
			outline: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			@include transition(all 0.3s);
			&:hover {
				background: $color-related-title;
			}
		}
	}
}

.mtInput {
	display: block;
	width: 100%;
	height: 36px;
	line-height: 26px;
	padding: 3px 10px;
	font-size: 0.889em;
	margin: 0;
	outline: none;
	border: 2px solid $color-related-title;
	color: $color-related-title;
	background: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.mtInput::-webkit-input-placeholder {
	color: rgba($color-related-title, 0.4);
	@include transition(opacity 0.3s, color 0.3s);
}
.mtInput:-moz-placeholder {
	color: rgba($color-related-title, 0.4);
	@include transition(opacity 0.3s, color 0.3s);
}
.mtInput::-moz-placeholder {
	color: rgba($color-related-title, 0.4);
	@include transition(opacity 0.3s, color 0.3s);
}
.mtInput:-ms-input-placeholder {
	color: rgba($color-related-title, 0.4);
	@include transition(opacity 0.3s, color 0.3s);
}
.mtInput:focus::-webkit-input-placeholder {
	color: $color-related-title;
}
.mtInput:focus:-moz-placeholder {
	color: $color-related-title;
}
.mtInput:focus::-moz-placeholder {
	color: $color-related-title;
}
.mtInput:focus:-ms-input-placeholder {
	color: $color-related-title;
}

textarea.mtInput {
	max-width: 100%;
	height: auto;
	resize: none;
	overflow: auto;
}

.mtTags, .mtSelect {
	position: relative;
	display: block;
	width: 100%;
	padding: 0 10px 5px 0;
	background: #ffffff;
	border: 2px solid $color-related-title;
	@include clearfix();
	> h2 {
		position: relative;
		float: left;
		display: block;
		width: auto;
		height: 22px;
		line-height: 22px;
		margin: 5px 0 0 10px;
		padding: 0 20px 0 8px;
		font-size: 10px;
		font-weight: 700;
		text-transform: uppercase;
		color: #808080;
		background: #f2f2f2;
		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			border: 1px solid #cccccc;
			z-index: 1;
		}
		span, a {
			position: relative;
			display: block;
			float: left;
			z-index: 2;
		}
		a {
			position: absolute;
			right: 0;
			top: 0;
			width: 20px;
			height: 100%;
			font-size: 8px;
			line-height: inherit;
			text-align: center;
			text-decoration: none;
			color: inherit;
			@include transition(all 0.3s);
			&:hover {
				color: #ef4130;
			}
		}
	}
	> label {
		position: relative;
		float: left;
		display: block;
		width: 200px;
		height: 22px;
		margin: 5px 0 0 10px;
		font-weight: inherit;
		> input {
			position: relative;
			z-index: 1;
			display: block;
			width: 100%;
			height: 22px;
			line-height: 16px;
			padding: 2px 30px 2px 8px;
			border: 1px solid $color-related-title;
			color: $color-related-title;
			font-size: 0.667em;
			text-transform: uppercase;
			outline: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			@include transition(opacity 0.3s, color 0.3s);
		}
		> input::-webkit-input-placeholder {
			color: rgba($color-related-title, 0.4);
			@include transition(opacity 0.3s, color 0.3s);
		}
		> input:-moz-placeholder {
			color: rgba($color-related-title, 0.4);
			@include transition(opacity 0.3s, color 0.3s);
		}
		> input::-moz-placeholder {
			color: rgba($color-related-title, 0.4);
			@include transition(opacity 0.3s, color 0.3s);
		}
		> input:-ms-input-placeholder {
			color: rgba($color-related-title, 0.4);
			@include transition(opacity 0.3s, color 0.3s);
		}
		> input:focus::-webkit-input-placeholder {
			color: $color-related-title;
		}
		> input:focus:-moz-placeholder {
			color: $color-related-title;
		}
		> input:focus::-moz-placeholder {
			color: $color-related-title;
		}
		> input:focus:-ms-input-placeholder {
			color: $color-related-title;
		}
		> button {
			position: absolute;
			right: 0;
			top: 0;
			z-index: 2;
			display: block;
			width: 22px;
			height: 22px;
			line-height: 22px;
			text-align: center;
			font-size: 20px;
			margin: 0;
			padding: 0;
			color: #fff;
			background: lighten($color-related-title, 30%);
			border: none;
			outline: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			@include transition(all 0.3s);
			&:hover {
				background: $color-related-title;
			}
		}
	}
	> button {
		float: left;
		display: block;
		margin: 5px 0 0 10px;
		height: 22px;
		line-height: 22px;
		padding: 0 8px;
		font-size: 0.667em;
		text-transform: uppercase;
		color: #fff;
		background: lighten($color-related-title, 30%);
		border: none;
		outline: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		@include transition(all 0.3s);
		&:hover {
			background: $color-related-title;
		}
	}
	> .dropdown-menu {
		left: -2px;
		right: -2px;
		z-index: 100;
		min-width: 0;
		max-height: 300px;
		overflow: auto;
		padding: 0;
		margin: 0;
		font-size: inherit;
		text-align: left;
		background-color: #ffffff;
		border: 2px solid $color-related-title;
		border-top: none;
		@include br(0);
		@include bs(none);
		> li {
			> a, > button {
				display: block;
				width: 100%;
				padding: 3px 10px;
				line-height: 1.25;
				white-space: normal;
				font-size: 0.889em;
				border: none;
				outline: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				background-color: transparent;
				text-align: inherit;
				span {
					&.highlight {
						color: #ffffff;
						background-color: $color-related-title;
					}
				}
				&:hover, &:focus {
					text-decoration: none;
					color: #ffffff;
					background-color: $color-related-title;
				}
				&.selected {
					color: #ffffff;
					background-color: $color-related-title;
				}
			}
		}
	}
	&.mtSelect {
		padding: 0;
		> button {
			position: relative;
			width: 100%;
			float: none;
			margin: 0;
			height: 32px;
			line-height: 32px;
			padding: 0 30px 0 10px;
			font-size: 0.889em;
			text-transform: none;
			color: $color-related-title;
			background: #ffffff;
			border: none;
			outline: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			text-align: left;
			&:after {
				content: $fnicon-chevron-down;
				display: block;
				position: absolute;
				right: 10px;
				top: 0;
				height: 32px;
				line-height: 32px;
				font-size: 12px;
				color: $color-related-title;
				@extend .fnicon;
			}
		}
	}
	&.open {
		> button {
			background: $color-related-title;
		}
	}
}
.mtImage {
	position: relative;
	height: 370px;
	border: 2px solid $color-related-title;
	@include clearfix();
	&.mtMovieImage {
		height: 464px;
		.mtImageLeft {
			width: 32.2%;
		}
		.mtImageRight {
			width: 67.8%;
		}
	}
	.mtImageLeft, .mtImageRight {
		float: left;
		display: table;
		height: 100%;
		padding: 30px;
		> div {
			display: table-row;
			vertical-align: middle;
			width: 100%;
			height: 100%;
			> div {
				position: relative;
				display: table-cell;
				vertical-align: middle;
				width: 100%;
				height: 100%;
				padding: 20px;
			}
		}
	}
	.mtImageLeft {
		width: 55%;
		.mtImageLeftIn {
			.mtImageLeftInside {
				position: relative;
				border: 2px solid $color-related-title;
				text-align: center;
				&:before {
					content: "";
					display: block;
					width: 40px;
					height: 40px;
					position: absolute;
					left: 50%;
					top: 50%;
					@include translate(-50%, -50%);
					background-position: center center;
					background-repeat: no-repeat;
					@include bsize(40px);
					background-image: url(../img/loader.svg);
					@include opacity(0);
					@include transition(opacity 0.3s);
				}
				&.loading {
					&:before {
						@include opacity(1);
					}
					h2 {
						@include opacity(0);
					}
					figure {
						@include opacity(0);
					}
				}
				h2 {
					display: block;
					font-size: 1.111em;
					line-height: 1;
					color: $color-related-title;
					font-weight: 900;
					text-transform: uppercase;
					@include transition(opacity 0.3s);
				}
				figure {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					display: block;
					overflow: hidden;
					@include transition(opacity 0.3s);
					img {
						position: absolute;
						display: block;
						max-height: 100%;
						top: 0;
						left: 50%;
						@include translate(-50%, 0);
					}
				}
			}
		}
	}
	.mtImageRight {
		width: 45%;
		.mtImageRightIn {
			.mtImageRightInside {
				label {
					display: block;
					font-weight: inherit;
					@include clearfix();
					button, span {
						display: table;
						margin: 0 auto;
						height: 36px;
						line-height: 36px;
						padding: 0 10px;
						font-size: 0.889em;
						text-transform: uppercase;
						text-align: center;
						background: lighten($color-related-title, 30%);
						color: #fff;
						border: none;
						outline: none;
						-webkit-appearance: none;
						-moz-appearance: none;
						appearance: none;
						cursor: pointer;
						@include transition(all 0.3s);
						&:hover {
							background: $color-related-title;
						}
					}
				}
				> span {
					display: block;
					text-align: center;
					font-size: 0.778em;
					line-height: 1.25;
					padding: 10px 0 0 0;
					color: $color-related-title;
					a {
						color: inherit;
						text-decoration: underline;
						font-weight: 900;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}

.tripInsideMap {
	width: 100%;
	height: 640px;
	#map_canvas {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}
}

.profilePostStatus {
	width: 100%;
	height: 50px;
	color: #ffffff;
	&.approved {
		background: #82ca9c;
	}
	&.pending {
		background: #ffeca8;
		color: #1f222b;
	}
	&.rejected {
		background: #ef4130;
	}
	h2 {
		display: block;
		width: 100%;
		height: 50px;
		line-height: 50px;
		margin: 0;
		padding: 0 15px;
		text-align: center;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1em;
		color: inherit;
	}
}

.disabledThumb {
	@include transition(opacity 0.3s);
	@include opacity(0.5);
	pointer-events: none !important;
	a {
		pointer-events: none !important;
	}
}

.pageNext {
	clear: both;
	width: auto!important;
	height: auto!important;
	padding: 15px;
	text-align: center;
	a, button {
		display: inline-block;
		position: relative;
		z-index: 1;
		height: 40px;
		line-height: 20px;
		margin: 0;
		padding: 10px 15px;
		font-size: 1em;
		font-weight: 400;
		color: #ffffff;
		background-color: #82ca9c;
		background-repeat: no-repeat;
		background-position: center center;
		@include bsize(40px auto);
		text-transform: uppercase;
		text-decoration: none;
		@include transition(all 0.3s);
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: none;
		outline: none;
		&.closeModal {
			background-color: lighten(#1b2d31, 20%);
			&:hover {
				background-color: #1b2d31;
			}
		}
		&:hover {
			background-color: #1b2d31;
		}
		&.loading {
			background-image: url(../img/loader.svg);
			background-color: rgba(#1b2d31, 0);
			color: rgba(#ffffff, 0);
			pointer-events: none;
			@include user-select(none);
		}
	}
}

.androidPopup {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(45deg, rgba(0, 167, 157, 1) 0%, rgba(39, 170, 225, 1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0, 167, 157, 1)), color-stop(100%, rgba(39, 170, 225, 1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(45deg, rgba(0, 167, 157, 1) 0%, rgba(39, 170, 225, 1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(45deg, rgba(0, 167, 157, 1) 0%, rgba(39, 170, 225, 1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(0, 167, 157, 1) 0%, rgba(39, 170, 225, 1) 100%); /* ie10+ */
	background: linear-gradient(45deg, rgba(0, 167, 157, 1) 0%, rgba(39, 170, 225, 1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#27AAE1', endColorstr='#00A79D', GradientType=1); /* ie6-9 */
	@include transition(all 0.3s);
	@include opacity(0);
	visibility: hidden;
	z-index: -1;
	&.open {
		@include opacity(1);
		visibility: visible;
		z-index: 1000;
	}
	.androidPopupTop {
		position: absolute;
		left: 0;
		top: 15.9%;
		width: 100%;
		.androidPopupTopLogo {
			a {
				display: block;
				img {
					display: block;
					margin: 0 auto;
					max-width: 77px;
				}
			}
		}
		.androidPopupTopText {
			padding: 5.25% 0 0 0;
			p {
				display: block;
				margin: 0;
				padding: 0;
				font-size: 20px;
				line-height: 28px;
				font-weight: 300;
				color: #d3f9ff;
				a {
					display: block;
					color: inherit;
					text-decoration: none;
					text-align: center;
					font-weight: 300;
					strong {
						font-weight: 400;
					}
				}
			}
		}
		.androidPopupTopImg {
			padding: 6.75% 0 0 0;
			a {
				display: block;
				img {
					display: block;
					margin: 0 auto;
					max-width: 171px;
				}
			}
		}
	}
	.androidPopupBottom {
		position: absolute;
		left: 0;
		bottom: 8.4%;
		width: 100%;
		a {
			display: block;
			font-size: 12px;
			line-height: 16px;
			font-weight: 300;
			color: #d3f9ff;
			text-align: center;
			text-decoration: none;
			span {
				display: block;
			}
			i {
				position: relative;
				display: block;
				width: 40px;
				height: 40px;
				line-height: 40px;
				font-size: 16px;
				margin: 10px auto 0 auto;
				&:after {
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					border: 1px solid #d3f9ff;
					@include br(50%);
				}
			}
		}
	}
}

.loadingSection {
	position: relative;
	min-height: 200px;
	overflow: hidden;
	@include transition(height 0.3s);
	&:before {
		content: "";
		display: block;
		width: 50px;
		height: 50px;
		background-image: url(../img/loader.svg);
		background-repeat: no-repeat;
		background-position: center center;
		@include bsize(100%);
		position: absolute;
		left: 50%;
		top: 50%;
		visibility: visible;
		@include translate(-50%, -50%);
		@include opacity(1);
	}
	> * {
		@include opacity(0);
		visibility: hidden;
		@include transition(opacity 0.3s);
	}
}

.modal-open {
	.mtModal {
		overflow: hidden;
		overflow-y: scroll;
		padding-right: 0!important;
	}
	header {
		padding-right: 17px;
	}
}

$mt-modal-header-height: 51px;
$mt-modal-footer-height: 51px;

.mtModal {
	overflow: hidden;
	overflow-y: scroll;
	padding-right: 0!important;
	.modal-dialog {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 30px;
		padding-bottom: 30px;
		height: 100%;
		.modal-content {
			height: 100%;
			padding-top: $mt-modal-header-height;
			padding-bottom: $mt-modal-footer-height;
			@include box-shadow(0 5px 15px rgba($color-related-title, 0.5));
			@include br(0);
			.modal-header {
				top: 0;
				height: $mt-modal-header-height;
				line-height: $mt-modal-header-height - 1px;
				border-color: $color-related-title;
				h4, button {
					display: block;
					line-height: inherit;
				}
				h4 {
					float: left;
					font-size: 1.333em;
					color: $color-related-title;
					font-weight: 900;
					text-transform: uppercase;
				}
				button {
					width: $mt-modal-header-height - 1px;
					text-align: center;
					margin-right: -10px;
					font-size: 18px;
					margin-top: 0;
					@include opacity(0.5);
					color: $color-related-title;
					&:hover, &:focus {
						@include opacity(1);
					}
					span, i {
						display: block;
						line-height: inherit;
					}
				}
			}
			.modal-footer {
				bottom: 0;
				height: $mt-modal-footer-height;
				line-height: $mt-modal-footer-height - 1px;
				border-color: $color-related-title;
				.mtModalFooterBtns {
					display: table;
					margin: 0 auto;
					.pageNext {
						padding: 10px 0;
						line-height: 1;
						> a, > button {
							height: 30px;
							line-height: 20px;
							margin: 0;
							padding: 5px 10px;
							font-size: 0.889em;
							@include bsize(30px auto);
						}
					}
				}
			}
			.modal-header, .modal-body, .modal-footer {
				padding: 0 10px;
			}
			.modal-header, .modal-footer {
				position: absolute;
				left: 0;
				width: 100%;
				z-index: 10;
				background: #ffffff;
			}
			.modal-body {
				height: 100%;
				overflow: auto;
				.addForm {
					padding-top: 10px;
					padding-bottom: 10px;
				}
				.mtImage {
					&.mtMovieImage {
						.mtImageLeft {
							width: 44.5%;
						}
						.mtImageRight {
							width: 55.5%;
						}
					}
				}
			}
		}
	}
}

::-webkit-file-upload-button {
	cursor: pointer;
}

.container {
	padding-left: 0;
	padding-right: 0;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

[class*="col-"] {
	padding-left: 0;
	padding-right: 0;
}

input, textarea {
	@include br(0);
	@include bs(none);
	outline: none;
}

.form-group {
	@include clearfix();
}

@media #{$lg} {
	body {
		padding-top: 76px;
	}
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.row {
		margin-left: -15px;
		margin-right: -15px;
	}
	[class*="col-"] {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media #{$md} {
	body {
		padding-top: 60px;
	}
	.promoBlock {
		&.loading {
			&.notfound {
				a.promoBlockInfo {
					> div {
						h3 {
							max-height: 46px;
						}
					}
				}
			}
		}
		a.promoBlockInfo {
			> div {
				padding: 0 20px 20px 20px;
				h3 {
					font-size: 1.111em;
				}
			}
		}
		&.createBlock {
			a {
				font-size: 2.111em;
				line-height: 1.05;
				padding: 30px;
			}
		}
	}
	.quoteBlock {
		.quoteBlockText {
			h3, h4 {
				font-size: 1em;
				line-height: 1.2;
			}
			h4 {
				padding: 0;
			}
		}
	}
	a.movieThumb {
		height: 340px;
		&.moviesFilter {
			div {
				font-size: 2.111em;
				padding: 30px;
			}
		}
	}
	a.specialLocation {
		.specialLocationCaption {
			h3 {
				font-size: 0.889em;
				max-height: 95px;
			}
			h4 {
				margin: 8px 0 0 0;
				font-size: 0.556em;
			}
		}
	}
	.visitBlock {
		h3 {
			font-size: 1em;
		}
	}
	.container {
		width: 100%;
		padding-left: 60px;
		padding-right: 60px;
	}
	.row {
		margin-left: -15px;
		margin-right: -15px;
	}
	[class*="col-"] {
		padding-left: 15px;
		padding-right: 15px;
	}
	.relatedWrap {
		padding: 20px 0 5px 0;
	}
}

@media #{$sm} {
	body {
		padding-top: 50px;
	}
	.promoBlock {
		a.promoBlockInfo {
			padding: 20px;
			@include opacity(1);
			> div {
				padding: 0 20px 20px 20px;
				@include clearfix();
				h3 {
					font-size: 1.111em;
				}
				h3, h4 {
					float: left;
					width: auto;
					padding: 5px 10px;
					clear: both;
				}
				h4 {
					margin: 2px 0 0 0;
				}
			}
		}
		span.promoBlockAuthor {
			@include opacity(1);
			& + a.promoBlockInfo {
				> div {
					padding: 0 20px 50px 20px;
				}
			}
		}
		&.locationBlock {
			a.promoBlockInfo {
				> div {
					h3, h4 {
						background: $color-location-inside-top-title-bg;
					}
				}
			}
		}
		&.sceneBlock {
			a.promoBlockInfo {
				> div {
					h3, h4 {
						background: $color-scene-inside-top-title-bg;
					}
				}
			}
		}
		&.blogBlock {
			a.promoBlockInfo {
				&:before {
					background: rgba($color-promo-blog-block-bg, 0.7);
				}
				> div {
					h3, h4 {
						background: rgba($color-promo-blog-block-bg, 0.7);
					}
				}
			}
		}
		&.locationInsideBlock {
			a {
				h3 {
					display: none;
				}
				div {
					@include opacity(1);
					h4 {
						padding: 10px;
						background: $color-location-inside-top-title-bg;
					}
				}
			}
		}
		&.movieBlock {
			a.promoBlockInfo {
				@include opacity(1);
				&:before {
					background: $color-promo-movie-block-bg;
				}
				&:hover {
					&:before {
						@include opacity(0.8);
					}
				}
			}
			a.promoBlockInfo {
				> div {
					padding: 0 20px 20px 20px;
					h4 {
						display: block;
						display: -webkit-box;
						height: 58px;
						-webkit-line-clamp: 4;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}
			&:hover {
				> div.promoBlockImg {
					//-webkit-filter: blur(5px);
					//filter: blur(5px);
				}
			}
		}
		&.loading {
			a {
				div {
					h3, h4 {
						background: transparent!important;
						padding: 0!important;
					}
				}
			}
			&.notfound {
				a.promoBlockInfo {
					> div {
						h3 {
							max-height: 46px;
						}
					}
				}
			}
		}
	}
	.quoteBlock {
		.quoteBlockText {
			h3, h4 {
				font-size: 1em;
				line-height: 1.2;
			}
			h4 {
				padding: 0;
			}
		}
	}
	a.movieThumb {
		height: 340px;
	}
	.thumbBtns {
		right: 10px;
	}
	a.specialLocation {
		.specialLocationCaption {
			h3 {
				font-size: 0.778em;
			}
			h4 {
				font-size: 0.556em;
			}
		}
	}
	.visitBlock {
		h3 {
			font-size: 1em;
		}
	}
	.badgeBlock {
		right: 20px;
		border-left-width: 2px;
		border-right-width: 2px;
		overflow: hidden;
		&:before, &:after {
			border-width: 2px;
		}
	}
	.tripsInside {
		padding: 12px 0;
		> .container {
			> .row {
				> div {
					padding-top: 12px;
					padding-bottom: 12px;
				}
			}
		}
	}
	.tripInsideTop {
		.tripInsideTopText {
			.tripInsideTopSocial {
				width: auto;
				float: right;
				> a {
					width: 50px;
					height: 50px;
					margin: 0 0 0 20px;
					font-size: 1.222em;
				}
			}
		}
	}
	.tripInsideBody {
		width: 100%;
		background: #fff8f1;
		padding: 0 0 80px 0;
		.tripInsidePoint {
			width: 100%;
			padding: 80px 0 0 0;
			.tripInsidePointImg {
				width: 100%;
				img {
					display: block;
					max-width: 100%;
				}
				.tripInsidePointImgWrap {
					width: 100%;
					height: 560px;
					background-position: center center;
					background-repeat: no-repeat;
					@include bsize(cover);
				}
			}
			.tripInsidePointText {
				width: 100%;
				padding: 40px 0 0 0;
				h2 {
					display: block;
					width: 100%;
					margin: 0;
					padding: 0;
					font-size: 28px;
					line-height: 28px;
					color: #1f222b;
					text-transform: uppercase;
					font-weight: 900;
				}
				h3 {
					display: block;
					width: 100%;
					margin: 0;
					padding: 0;
					font-size: 24px;
					line-height: 28px;
					color: #1f222b;
					text-transform: uppercase;
					font-weight: 400;
				}
				h4 {
					display: block;
					width: 100%;
					margin: 0;
					padding: 10px 0 0 0;
					font-size: 18px;
					line-height: 24px;
					color: #8c8c8c;
					font-weight: 400;
				}
				p {
					display: block;
					width: 100%;
					margin: 0;
					padding: 24px 0 48px 0;
					border-bottom: 1px solid #b3b3b3;
					font-size: 18px;
					line-height: 24px;
					color: #4c4c4c;
					font-weight: 400;
				}
				.tripInsidePointIcon {
					width: 100%;
					i {
						font-size: 66px;
						&:after {
							display: none;
						}
					}
				}
			}
		}
	}
	.container {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	.row {
		margin-left: -10px;
		margin-right: -10px;
	}
	[class*="col-"] {
		padding-left: 10px;
		padding-right: 10px;
	}
	.relatedWrap {
		 padding: 10px 0;
		 .relatedIn {
			 > .container {
				 > .row {
					 > div {
						 padding-top: 0;
						 padding-bottom: 0;
					 }
				 }
			 }
			 &.relatedMovies {
				 > .container {
					 > .row {
						 > div {
							 + div + div + div {
								 display: none;
							 }
						 }
					 }
				 }
			 }
		 }
	 }
	.mtModal {
		.modal-dialog {
			width: 94%;
		}
	}
}

@media #{$smPortrait} {

}

@media #{$xs} {
	body {
		padding-top: 50px;
	}
	.styledCheckbox {
		label {
			font-size: 0.889em;
			span {
				padding: 0 0 0 20px;
			}
		}
	}
	.promoBlock {
		a.promoBlockInfo {
			padding: 20px;
			@include opacity(1);
			> div {
				padding: 0 20px 20px 20px;
				@include clearfix();
				h3 {
					font-size: 1.111em;
				}
				h3, h4 {
					float: left;
					width: auto;
					padding: 5px 10px;
					clear: both;
				}
				h4 {
					margin: 2px 0 0 0;
				}
			}
		}
		span.promoBlockAuthor {
			@include opacity(1);
			& + a.promoBlockInfo {
				> div {
					padding: 0 20px 50px 20px;
				}
			}
		}
		&.locationBlock {
			a.promoBlockInfo {
				> div {
					h3, h4 {
						background: $color-location-inside-top-title-bg;
					}
				}
			}
		}
		&.sceneBlock {
			a.promoBlockInfo {
				> div {
					h3, h4 {
						background: $color-scene-inside-top-title-bg;
					}
				}
			}
		}
		&.blogBlock {
			a.promoBlockInfo {
				&:before {
					background: $color-promo-blog-block-bg;
				}
				> div {
					h3, h4 {
						background: $color-promo-blog-block-bg;
					}
				}
			}
		}
		&.locationInsideBlock {
			a {
				h3 {
					display: none;
				}
				div {
					@include opacity(1);
					h4 {
						padding: 10px;
						background: $color-location-inside-top-title-bg;
					}
				}
			}
		}
		&.movieBlock {
			a.promoBlockInfo {
				@include opacity(1);
				&:before {
					background: $color-promo-movie-block-bg;
				}
				&:hover {
					&:before {
						@include opacity(0.8);
					}
				}
			}
			a.promoBlockInfo {
				> div {
					padding: 0 20px 20px 20px;
					h4 {
						display: block;
						display: -webkit-box;
						height: 58px;
						-webkit-line-clamp: 4;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}
			&:hover {
				> div.promoBlockImg {
					//-webkit-filter: blur(5px);
					//filter: blur(5px);
				}
			}
		}
		&.loading {
			a {
				div {
					h3, h4 {
						background: transparent!important;
						padding: 0!important;
					}
				}
			}
			&.notfound {
				a.promoBlockInfo {
					> div {
						h3 {
							max-height: 46px;
						}
					}
				}
			}
		}
	}
	.quoteBlock {
		.quoteBlockText {
			h3, h4 {
				font-size: 1em;
				line-height: 1.2;
			}
			h4 {
				padding: 0;
			}
		}
	}
	a.movieThumb {
		height: auto;
		figure {
			img {
				display: block;
				height: auto;
				width: 100%;
				position: static;
				top: auto;
				left: auto;
				@include translate(0, 0);
			}
		}
	}
	.thumbBtns {
		right: 8px;
	}
	a.specialLocation {
		.specialLocationCaption {
			h3 {
				font-size: 0.778em;
			}
			h4 {
				font-size: 0.556em;
			}
		}
	}
	.visitBlock {
		h3 {
			font-size: 1em;
		}
	}
	.badgeBlock {
		right: 20px;
		border-left-width: 2px;
		border-right-width: 2px;
		overflow: hidden;
		&:before, &:after {
			border-width: 2px;
		}
	}
	.radioWrap {
		> ul {
			> li {
				margin: 0 0 0 15px;
				> a {
					font-size: 0.889em;
					padding: 0 0 0 26px;
					&:before {
						top: 2px;
						width: 16px;
						height: 16px;
						border: 4px solid #ffffff;
					}
				}
			}
		}
	}
	.tripInsideTop {
		.tripInsideTopText {
			width: 100%;
			padding: 20px 0 0 0;
			.tripInsideTopDescription {
				padding: 20px 0 0 0;
				h2 {
					font-size: 20px;
				}
				p {
					padding: 10px 0 16px 0;
					font-size: 16px;
					line-height: 20px;
					&:after {
						height: 2px;
					}
				}
			}
			.tripInsideTopSocial {
				padding-top: 15px;
				> a {
					width: 40px;
					height: 40px;
					margin: 0 0 0 15px;
					font-size: 1em;
					&:before {
						border: 2px solid $color-scene-inside-top-info-social-border;
					}
				}
			}
		}
	}
	.tripInsideBody {
		padding: 0 0 30px 0;
		.tripInsidePoint {
			width: 100%;
			padding: 20px 0 0 0;
			.tripInsidePointText {
				width: 100%;
				padding: 20px 0 0 0;
				h2 {
					font-size: 20px;
					line-height: 20px;
				}
				h3 {
					font-size: 16px;
					line-height: 20px;
				}
				h4 {
					font-size: 14px;
					line-height: 18px;
				}
				p {
					padding: 18px 0 20px 0;
					border-bottom: 1px solid #b3b3b3;
					font-size: 14px;
					line-height: 18px;
				}
				.tripInsidePointIcon {
					width: 100%;
					i {
						font-size: 66px;
						&:after {
							display: none;
						}
					}
				}
			}
		}
	}
	.container {
		width: 100%;
		padding-left: 16px;
		padding-right: 16px;
	}
	.row {
		margin-left: -8px;
		margin-right: -8px;
	}
	[class*="col-"] {
		padding-left: 8px;
		padding-right: 8px;
	}
	.relatedWrap {
		padding: 10px 0;
		.relatedIn {
			padding: 0;
			> .container {
				> .row {
					> div {
						padding-top: 8px;
						padding-bottom: 8px;
					}
				}
			}
		}
	}
	.tripsInside {
		padding: 8px 0;
		> .container {
			> .row {
				> div {
					padding-top: 8px;
					padding-bottom: 8px;
				}
			}
		}
	}
}

/* end Main Styles */

/* layouts */

/* partials */

@import "partials/header";
@import "partials/footer";
@import "home";
@import "location-inside";
@import "scene-inside";
@import "movie-inside";
@import "blog-inside";
@import "profile";
@import "reg";
@import "map";
@import "static";
@import "filter";
//@import "bootstrap-select";
@import "perfect-scrollbar";
@import "swiper";
@import "loading";

////////////////////////////////////////////////////////////////* RETINA MEDIA*/

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 767px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 767px),
only screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
only screen and (min-resolution: 192dpi) and (max-width: 767px),
only screen and (min-resolution: 2dppx) and (max-width: 767px) {

}